gate-carousel {
  @apply fixed bottom-0 left-0 right-0;
  @apply md:hidden;
  @apply z-30;
  @apply mx-6 mb-6;
  @apply rounded-xl;
  @apply bg-white;
  @apply drop-shadow-xl;

  &.animate {
    animation: 0.4s ease-out 0s 1 normal forwards running gate-carousel-popin;
  }

  .animate-gate0 {
    animation: 0.5s ease-out 0s 1 normal forwards running gate-popin;
  }

  .animate-gate1 {
    animation: 0.6s ease-out 0s 1 normal forwards running gate-popin;
  }

  .animate-gate2 {
    animation: 0.7s ease-out 0s 1 normal forwards running gate-popin;
  }

  .animate-gate3 {
    animation: 0.8s ease-out 0s 1 normal forwards running gate-popin;
  }

  @keyframes gate-carousel-popin {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-136px);
    }
    100% {
      transform: translateY(-120px);
    }
  }

  @keyframes gate-popin {
    0% {
      transform: translateY(0px);
    }
    20% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-112px);
    }
    100% {
      transform: translateY(-96px);
    }
  }
}
