<div
  id="circle-notation-mode-toggle"
  class="absolute left-0 -bottom-14 z-30 flex h-auto w-auto items-center rounded-xl bg-white px-2 py-2 drop-shadow-md md:rounded-2xl"
>
  <div class="flex flex-row gap-1">
    <button
      class="cursor-pointer rounded-lg border-2 border-sky-300 p-0.5"
      data-target="circle-notation.basicCircleNotationButton"
      data-action="click:circle-notation#startBasicCircleNotationMode"
    >
      <div class="relative h-6 w-6 rounded-full">
        <div class="absolute inset-0 rounded-full border border-slate-500"></div>
        <div class="absolute inset-0 scale-[0.7] transform rounded-full bg-sky-500"></div>
        <div class="absolute inset-0 mx-auto h-1/2 w-px origin-bottom rotate-[135deg] transform bg-slate-900"></div>
      </div>
    </button>

    <button
      class="cursor-pointer rounded-lg border-2 border-transparent p-0.5 hover:border-slate-300"
      data-target="circle-notation.coloredPhaseButton"
      data-action="click:circle-notation#startColoredPhaseMode"
    >
      <%= render ColoredPhaseIconComponent.new(size: 6) %>
    </button>
  </div>
</div>
