<button-group
  id="circle-notation-mode-switch"
  role="group"
  class="flex h-auto w-auto flex-row gap-1 rounded-xl bg-white px-2 py-2 drop-shadow-md sm:rounded-2xl"
>
  <button
    aria-label="Basic mode"
    class="p-0.5"
    data-targets="button-group.buttons"
    data-action="click:button-group#activateButton click:circle-notation-panel#startBasicCircleNotationMode"
    data-active
  >
    <%= render QniIconComponent.new(size: 6) %>
  </button>

  <button
    aria-label="Color phase mode"
    class="p-0.5"
    data-targets="button-group.buttons"
    data-action="click:button-group#activateButton click:circle-notation-panel#startColorPhaseMode"
  >
    <%= render ColorPhaseIconComponent.new(size: 6) %>
  </button>
</button-group>
