<div id="palette" class="flex flex-row space-x-2 rounded-xl bg-white px-4 py-5 drop-shadow-xl">
  <palette-dropzone>
    <h-gate data-hoverable></h-gate>
  </palette-dropzone>
  <palette-dropzone>
    <x-gate data-hoverable></x-gate>
  </palette-dropzone>
  <palette-dropzone>
    <y-gate data-hoverable></y-gate>
  </palette-dropzone>
  <palette-dropzone>
    <z-gate data-hoverable></z-gate>
  </palette-dropzone>
  <palette-dropzone>
    <phase-gate data-angle="π/2" data-hoverable></phase-gate>
  </palette-dropzone>
  <palette-dropzone>
    <t-gate data-hoverable></t-gate>
  </palette-dropzone>
  <palette-dropzone>
    <rnot-gate data-hoverable></rnot-gate>
  </palette-dropzone>
  <palette-dropzone>
    <rx-gate data-angle="π/2" data-hoverable></rx-gate>
  </palette-dropzone>
  <palette-dropzone>
    <ry-gate data-angle="π/2" data-hoverable></ry-gate>
  </palette-dropzone>
  <palette-dropzone>
    <rz-gate data-angle="π/2" data-hoverable></rz-gate>
  </palette-dropzone>
  <palette-dropzone>
    <qft-gate data-hoverable></qft-gate>
  </palette-dropzone>
  <palette-dropzone>
    <qft-dagger-gate data-hoverable></qft-dagger-gate>
  </palette-dropzone>
  <palette-dropzone>
    <swap-gate data-hoverable></swap-gate>
  </palette-dropzone>
  <palette-dropzone>
    <control-gate data-hoverable></control-gate>
  </palette-dropzone>
  <palette-dropzone>
    <bloch-display data-hoverable></bloch-display>
  </palette-dropzone>
  <palette-dropzone>
    <write-gate data-value="0" data-help-id="write0-gate-help" data-hoverable></write-gate>
  </palette-dropzone>
  <palette-dropzone>
    <write-gate data-value="1" data-help-id="write1-gate-help" data-hoverable></write-gate>
  </palette-dropzone>
  <palette-dropzone>
    <measurement-gate data-hoverable></measurement-gate>
  </palette-dropzone>
</div>
