<div class="flex flex-row flex-wrap rounded-xl bg-white py-2 px-2 drop-shadow-md md:hidden">
  <palette-dropzone class="m-1">
    <h-gate></h-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <x-gate></x-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <y-gate></y-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <z-gate></z-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <phase-gate data-angle="π/2"></phase-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <t-gate></t-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <rnot-gate></rnot-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <rx-gate data-angle="π/2"></rx-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <ry-gate data-angle="π/2"></ry-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <rz-gate data-angle="π/2"></rz-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <swap-gate></swap-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <control-gate></control-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <bloch-display></bloch-display>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <write-gate data-value="0" data-help-id="write0-gate-help"></write-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <write-gate data-value="1" data-help-id="write1-gate-help"></write-gate>
  </palette-dropzone>
  <palette-dropzone class="m-1">
    <measurement-gate></measurement-gate>
  </palette-dropzone>
</div>
