<template id="qubit-circle-popup-template">
  <div class="text-wolf mb-2 text-base">
    |<span class="ket-binary font-mono"></span>⟩ (decimal <span class="ket-decimal"></span>)
  </div>
  <ul class="list-none">
    <li>
      Amplitude:
      <span class="amplitude-real text-eel font-mono font-bold"></span>
      <span class="amplitude-imag text-eel font-mono font-bold"></span>
    </li>
    <li>
      Probability:
      <span class="probability text-eel font-mono font-bold"></span>
    </li>
    <li>
      Phase:
      <span class="phase text-eel font-mono font-bold"></span>
    </li>
  </ul>
</template>
