<div
  id="share-modal"
  class="fixed inset-0 z-50 hidden overflow-y-auto"
  data-share-target="modal"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="flex min-h-screen items-end justify-center px-4 pt-4 pb-20 text-center sm:block sm:p-0">
    <!-- Background overlay, show/hide based on modal state. -->
    <div
      class="fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity"
      data-action="click->share#closeModal"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden h-screen sm:inline-block sm:h-screen sm:align-middle" aria-hidden="true">&#8203;</span>

    <!-- Modal panel, show/hide based on modal state. -->
    <div
      class="inline-block transform overflow-hidden rounded-lg bg-white p-6 px-4 pb-4 pt-14 text-left align-bottom shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:max-w-md sm:p-6 sm:pt-14 sm:align-middle"
    >
      <div class="absolute top-0 right-0 pt-2 pr-2 sm:block sm:pt-4 sm:pr-4">
        <button
          id="close-share-modal-button"
          type="button"
          class="text-hare rounded-md bg-white hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          data-action="click->share#closeModal"
        >
          <span class="sr-only">Close</span>
          <%= icon :outline_x %>
        </button>
      </div>

      <div class="absolute top-0 left-0 pt-4 pl-4 text-lg sm:pl-6">Share</div>

      <div>
        <div class="flex justify-between">
          <label for="circuit-title" class="text-wolf block text-sm font-medium">Title</label>
          <span class="text-hare text-sm" id="circuit-title-optional">Optional</span>
        </div>
        <div class="mt-1">
          <input
            type="text"
            name="circuit-title"
            class="border-swan block w-full rounded-md shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
            autocomplete="off"
            aria-describedby="circuit-title-optional"
            data-share-target="circuitTitleInput"
            data-action="keydown->share#update keyup->share#update"
          />
        </div>
      </div>

      <div class="border-1 border-hare mt-5 flex items-center justify-between rounded-md bg-gray-200 py-2 px-3 sm:mt-6">
        <div id="circuit-url" class="truncate text-sm text-gray-900 opacity-75" data-share-target="urlText"></div>
        <button
          id="copy-button"
          class="flex flex-row items-center border-transparent bg-transparent pl-4 text-gray-900 opacity-75 hover:opacity-100 focus:outline-none"
          data-controller="clipboard"
          data-action="click->clipboard#copyCurrentUrlToClipboard"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
            />
          </svg>
          <span class="pl-1">Copy</span>
        </button>
      </div>

      <div class="mt-2 sm:mt-3">
        <button
          id="tweet-button"
          type="button"
          class="inline-flex w-full justify-center rounded-md border border-transparent bg-sky-500 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 sm:text-sm"
          data-action="click->share#tweet"
        >
          <%= icon :twitter %>
          <span class="pl-1">Tweet</span>
        </button>
      </div>
    </div>
  </div>
</div>
