.qubit-circle {
  $parent: &;

  @apply relative;

  height: #{$qubit-circle-size-large * 4}px;
  touch-action: manipulation; // Disable double tap zoom
  width: #{$qubit-circle-size-large * 4}px;

  @each $nqubit in $nqubits {
    #circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & {
      height: #{map-get($qubit-circle-size-px-mobile, $nqubit)}px;
      width: #{map-get($qubit-circle-size-px-mobile, $nqubit)}px;

      @screen md {
        height: #{map-get($qubit-circle-size-px, $nqubit)}px;
        width: #{map-get($qubit-circle-size-px, $nqubit)}px;
      }
    }
  }

  @mixin qubit-circle-body($border-color) {
    @apply absolute inset-px;
    @apply rounded-full;
    @apply border-#{$border-color};

    border-width: #{$stroke-width-px-bold}px;

    @each $nqubit in $nqubits {
      #circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & {
        border-width: #{map-get(
            $qubit-circle-border-width-px-mobile,
            $nqubit
          )}px;

        @screen md {
          border-width: #{map-get($qubit-circle-border-width-px, $nqubit)}px;
        }
      }
    }
  }

  &__magnitude {
    @include qubit-circle-body($border-color: "swan");

    #{$parent}:hover > & {
      @apply border-cardinal;
    }
  }

  &__magnitude::after {
    @apply absolute inset-0;
    @apply bg-magnitude;
    @apply rounded-full;

    content: "";
    transform: scaleX(0) scaleY(0);
    transform-origin: center;

    #{$parent}:hover > & {
      @apply bg-fox;
    }

    // 1..100 (step = 10)
    @for $magnitude from 1 through 10 {
      #{$parent}--magnitude-#{$magnitude * 10} > & {
        transform: scaleX(#{$magnitude / 10}) scaleY(#{$magnitude / 10});
      }
    }
  }

  &__phase {
    @include qubit-circle-body($border-color: "wolf");

    transform: rotate(0deg);
    transform-origin: center;

    #{$parent}:hover > & {
      @apply border-cardinal;
    }

    #{$parent}--magnitude-0 > & {
      transform: scaleX(0) scaleY(0);
    }

    // 10, 20, 30, ..., 360 (step = 10)
    @for $phase from 1 through 36 {
      #{$parent}--phase-#{$phase * 10} > & {
        transform: rotate(-#{$phase * 10}deg);
      }
    }
  }

  &__phase::after {
    @apply absolute top-0 left-0 right-0;
    @apply bg-eel;
    @apply h-1/2;
    @apply mx-auto;
    @apply rounded-b;

    content: "";
    width: #{$stroke-width-px-bold}px;

    @each $nqubit in $nqubits {
      #circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & {
        width: #{map-get($qubit-circle-border-width-px-mobile, $nqubit)}px;

        @screen md {
          width: #{map-get($qubit-circle-border-width-px, $nqubit)}px;
        }
      }
    }
  }
}
