.margin-note {
  position: relative;
  float: right;
  display: block;

  @apply text-neutral-500;
  @apply py-2 pl-12;
}

.margin-note::before {
  counter-increment: MarginNote;
  content: counter(MarginNote) '.';
}
