body {
  counter-reset: margin-note-counter;
}

.margin-note--numbered {
  counter-increment: margin-note-counter;
}

.margin-note--numbered:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.margin-note--numbered:after {
  @apply text-sm;
  @apply rounded px-0.5 md:px-0;
  @apply bg-blue-100 md:bg-transparent;
  @apply left-0;

  content: counter(margin-note-counter);
  top: -0.5rem;
}

.sidenote:before {
  content: counter(margin-note-counter) ' ';
  font-size: 1rem;
  top: -0.5rem;
}

input.margin-toggle {
  display: none;
}

label.margin-toggle:not(.margin-note--numbered) {
  display: none;
}

.margin-note {
  @apply relative;
  @apply text-sm;
  @apply text-neutral-500;

  @apply hidden md:block;
  @apply float-right clear-right;
  @apply md:mb-4 md:pl-12;
  @apply w-1/2;
}

@screen md {
  .margin-note {
    margin-right: -50%;
  }
}

label.margin-note--numbered + input.margin-toggle + .margin-note::before {
  content: counter(margin-note-counter) '. ';
}

.margin-toggle:checked + .margin-note {
  @apply block;
  @apply float-left md:float-right;
  @apply align-baseline;
  @apply left-4 md:left-auto;
  @apply clear-both;
  @apply w-11/12 md:w-1/2;
  @apply m-4 md:m-0;
}

@screen md {
  .margin-toggle:checked + .margin-note {
    margin-right: -50%;
  }
}
