.top-wire {
  @apply absolute;
  @apply border-#{$gate-color};

  @apply border-t-4;
  @apply mt-10 -mr-4;
  @apply right-0;
  @apply w-10;
  top: -2px;

  .circuit--1qubit & {
    @apply -mr-#{$circuit-element-margin-extralarge};
    @apply mt-#{$circuit-element-size-extralarge / 2 + $circuit-element-margin-extralarge};
    @apply w-#{$circuit-element-size-extralarge / 2 + $circuit-element-margin-extralarge};

    @screen md {
      @apply -mt-2 ml-#{$circuit-element-size-extralarge / 2};
      @apply border-l-#{$circuit-element-size-base / 2};
      @apply border-t-0;
      @apply h-#{$circuit-element-size-extralarge / 2};
      @apply top-0;
      @apply w-#{$circuit-element-size-extralarge / 2};
      left: -#{$circuit-element-size-base / 2 / 2}px;
      right: unset;
    }
  }

  .circuit--2qubit &,
  .circuit--3qubit & {
    @apply -mr-#{$circuit-element-margin-large};
    @apply mt-#{$circuit-element-size-large / 2 + $circuit-element-margin-large};
    @apply w-#{$circuit-element-size-large / 2 + $circuit-element-margin-large};

    @screen md {
      @apply -mt-2 ml-6;
      @apply border-l-#{$circuit-element-size-base / 2};
      @apply border-t-0;
      @apply h-6;
      @apply top-0;
      @apply w-#{$circuit-element-size-large / 2};
      left: -#{$circuit-element-size-base / 2 / 2}px;
      right: unset;
    }
  }

  .circuit--4qubit & {
    @apply -mr-#{$circuit-element-margin-base};
    @apply mt-#{$circuit-element-size-base / 2 + $circuit-element-margin-base};
    @apply w-#{$circuit-element-size-base / 2 + $circuit-element-margin-base};

    @screen md {
      @apply -mt-2 ml-6;
      @apply border-l-4;
      @apply border-t-0;
      @apply h-6;
      @apply top-0;
      left: -2px;
      right: unset;
    }
  }

  .circuit--5qubit &,
  .circuit--6qubit & {
    @apply -mr-#{$circuit-element-margin-small};
    @apply mt-#{$circuit-element-size-small / 2 + $circuit-element-margin-small};
    @apply w-#{$circuit-element-size-small / 2 + $circuit-element-margin-small};

    @screen md {
      @apply -mt-2 ml-6;
      @apply border-l-4;
      @apply border-t-0;
      @apply h-6;
      @apply top-0;
      left: -2px;
      right: unset;
    }
  }

  .circuit--8qubit & {
    @apply -mr-#{$circuit-element-margin-extrasmall};
    @apply border-t-2;
    @apply mt-#{$circuit-element-size-extrasmall / 2 + $circuit-element-margin-extrasmall};
    @apply w-#{$circuit-element-size-extrasmall / 2 + $circuit-element-margin-extrasmall};
    top: -1px;

    @screen md {
      @apply -mt-2 ml-6;
      @apply border-l-4;
      @apply border-t-0;
      @apply h-6;
      @apply top-0;
      left: -2px;
      right: unset;
    }
  }

  .circuit-preview & {
    @apply -mt-2 ml-#{($circuit-element-size-base + $circuit-element-margin-base) / 2};
    @apply border-l-#{$circuit-element-size-base / 2};
    @apply border-t-0;
    @apply h-#{($circuit-element-size-base + $circuit-element-margin-base) / 2};
    @apply top-0;
    @apply w-#{$circuit-element-size-base / 2};
    left: -#{$circuit-element-size-base / 2 / 2}px;
    right: unset;
  }
}
