*.rb
apps/www/app/assets/builds/
apps/www/db/
apps/www/docs/
dist
docs/_includes/navigation.html
docs/_site/
docs/application.css
docs/application.js
docs/serviceworker.js
examples/elements-example/public/
packages/common/docs/
packages/elements/docs/
packages/simulator/docs/
