.readout {
  $readout-font-size: 3xl;
  $readout-wire-length: 2;
  $readout-wire-length-mobile: 4;

  @include circuit-element;

  &__wire {
    @apply absolute;

    @apply border-l-#{$wire-width};
    @apply h-#{$readout-wire-length-mobile};
    @apply left-0;
    @apply ml-#{$circuit-element-size-base / 2};
    left: -#{$wire-width / 2}px;

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply ml-0;
      @apply mt-#{$circuit-element-shape-size / 2};
      @apply w-#{$readout-wire-length};
      left: unset;
    }
  }

  .circuit--1qubit & &__wire {
    @apply h-#{$circuit-element-margin-extralarge};
    @apply ml-#{$circuit-element-size-extralarge / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply ml-0;
      @apply mt-#{$circuit-element-shape-size / 2};
      @apply w-#{$readout-wire-length};
      left: unset;
    }
  }

  .circuit--2qubit & &__wire {
    @apply h-#{$circuit-element-margin-large};
    @apply ml-#{$circuit-element-size-large / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply ml-0;
      @apply mt-#{$circuit-element-shape-size / 2};
      @apply w-#{$readout-wire-length};
      left: unset;
    }
  }

  .circuit--8qubit & &__wire {
    @apply h-#{$circuit-element-margin-extrasmall};
    @apply ml-#{$circuit-element-size-extrasmall / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply ml-0;
      @apply mt-#{$circuit-element-shape-size / 2};
      @apply w-#{$readout-wire-length};
      left: unset;
    }
  }

  .circuit-preview & &__wire {
    @apply border-l-0;
    @apply border-t-#{$wire-width};
    @apply ml-0;
    @apply mt-#{$circuit-element-shape-size / 2};
    @apply w-#{$readout-wire-length};
    left: unset;
  }

  &__wire--left {
    @apply border-#{$wire-color};

    @apply top-0;

    @screen md {
      @apply left-0;
      top: -#{$wire-width / 2}px;
    }
  }

  .circuit--1qubit & &__wire--left {
    @screen md {
      @apply left-0;
    }
  }

  .circuit--2qubit & &__wire--left {
    @screen md {
      @apply left-0;
    }
  }

  .circuit--8qubit & &__wire--left {
    @screen md {
      @apply left-0;
    }
  }

  .circuit-preview & &__wire--left {
    @apply left-0;
    top: -#{$wire-width / 2}px;
  }

  &__wire--right {
    @apply border-#{$wire-inactive-color};

    @apply bottom-0;

    @screen md {
      @apply right-0;
      top: -#{$wire-width / 2}px;
    }
  }

  .circuit-preview & &__wire--right {
    @apply right-0;
    top: -#{$wire-width / 2}px;
  }

  &__body {
    @apply absolute inset-0;
    @apply flex justify-start items-center;

    @apply my-#{$readout-wire-length-mobile};
    @apply text-#{$readout-font-size};
    @apply w-#{$circuit-element-size-base} h-#{$circuit-element-size-base};
    writing-mode: vertical-lr;

    @screen md {
      @apply my-0;
      @apply mx-#{$circuit-element-margin-base / 2};
      @apply text-xl;
      @apply w-#{$circuit-element-shape-size} h-#{$circuit-element-shape-size};
      writing-mode: horizontal-tb;
    }
  }

  .circuit--1qubit & &__body {
    @apply my-#{$circuit-element-margin-extralarge};
    @apply text-4xl;
    @apply w-#{$circuit-element-size-extralarge} h-#{$circuit-element-size-extralarge};

    @screen md {
      @apply my-0;
      @apply mx-#{$circuit-element-margin-base / 2};
      @apply text-xl;
      @apply w-#{$circuit-element-shape-size} h-#{$circuit-element-shape-size};
      writing-mode: horizontal-tb;
    }
  }

  .circuit--2qubit & &__body {
    @apply my-#{$circuit-element-margin-large};
    @apply text-4xl;
    @apply w-#{$circuit-element-size-large} h-#{$circuit-element-size-large};

    @screen md {
      @apply my-0;
      @apply mx-#{$circuit-element-margin-base / 2};
      @apply text-xl;
      @apply w-#{$circuit-element-shape-size} h-#{$circuit-element-shape-size};
      writing-mode: horizontal-tb;
    }
  }

  .circuit--3qubit & &__body {
    @apply my-#{$circuit-element-margin-base};
    @apply text-2xl;
    @apply w-#{$circuit-element-size-base} h-#{$circuit-element-size-base};

    @screen md {
      @apply my-0;
      @apply mx-#{$circuit-element-margin-base / 2};
      @apply text-xl;
      @apply w-#{$circuit-element-shape-size} h-#{$circuit-element-shape-size};
      writing-mode: horizontal-tb;
    }
  }

  .circuit--8qubit & &__body {
    @apply my-#{$circuit-element-margin-extrasmall};
    @apply text-#{$circuit-element-label-font-size-extrasmall};
    @apply w-#{$circuit-element-size-extrasmall} h-#{$circuit-element-size-extrasmall};

    @screen md {
      @apply my-0;
      @apply mx-#{$circuit-element-margin-base / 2};
      @apply text-xl;
      @apply w-#{$circuit-element-shape-size} h-#{$circuit-element-shape-size};
      writing-mode: horizontal-tb;
    }
  }

  .circuit-preview & &__body {
    @apply mx-#{$circuit-element-margin-base / 2};
    @apply my-0;
    @apply text-xl;
    @apply w-#{$circuit-element-shape-size} h-#{$circuit-element-shape-size};
    writing-mode: horizontal-tb;
  }

  &--0 &__value {
    @apply text-blue-500;
  }

  &--1 &__value {
    @apply text-orange-500;
  }
}
