@mixin rw-gate {
  @apply text-eel;

  .gate-icon {
    @apply transform rotate-90;

    @screen md {
      @apply transform rotate-0;
    }

    .circuit-preview & {
      @apply transform rotate-0;
    }
  }

  .gate-ket-label {
    @apply font-mono;
    @apply leading-none;
    @apply relative;

    writing-mode: vertical-lr;

    @screen md {
      writing-mode: horizontal-tb;
    }

    .circuit-preview & {
      writing-mode: horizontal-tb;
    }
  }

  @each $nqubit in $nqubits {
    .circuit[data-nqubit="#{$nqubit}"] & .gate-ket-label {
      @apply text-#{map-get($gate-ket-label-font-size, $nqubit)};

      @screen md {
        @apply text-lg;
      }
    }

    .circuit-preview .circuit[data-nqubit="#{$nqubit}"] & .gate-ket-label {
      @apply text-lg;
    }
  }

  &[data-value="0"] .gate-ket-label {
    @apply text-cardinal;
  }

  &[data-value="0"] .gate-ket-label::after {
    content: "0";
  }

  &[data-value="1"] .gate-ket-label {
    @apply text-magnitude;
  }

  &[data-value="1"] .gate-ket-label::after {
    content: "1";
  }
}
