.readout-gate {
  $gate-shape-class: ".gate__shape";
  $gate-shape-label-class: ".gate__shape-label";

  @apply rounded;

  .palette & #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-lg;
  }

  #{$gate-shape-class}#{$gate-shape-class}--square {
    writing-mode: vertical-lr;

    @screen md {
      writing-mode: horizontal-tb;
    }
  }

  #{$gate-shape-class}#{$gate-shape-class}--square svg {
    @apply text-#{$wire-color};
    transform: rotate(90deg);

    @screen md {
      transform: rotate(0deg);
    }
  }

  .circuit-preview & #{$gate-shape-class}#{$gate-shape-class}--square svg {
    transform: rotate(0deg);
  }

  @each $nqubit in $nqubits {
    .circuit[data-nqubit="#{$nqubit}"]
      &
      #{$gate-shape-class}#{$gate-shape-class}--square {
      @apply text-#{map-get($write-readout-gate-label-font-size, $nqubit)};

      @screen md {
        @apply text-lg;
      }
    }

    .circuit-preview
      .circuit[data-nqubit="#{$nqubit}"]
      &
      #{$gate-shape-class}#{$gate-shape-class}--square {
      @apply text-lg;
      writing-mode: horizontal-tb;
    }
  }

  &::before {
    @screen md {
      @apply absolute inset-0;
      @apply border-#{$gate-border-width} border-transparent rounded;
      @apply w-full h-full;
      content: "";
    }
  }

  #{$gate-shape-label-class} {
    @apply #{$rw-gate-label-01-color};
    @apply absolute;
    @apply font-mono;
    @apply leading-none;

    &::after {
      content: "?";
    }
  }

  &[data-value="0"] #{$gate-shape-label-class} {
    @apply #{$rw-gate-label-0-color};
  }

  &[data-value="0"] #{$gate-shape-label-class}::after {
    content: "0";
  }

  &[data-value="1"] #{$gate-shape-label-class} {
    @apply #{$rw-gate-label-1-color};
  }

  &[data-value="1"] #{$gate-shape-label-class}::after {
    content: "1";
  }

  .draggable:hover &::before {
    @screen md {
      @apply border-#{$gate-hover-color};
    }
  }

  .draggable:not(.draggable--grabbed):hover & #{$gate-shape-class} {
    @screen md {
      @apply bg-transparent;
    }
  }

  .draggable--grabbed &::before {
    @screen md {
      @apply bg-white;
    }
  }

  // Reference for coordinates during dragging
  .draggable--source &::before {
    @apply border-#{$gate-source-color};
  }

  .draggable--source & #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-#{$gate-source-color};
  }

  .draggable--source & #{$gate-shape-label-class} {
    @apply text-#{$gate-source-color};
  }

  // Placeholder to display when it is droppable
  .draggable--shadow & {
    @apply bg-white;
  }

  .draggable--shadow &::before {
    @apply border-#{$gate-shadow-color};
  }

  .draggable--shadow & #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-#{$gate-shadow-color};
  }

  .draggable--shadow & #{$gate-shape-label-class} {
    @apply text-#{$gate-shadow-color};
  }
}
