.readout-gate {
  $gate-shape-class: ".gate__shape";
  $gate-shape-label-class: ".gate__shape-label";

  .palette & #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-gray-900;
    @apply text-xl;
  }

  #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-gray-900;
    writing-mode: vertical-lr;

    @screen md {
      writing-mode: horizontal-tb;
    }
  }

  @each $nqubit in $nqubits {
    .circuit[data-nqubit="#{$nqubit}"]
      &
      #{$gate-shape-class}#{$gate-shape-class}--square {
      @apply text-#{map-get($write-readout-gate-label-font-size, $nqubit)};

      @screen md {
        @apply text-xl;
      }
    }

    .circuit-preview
      .circuit[data-nqubit="#{$nqubit}"]
      &
      #{$gate-shape-class}#{$gate-shape-class}--square {
      @apply text-xl;
      writing-mode: horizontal-tb;
    }
  }

  #{$gate-shape-label-class} {
    @apply font-mono;
    @apply leading-none;
    @apply #{$rw-gate-label-01-color};

    &::after {
      content: "?";
    }
  }

  &[data-value="0"] #{$gate-shape-label-class} {
    @apply #{$rw-gate-label-0-color};
  }

  &[data-value="0"] #{$gate-shape-label-class}::after {
    content: "0";
  }

  &[data-value="1"] #{$gate-shape-label-class} {
    @apply #{$rw-gate-label-1-color};
  }

  &[data-value="1"] #{$gate-shape-label-class}::after {
    content: "1";
  }

  .draggable:not(.draggable--grabbed):hover & #{$gate-shape-class} {
    @screen md {
      @apply bg-transparent;
      @apply border-2 border-#{$gate-hover-color} rounded;
    }
  }

  .draggable--grabbed & #{$gate-shape-class} {
    @apply bg-white;
    @apply border-2 border-#{$gate-hover-color} rounded;
  }

  // Reference for coordinates during dragging
  .draggable--source & #{$gate-shape-class} {
    @apply border-2 border-#{$gate-source-color};
  }

  .draggable--source & #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-#{$gate-source-color};
  }

  .draggable--source & #{$gate-shape-label-class} {
    @apply text-#{$gate-source-color};
  }

  // Placeholder to display when it is droppable
  .draggable--shadow & #{$gate-shape-class} {
    @apply bg-white;
    @apply border-2 border-#{$gate-shadow-color};
  }

  .draggable--shadow & #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-#{$gate-shadow-color};
  }

  .draggable--shadow & #{$gate-shape-label-class} {
    @apply text-#{$gate-shadow-color};
  }
}
