.rw {
  $parent: &;
  $wire-length: 2;
  $wire-length-mobile: 4;

  @apply relative;
  @apply flex justify-center;
  @apply w-full h-full;

  @apply flex-col;

  @screen md {
    @apply flex-row;
  }
}

.gate__shape {
  &--rw {
    @apply border-2 border-transparent rounded;
    writing-mode: vertical-lr;

    @screen md {
      @apply my-0;
      @apply text-xl;
      @apply w-#{$instruction-size-base} h-#{$instruction-size-base};
      writing-mode: horizontal-tb;
    }

    .draggable:hover & {
      @apply bg-white;
      @apply border-#{$gate-hover-color};
    }

    .circuit-step:hover .rw:hover & {
      @apply bg-white;
    }

    .draggable--shadow & {
      @apply bg-white;
      @apply border-#{$gate-shadow-color};
    }

    .instruction--bordered & {
      @apply bg-white;
      @apply border-#{$gate-border-color};
    }

    .drggable--palette & {
      @screen md {
        @apply mx-0;
      }
    }
  }
}
