.circuit-breakpoint {
  $parent: &;

  @apply cursor-pointer;
  @apply min-h-0;
  @apply min-w-full;
  @apply relative;

  @each $nqubit in $nqubits {
    .circuit[data-nqubit="#{$nqubit}"] & {
      @apply -mx-#{map-get($instruction-size, $nqubit) / 2};

      @screen md {
        @apply mx-0;
      }
    }
  }

  @screen md {
    @apply -my-#{$instruction-size-base / 2};
    @apply min-h-full;
    @apply min-w-0;
  }

  .circuit-preview & {
    @apply hidden;
  }

  &__body {
    @apply absolute inset-0;
    @apply bg-#{$circuit-breakpoint-color};
    @apply opacity-0;
    @apply z-10;

    margin-top: -#{$circuit-breakpoint-width-px / 2}px;
    padding: #{$circuit-breakpoint-width-px / 2}px;
    will-change: opacity;

    @screen md {
      @apply mt-0;
      margin-left: -#{$circuit-breakpoint-width-px / 2}px;
    }

    .circuit-step--done:hover & {
      @screen md {
        @apply opacity-30;
      }
    }

    .circuit-step--done:active & {
      @apply opacity-80;
    }

    #{$parent}--active & {
      @apply opacity-80;
    }

    .circuit-step--done:hover #{$parent}--active & {
      @screen md {
        @apply opacity-100;
      }
    }
  }
}
