.bloch-display {
  $parent: &;

  @include circular-gate;

  &__perspective {
    @apply relative;
    @apply w-full h-full;

    perspective-origin: top right;

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        perspective: calc(0.25rem * #{map-get($instruction-size, $nqubit)} * 2);

        @screen md {
          perspective: calc(0.25rem * #{$instruction-size-screen-md} * 2);
        }
      }
    }
  }

  &__vector {
    @apply relative;
    @apply w-full h-full;

    transform-origin: center;
    transform-style: preserve-3d;
  }

  &__vector-line {
    @apply absolute;
    @apply w-full h-0;

    bottom: 50%;
  }

  &__vector-line-rect {
    @apply absolute left-0 right-0;
    @apply bg-eel;
    @apply mx-auto;
    @apply origin-bottom;
    @apply h-full;

    width: 2px;
  }

  &__vector-end {
    @apply absolute;
    @apply w-full;

    bottom: calc(50% + 2px);
  }

  &__vector-end-circle {
    @apply absolute left-0 right-0;
    @apply bg-cardinal;
    @apply mx-auto;
    @apply rounded-full;

    height: 6px;
    width: 6px;

    #{$parent}[data-d="0"] & {
      @apply bg-magnitude;
    }
  }

  &__popup-content {
    @apply flex flex-col;
    @apply text-wolf;
  }

  &__popup-content-d,
  &__popup-content-phi,
  &__popup-content-theta,
  &__popup-content-x,
  &__popup-content-y,
  &__popup-content-z {
    @apply font-mono font-bold text-eel;
  }
}
