.connection {
  @apply text-#{$gate-color};
  @apply w-full h-full;

  @apply transform rotate-90 origin-center;
  @screen md {
    @apply transform rotate-0;
  }

  .circuit-preview & {
    @apply transform rotate-0;
  }

  @each $nqubit in $nqubits {
    .circuit[data-nqubit="#{$nqubit}"] &__top,
    .circuit[data-nqubit="#{$nqubit}"] &__bottom {
      stroke-width: #{map-get($connection-width, $nqubit)};

      @screen md {
        stroke-width: #{$connection-width-base};
      }
    }

    .circuit-preview .circuit[data-nqubit="#{$nqubit}"] &__top,
    .circuit-preview .circuit[data-nqubit="#{$nqubit}"] &__bottom {
      stroke-width: #{$connection-width-base};
    }
  }

  &__top {
    @apply hidden;
    @apply transform scale-y-150 -translate-y-1/4 origin-top;

    .gate--connected-with-lower-bit & {
      @apply block;
    }
  }

  &__bottom {
    @apply hidden;
    @apply transform scale-y-150 translate-y-1/4 origin-bottom;

    .gate--connected-with-upper-bit & {
      @apply block;
    }
  }
}
