.write-gate {
  $gate-shape-class: ".gate__shape";
  $gate-shape-label-class: ".gate__shape-label";

  #{$gate-shape-class}#{$gate-shape-class}--square {
    @apply text-gray-900;
    @apply text-xl;
  }

  #{$gate-shape-label-class} {
    @apply font-mono;
    @apply leading-none;
    @apply text-purple-500;

    &::after {
      content: "?";
    }
  }

  &[data-value="0"] #{$gate-shape-label-class} {
    @apply #{$rw-gate-label-0-color};
  }

  &[data-value="0"] #{$gate-shape-label-class}::after {
    content: "0";
  }

  &[data-value="1"] #{$gate-shape-label-class} {
    @apply #{$rw-gate-label-1-color};
  }

  &[data-value="1"] #{$gate-shape-label-class}::after {
    content: "1";
  }
}
