.register-label {
  $self: &;

  @apply flex;

  @mixin label($nqubit) {
    @apply items-center justify-center;
    @apply w-#{map-get($instruction-size, $nqubit)};
  }

  @mixin label-md {
    @apply justify-end items-center;
    @apply h-#{$instruction-size-base};
    @apply ml-0;
    @apply w-auto;
  }

  @each $nqubit in $nqubits {
    .circuit[data-nqubit="#{$nqubit}"] & {
      @include label($nqubit);

      @screen md {
        @include label-md;
        @apply mr-2;
      }
    }

    .circuit[data-nqubit="#{$nqubit}"] &:nth-of-type(n + 2) {
      @apply mr-#{map-get($instruction-size, $nqubit) / 2};

      @screen md {
        @apply mr-2;
        @apply mt-#{$instruction-size-base / 2};
      }
    }

    .circuit-preview .circuit[data-nqubit="#{$nqubit}"] & {
      @apply mr-2;
    }

    .circuit-preview .circuit & {
      @include label-md;
    }
  }

  &:nth-of-type(n + 2) {
    .circuit-preview .circuit & {
      @apply mt-#{$instruction-size-base / 2};
    }
  }

  &__value {
    @apply font-semibold;
    @apply leading-none;
    @apply whitespace-nowrap;

    @mixin value($nqubit) {
      @apply text-#{map-get($instruction-label-font-size, $nqubit)};
      writing-mode: vertical-lr;
    }

    @mixin value-md {
      @apply text-#{$instruction-label-font-size-base};
      writing-mode: horizontal-tb;
    }

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @include value($nqubit);

        @screen md {
          @include value-md;
        }
      }
    }

    .circuit-preview #{$self} & {
      @include value-md;
    }
  }
}
