.write {
  $wire-color: gray-600;
  $wire-width: 2;

  @apply relative;
  @apply w-12 h-8;

  &:nth-of-type(n+2) {
    @apply mt-4;
  }

  &__wire {
    @apply absolute top-0;
    @apply border-t-#{$wire-width};
    @apply mt-4;
    @apply w-2;

    top: -1px;
  }

  &__body {
    @apply absolute top-0 right-0;
    @apply flex justify-end items-center;
    @apply mx-2;
    @apply text-xl;
    @apply w-8 h-8;
  }

  &--zero &__value {
    @apply text-blue-500;
  }

  &--one &__value {
    @apply text-orange-500;
  }
}
