.up-gate {
  $self: &;

  &__line {
    @apply absolute;
    @apply border-t-2 border-gray-600;
    @apply transform origin-top-left;

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @apply rotate-45;
        @apply -mt-#{map-get($instruction-margin, $nqubit)};
        @apply ml-#{map-get($instruction-size, $nqubit) / 2};
        @apply rotate-45;
        top: -2px;
        left: -2px;
        width: calc(
          #{(
              map-get($instruction-size, $nqubit) +
                map-get($instruction-margin, $nqubit) *
                2
            ) /
            4}rem *
            #{sqrt(2)}
        );

        @screen md {
          @apply -rotate-45;
          @apply -ml-#{$instruction-margin-base / 2};
          @apply mt-4;
          left: -2px;
          top: -2px;
          width: calc(3rem * #{sqrt(2)});
        }
      }
    }

    .circuit-preview #{$self} & {
      @apply -rotate-45;
      @apply -ml-#{$instruction-margin-base / 2};
      @apply mt-4;
      left: -2px;
      top: -2px;
      width: calc(3rem * #{sqrt(2)});
    }
  }

  &__bottom {
    @apply absolute;
    @apply border-teal-400;

    @apply -ml-4;
    @apply mt-4;
    @apply border-b-4;
    @apply w-18;

    @screen md {
      @apply w-auto;
      @apply -mt-2 ml-4;
      @apply border-b-0;
      @apply border-r-4;
      @apply h-12;
      @apply left-0;
      @apply top-0;
      left: -4px;
    }
  }

  .circuit-preview &__bottom {
    @apply w-auto;
    @apply -mt-2 ml-4;
    @apply border-b-0;
    @apply border-r-4;
    @apply h-12;
    @apply left-0;
    @apply top-0;
    left: -4px;
  }
}
