.qubit-circle {
  $size-base: 16;
  $size-sm: 12;
  $size-xs: 6;

  $ml-base: 4;
  $ml-sm: 2;
  $ml-xs: 1;

  $border-width-base: 2;
  $border-width-sm: 2;
  $border-width-xs: 1;

  @apply flex flex-col items-center;
  @apply flex-none;
  @apply relative;

  // tooltip
  --balloon-color: theme('colors.indigo.500');
  --balloon-font-size: theme('fontSize.xs');

  &:nth-of-type(n+2) {
    @apply ml-#{$ml-base};
  }

  .circle-notation--sm &:nth-of-type(n+2) {
    @apply ml-#{$ml-sm};
  }

  .circle-notation--xs &:nth-of-type(n+2) {
    @apply ml-#{$ml-xs};
  }

  &__border {
    @apply flex items-center justify-center;
    @apply flex-none;
    @apply relative;
    @apply rounded-full;
    @apply w-#{$size-base} h-#{$size-base};
  }

  &__border:after {
    @apply absolute inset-0;
    @apply block;
    @apply rounded-full;
    @apply border-#{$border-width-base} border-gray-800;

    content: '';
    margin: -#{$border-width-base}px;
  }

  .circle-notation--sm &__border {
    @apply w-#{$size-sm} h-#{$size-sm};
  }

  .circle-notation--sm &__border:after {
    border-width: #{$border-width-sm}px;
    margin: -#{$border-width-sm}px;
  }

  .circle-notation--xs &__border {
    @apply w-#{$size-xs} h-#{$size-xs};
  }

  .circle-notation--xs &__border:after {
    border-width: #{$border-width-xs}px;
    margin: -#{$border-width-xs}px;
  }

  &__magnitude {
    @apply absolute;
    @apply bg-blue-200;
    @apply flex-none;
    @apply rounded-full;
  }

  &__phase-dot {
    @apply absolute;
    @apply bg-gray-800;
    @apply flex-none;
    @apply ml-#{$size-base / 2};
    @apply rounded-full;
    @apply w-2 h-2;

    left: -4px;
    top: -5px;
  }

  .circle-notation--sm &__phase-dot {
    @apply ml-#{$size-sm / 2};
  }

  .circle-notation--xs &__phase-dot {
    @apply ml-#{$size-xs / 2};
    @apply w-1 h-1;

    left: -2px;
    top: -2px;
  }

  &__phase {
    @apply absolute top-0;
    @apply origin-center;
    @apply transform;
    @apply w-full h-full;
  }

  &__phase-line {
    @apply absolute top-0 left-0;
    @apply border-l-2 border-blue-300;
    @apply flex-none;
    @apply w-#{$size-base / 2} h-#{$size-base / 2};

    margin-left: #{0.25 * $size-base * 8 - 1}px;
  }

  .circle-notation--sm &__phase-line {
    @apply w-#{$size-sm / 2} h-#{$size-sm / 2};

    margin-left: #{0.25 * $size-sm * 8 - 1}px;
  }

  .circle-notation--xs &__phase-line {
    @apply w-#{$size-xs / 2} h-#{$size-xs / 2};

    margin-left: #{0.25 * $size-xs * 8 - 1}px;
  }

  .qubit-circle__phase-magnitude {
    @apply absolute top-0 left-0;
    @apply border-l-2 border-blue-700;
    @apply flex-none;
    @apply w-#{$size-base / 2} h-#{$size-base / 2};

    margin-left: #{0.25 * $size-base * 8 - 1}px;
  }

  .circle-notation--sm &__phase-magnitude {
    @apply w-#{$size-sm / 2} h-#{$size-sm / 2};

    margin-left: #{0.25 * $size-sm * 8 - 1}px;
  }

  .circle-notation--xs &__phase-magnitude {
    @apply w-#{$size-xs / 2} h-#{$size-xs / 2};

    margin-left: #{0.25 * $size-xs * 8 - 1}px;
  }

  // Ket notations such as |112⟩ below circles
  &__ket {
    @apply text-base;
    @apply whitespace-no-wrap;
  }

  .circle-notation--sm &__ket {
    @apply text-sm;
  }

  .circle-notation--xs &__ket {
    @apply hidden;
  }
}
