<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Untitled</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <script type="module" src="./application.js" defer></script>
    <link href="./application.css" rel="stylesheet" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>
    <script
      defer
      data-domain="qniapp.github.io"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>
  <body class="w-full">
    {{ content }}

    <script>
      let mobileSidebar = document.getElementById('mobile-sidebar')

      let mobileSidebarOpenButton = document.getElementById('mobile-sidebar-open-button')
      mobileSidebarOpenButton.addEventListener('click', () => {
        mobileSidebar.classList.remove('hidden')
      })

      let mobileSidebarCloseButton = document.getElementById('mobile-sidebar-close-button')
      mobileSidebarCloseButton.addEventListener('click', () => {
        mobileSidebar.classList.add('hidden')
      })

      let sidebar = document.querySelector('.sidebar')
      let sidebarScroll = sessionStorage.getItem('sidebar-scroll')
      if (sidebarScroll !== null) {
        sidebar.scrollTop = parseInt(sidebarScroll, 10)
      }

      window.addEventListener('beforeunload', () => {
        sessionStorage.setItem('sidebar-scroll', sidebar.scrollTop)
      })
    </script>
  </body>
</html>
