<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Untitled</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <script type="module" src="./application.js" defer></script>
    <link href="./application.css" rel="stylesheet" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>
    <script
      defer
      data-domain="qniapp.github.io"
      src="https://plausible.io/js/plausible.js"
    ></script>
    <script type="module">
      import {
        Application,
        Controller,
      } from 'https://unpkg.com/@hotwired/stimulus/dist/stimulus.js'
      window.Stimulus = Application.start()

      Stimulus.register(
        'sidebar',
        class extends Controller {
          static targets = ['menu', 'body', 'bodyMd']

          connect() {
            let bodyMdScroll = sessionStorage.getItem('sidebar-md-scroll')
            if (bodyMdScroll !== null) {
              this.bodyMdTarget.scrollTop = parseInt(bodyMdScroll, 10)
            }

            window.addEventListener('beforeunload', () => {
              sessionStorage.setItem('sidebar-scroll', this.bodyTarget.scrollTop)
              sessionStorage.setItem('sidebar-md-scroll', this.bodyMdTarget.scrollTop)
            })
          }

          open() {
            this.menuTarget.classList.remove('hidden')

            let sidebarScroll = sessionStorage.getItem('sidebar-scroll')
            if (sidebarScroll !== null) {
              this.bodyTarget.scrollTop = parseInt(sidebarScroll, 10)
            }
          }

          close() {
            this.menuTarget.classList.add('hidden')
          }
        }
      )
    </script>
  </head>
  <body class="w-full">
    {{ content }}
  </body>
</html>
