.circuit-element {
  @apply flex justify-center items-center;
  @apply relative;

  // Extra large size
  .circuit--1qubit & {
    @apply mx-#{$circuit-element-margin-extralarge};
    @apply w-#{$circuit-element-size-extralarge} h-#{$circuit-element-size-extralarge + $circuit-element-margin-extralarge * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$circuit-element-size-base + $circuit-element-margin-base} h-#{$circuit-element-size-screen-md};
    }
  }

  // Large size
  .circuit--2qubit &,
  .circuit--3qubit & {
    @apply mx-#{$circuit-element-margin-large};
    @apply w-#{$circuit-element-size-large} h-#{$circuit-element-size-large + $circuit-element-margin-large * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$circuit-element-size-base + $circuit-element-margin-base} h-#{$circuit-element-size-screen-md};
    }
  }

  // Base size
  .circuit--4qubit &,
  .circuit--5qubit & {
    @apply mx-#{$circuit-element-margin-base};
    @apply w-#{$circuit-element-size-base} h-#{$circuit-element-size-base + $circuit-element-margin-base * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$circuit-element-size-base + $circuit-element-margin-base} h-#{$circuit-element-size-screen-md};
    }
  }

  // Small size
  .circuit--6qubit & {
    @apply mx-#{$circuit-element-margin-small};
    @apply w-#{$circuit-element-size-small} h-#{$circuit-element-size-small + $circuit-element-margin-small * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$circuit-element-size-base + $circuit-element-margin-base} h-#{$circuit-element-size-screen-md};
    }
  }

  .circuit--8qubit & {
    @apply mx-#{$circuit-element-margin-extrasmall};
    @apply w-#{$circuit-element-size-extrasmall} h-#{$circuit-element-size-extrasmall + $circuit-element-margin-extrasmall * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$circuit-element-size-base + $circuit-element-margin-base} h-#{$circuit-element-size-screen-md};
    }
  }

  // Preview
  .circuit-preview & {
    @apply mx-0;
    @apply w-#{$circuit-element-size-base + $circuit-element-margin-base} h-#{$circuit-element-size-screen-md};
  }

  &:nth-of-type(n + 2) {
    @screen md {
      @apply mt-#{$circuit-element-margin-base};
    }

    .circuit-preview & {
      @apply mt-#{$circuit-element-margin-base};
    }
  }

  &__wire {
    @apply absolute;
    @apply border-#{$wire-color};

    @apply border-l-#{$wire-width};
    @apply h-full;
    @apply ml-#{$circuit-element-size-base / 2};
    left: -#{$wire-width / 2}px;

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  &--inactive-wire &__wire {
    @apply border-#{$wire-inactive-color};
  }

  .circuit--1qubit & &__wire {
    @apply ml-#{$circuit-element-size-extralarge / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--2qubit & &__wire,
  .circuit--3qubit & &__wire {
    @apply ml-#{$circuit-element-size-large / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--4qubit & &__wire,
  .circuit--5qubit & &__wire {
    @apply ml-#{$circuit-element-size-base / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--6qubit & &__wire {
    @apply ml-#{$circuit-element-size-small / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--8qubit & &__wire {
    @apply ml-#{$circuit-element-size-extrasmall / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit-preview & &__wire {
    @apply border-l-0;
    @apply border-t-#{$wire-width};
    @apply h-4;
    @apply ml-0;
    @apply mt-4;
    @apply w-full;
    left: unset;
    top: -1px;
  }

  &__label {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply font-mono;
    @apply text-gray-400;
    @apply whitespace-no-wrap;

    @apply -mr-6;
    @apply h-full;
    @apply right-0;
    @apply text-base;
    writing-mode: vertical-lr;

    @screen md {
      @apply -mt-4;
      @apply mr-0;
      @apply text-xs;
      @apply top-0;
      @apply h-auto;
      @apply w-full;
      writing-mode: horizontal-tb;
    }
  }

  .circuit-preview & &__label {
    @apply -mt-4;
    @apply mr-0;
    @apply text-xs;
    @apply top-0;
    @apply h-auto;
    @apply w-full;
    writing-mode: horizontal-tb;
  }

  &__label--bottom {
    @apply mr-#{$circuit-element-size-base};

    @screen md {
      @apply mr-0;
      @apply mt-8;
    }
  }

  .circuit--1qubit & &__label--bottom {
    @apply mr-#{$circuit-element-size-extralarge};

    @screen md {
      @apply mr-0;
    }
  }

  .circuit--2qubit & &__label--bottom,
  .circuit--3qubit & &__label--bottom {
    @apply mr-#{$circuit-element-size-large};

    @screen md {
      @apply mr-0;
    }
  }

  .circuit--4qubit & &__label--bottom,
  .circuit--5qubit & &__label--bottom {
    @apply mr-#{$circuit-element-size-base};

    @screen md {
      @apply mr-0;
    }
  }

  .circuit--6qubit & &__label--bottom {
    @apply mr-#{$circuit-element-size-small};

    @screen md {
      @apply mr-0;
    }
  }

  .circuit--8qubit & &__label--bottom {
    @apply mr-#{$circuit-element-size-extrasmall};

    @screen md {
      @apply mr-0;
    }
  }

  .circuit-preview & &__label--bottom {
    @apply mr-0;
    @apply mt-8;
  }
}
