$gate-color: teal-400;

$gate-size-extralarge: 12;
$gate-size-large: 10;
$gate-size-base: 8;
$gate-size-small: 6;
$gate-size-extrasmall: 4;
$gate-size-screen-md: 8;

$gate-margin-extralarge: 4;
$gate-margin-large: 4;
$gate-margin-base: 4;
$gate-margin-small: 2;
$gate-margin-extrasmall: 1;

$gate-label-font-size-extralarge: 4xl;
$gate-label-font-size-large: 3xl;
$gate-label-font-size-base: xl;
$gate-label-font-size-small: base;
$gate-label-font-size-extrasmall: xs;

.gate {
  @apply flex justify-center items-center;
  @apply relative;

  // Extra large size
  .circuit--1qubit & {
    @apply mx-#{$gate-margin-extralarge};
    @apply w-#{$gate-size-extralarge} h-#{$gate-size-extralarge + $gate-margin-extralarge * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$gate-size-base + $gate-margin-base} h-#{$gate-size-screen-md};
    }
  }

  // Large size
  .circuit--2qubit & {
    @apply mx-#{$gate-margin-large};
    @apply w-#{$gate-size-large} h-#{$gate-size-large + $gate-margin-large * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$gate-size-base + $gate-margin-base} h-#{$gate-size-screen-md};
    }
  }

  // Base size
  .circuit--3qubit & {
    @apply mx-#{$gate-margin-base};
    @apply w-#{$gate-size-base} h-#{$gate-size-base + $gate-margin-base * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$gate-size-base + $gate-margin-base} h-#{$gate-size-screen-md};
    }
  }

  // Small size
  .circuit--4qubit &,
  .circuit--5qubit &,
  .circuit--6qubit & {
    @apply mx-#{$gate-margin-small};
    @apply w-#{$gate-size-small} h-#{$gate-size-small + $gate-margin-small * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$gate-size-base + $gate-margin-base} h-#{$gate-size-screen-md};
    }
  }

  .circuit--8qubit & {
    @apply mx-#{$gate-margin-extrasmall};
    @apply w-#{$gate-size-extrasmall} h-#{$gate-size-extrasmall + $gate-margin-extrasmall * 2};

    @screen md {
      @apply mx-0;
      @apply w-#{$gate-size-base + $gate-margin-base} h-#{$gate-size-screen-md};
    }
  }

  // Preview
  .circuit-preview & {
    @apply mx-0;
    @apply w-#{$gate-size-base + $gate-margin-base} h-#{$gate-size-screen-md};
  }

  &:nth-of-type(n + 2) {
    @screen md {
      @apply mt-#{$gate-margin-base};
    }

    .circuit-preview & {
      @apply mt-#{$gate-margin-base};
    }
  }

  &__box {
    @apply absolute inset-0;
    @apply bg-#{$gate-color};
    @apply flex justify-center items-center;
    @apply rounded;
    @apply text-white;
  }

  .circuit--1qubit & &__box {
    @apply my-#{$gate-margin-extralarge};
    @apply text-#{$gate-label-font-size-extralarge};
    @apply w-#{$gate-size-extralarge} h-#{$gate-size-extralarge};

    @screen md {
      @apply mx-#{$gate-margin-base / 2};
      @apply my-0;
      @apply text-#{$gate-label-font-size-base};
      @apply w-#{$gate-size-base} h-#{$gate-size-base};
    }
  }

  .circuit--2qubit & .gate__box {
    @apply my-#{$gate-margin-large};
    @apply text-#{$gate-label-font-size-large};
    @apply w-#{$gate-size-large} h-#{$gate-size-large};

    @screen md {
      @apply mx-#{$gate-margin-base / 2};
      @apply my-0;
      @apply text-base;
      @apply w-#{$gate-size-base} h-#{$gate-size-base};
    }
  }

  .circuit--3qubit & &__box {
    @apply my-#{$gate-margin-base};
    @apply text-#{$gate-label-font-size-base};
    @apply w-#{$gate-size-base} h-#{$gate-size-base};

    @screen md {
      @apply mx-#{$gate-margin-base / 2};
      @apply my-0;
      @apply text-base;
      @apply w-#{$gate-size-base} h-#{$gate-size-base};
    }
  }

  .circuit--4qubit & .gate__box,
  .circuit--5qubit & .gate__box,
  .circuit--6qubit & .gate__box {
    @apply my-#{$gate-margin-small};
    @apply text-#{$gate-label-font-size-small};
    @apply w-#{$gate-size-small} h-#{$gate-size-small};

    @screen md {
      @apply mx-#{$gate-margin-base / 2};
      @apply my-0;
      @apply text-base;
      @apply w-#{$gate-size-base} h-#{$gate-size-base};
    }
  }

  .circuit--8qubit & .gate__box {
    @apply my-#{$gate-margin-extrasmall};
    @apply text-#{$gate-label-font-size-extrasmall};
    @apply w-#{$gate-size-extrasmall} h-#{$gate-size-extrasmall};

    @screen md {
      @apply mx-#{$gate-margin-base / 2};
      @apply my-0;
      @apply text-base;
      @apply w-#{$gate-size-base} h-#{$gate-size-base};
    }
  }

  .circuit-preview & .gate__box {
    @apply mx-#{$gate-margin-base / 2};
    @apply my-0;
    @apply text-#{$gate-label-font-size-base};
    @apply w-#{$gate-size-base} h-#{$gate-size-base};
  }

  &--disabled &__box {
    @apply bg-white;
    @apply border-2 border-dashed border-gray-300;
    @apply text-gray-300;
  }

  &__wire {
    @apply absolute;
    @apply border-#{$wire-color};

    @apply border-l-#{$wire-width};
    @apply h-full;
    @apply ml-#{$gate-size-base / 2};
    left: -#{$wire-width / 2}px;

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  &--inactive-wire &__wire {
    @apply border-#{$wire-inactive-color};
  }

  .circuit--1qubit & &__wire {
    @apply ml-#{$gate-size-extralarge / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--2qubit & .gate__wire {
    @apply ml-#{$gate-size-large / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--3qubit & &__wire {
    @apply ml-#{$gate-size-base / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--4qubit & .gate__wire,
  .circuit--5qubit & .gate__wire,
  .circuit--6qubit & .gate__wire {
    @apply ml-#{$gate-size-small / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit--8qubit & .gate__wire {
    @apply ml-#{$gate-size-extrasmall / 2};

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }
  }

  .circuit-preview & .gate__wire {
    @apply border-l-0;
    @apply border-t-#{$wire-width};
    @apply h-4;
    @apply ml-0;
    @apply mt-4;
    @apply w-full;
    left: unset;
    top: -1px;
  }

  &__label {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply font-mono;
    @apply text-gray-400;
    @apply whitespace-no-wrap;

    @apply -mr-6;
    @apply h-full;
    @apply right-0;
    @apply text-base;
    writing-mode: vertical-lr;

    @screen md {
      @apply -mt-4;
      @apply mr-0;
      @apply text-xs;
      @apply top-0;
      @apply h-auto;
      @apply w-full;
      writing-mode: horizontal-tb;
    }
  }
}
