.circuit {
  &__step {
    @apply cursor-pointer;
    @apply flex flex-col justify-center;

    @screen md {
      @apply flex-row;
    }
  }

  .circuit-preview &__step {
    @apply flex-row;
  }

  &__step-body {
    @apply flex flex-row-reverse flex-no-wrap;

    @screen md {
      @apply flex-col;
    }
  }

  .circuit-preview &__step &__step-body {
    @apply flex-col;
  }

  @keyframes fade {
    from {
      @apply bg-purple-300;
    }
    to {
      background: bg-transparent;
    }
  }

  &__step--done {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}
