<div
  class="rounded-full"
  style="
    width: <%= @rem %>;
    height: <%= @rem %>;
    background: conic-gradient(
      rgb(168 85 247) 22.5deg,
      rgb(236 72 153) 22.5deg 67.5deg,
      rgb(249 115 22) 67.5deg 112.5deg,
      rgb(234 179 8) 112.5deg 157.5deg,
      rgb(132 204 22) 157.5deg 202.5deg,
      rgb(34 197 94) 202.5deg 247.5deg,
      rgb(14 165 233) 247.5deg 292.5deg,
      rgb(99 102 241) 292.5deg 337.5deg,
      rgb(168 85 247) 337.5deg 360deg
    );
  "
></div>
