<div
  class="rounded-full"
  style="
         width: <%= @rem %>;
         height: <%= @rem %>;
         background: conic-gradient(
         rgb(14 165 233) 22.5deg,
         rgb(108 102 255) 22.5deg 67.5deg,
         rgb(224 62 255) 67.5deg 112.5deg,
         rgb(255 68 139) 112.5deg 157.5deg,
         rgb(251 96 32) 157.5deg 202.5deg,
         rgb(140 138 0) 202.5deg 247.5deg,
         rgb(42 172 10) 247.5deg 292.5deg,
         rgb(8 177 107) 292.5deg 337.5deg,
         rgb(14 165 233) 337.5deg 360deg
         );
         "
></div>
