<div class="relative rounded-full" style="width: <%= @rem %>; height: <%= @rem %>;">
  <div class="absolute inset-0 rounded-full border border-slate-500"></div>
  <div class="absolute inset-0 scale-[0.7] transform rounded-full bg-sky-500"></div>
  <div class="absolute inset-0 mx-auto h-1/2 w-px origin-bottom rotate-[135deg] transform bg-slate-900"></div>
</div>
