<template id="circle-notation-popup">
  <div class="text-wolf mb-2 text-base">
    |<span class="ket-decimal font-mono"></span>⟩
    <div class="inline-block">(二進 |<span class="ket-binary font-mono"></span>⟩)</div>
  </div>

  <ul class="list-none">
    <li>
      振幅:
      <span class="amplitude-real text-eel font-mono font-bold"></span>
      <span class="amplitude-imag text-eel font-mono font-bold"></span>
    </li>
    <li>
      確率:
      <span class="probability text-eel font-mono font-bold"></span>
    </li>
    <li>
      位相:
      <span class="phase text-eel font-mono font-bold"></span>
    </li>
  </ul>
</template>
