<template id="circle-notation-popup">
  <div class="text-wolf mb-2 text-base">
    |<span class="circle-notation-popup__ket-decimal font-mono"></span>⟩ (二進 |<span
      class="circle-notation-popup__ket-binary font-mono"
    ></span
    >⟩)
  </div>

  <ul class="list-none">
    <li>
      振幅:
      <span class="circle-notation-popup__amplitude-real text-eel font-mono font-bold"></span>
      <span class="circle-notation-popup__amplitude-imag text-eel font-mono font-bold"></span>
    </li>
    <li>
      確率:
      <span class="circle-notation-popup__probability text-eel font-mono font-bold"></span>
    </li>
    <li>
      位相:
      <span class="circle-notation-popup__phase text-eel font-mono font-bold"></span>
    </li>
  </ul>
</template>
