<footer class="mt-12 text-sm leading-6">
  <div class="mb-10 flex items-center font-semibold text-slate-700 dark:text-slate-200">
    {% if page.prev %}
    <a
      class="group flex items-center no-underline hover:text-slate-900 dark:hover:text-white"
      href="{{ page.prev_url }}"
      >{% include chevron_left.svg class="mr-3 h-4 w-auto overflow-visible text-slate-400
      group-hover:text-slate-600 dark:group-hover:text-slate-300" %}{{ page.prev }}</a
    >
    {% endif %} {% if page.next %}
    <a
      class="group ml-auto flex items-center no-underline hover:text-slate-900 dark:hover:text-white"
      href="{{ page.next_url }}"
      >{{ page.next }}{% include chevron_right.svg class="ml-3 h-4 w-auto overflow-visible
      text-slate-400 group-hover:text-slate-600 dark:group-hover:text-slate-300" %}</a
    >
    {% endif %}
  </div>
</footer>
