<div class="hidden w-11"></div>

<template id="h-gate-help">
  <header>
    <h1>アダマールゲート</h1>
    <p>シンプルな重ね合わせ状態を作る。</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    {{ 1 | qubit_circle: 0, 'base', 'emerald' }} {{ 0 | qubit_circle: 1, 'base' }}

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <h-gate class="operation-sm"></h-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    {{ 0.5 | sqrt | qubit_circle: 0, 'base', 'emerald' }} {{ 0.5 | sqrt | qubit_circle: 1, 'base' }}
  </div>

  <div class="mt-4 flex flex-row items-center space-x-1">
    {{ 0 | qubit_circle: 0, 'base', 'emerald' }} {{ 1 | qubit_circle: 1, 'base' }}

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <h-gate class="operation-sm"></h-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    {{ 0.5 | sqrt | qubit_circle: 0, 'base', 'emerald' }} {{ 0.5 | sqrt | prepend: '-' |
    qubit_circle: 1, 'base' }}
  </div>
</template>
