<template id="h-gate-help">
  <header>
    <h1>アダマールゲート</h1>
    <p>シンプルな重ね合わせ状態を作る。</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <circle-notation-old data-magnitudes="1,0" data-show-kets></circle-notation-old>
    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <h-gate class="operation-sm"></h-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>
    <circle-notation-old data-magnitudes="0.7,0.7" data-show-kets></circle-notation-old>
  </div>

  <div class="mt-5 mb-6 flex flex-row items-center space-x-1">
    <circle-notation-old data-magnitudes="0,1" data-show-kets></circle-notation-old>
    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <h-gate class="operation-sm"></h-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>
    <circle-notation-old
      data-magnitudes="0.7,0.7"
      data-phases="0,180"
      data-show-kets
    ></circle-notation-old>
  </div>
</template>
