<nav class="flex-1 space-y-1 px-6">
  {% for section in site.data.navigation %}
  <div class="px-2 py-2 text-sm font-bold uppercase tracking-wide text-blue-700 dark:text-blue-300">
    {{ section.name }}
  </div>

  {% for item in section.pages %} {% assign item_url = item.link | remove_first: "." %}
  <a
    href="{{ item.link }}"
    class="flex group items-center pl-4 pr-2 py-2 text-sm font-medium rounded-md {% if page.url == item_url %} text-neutral-900 bg-blue-100 {% else %} text-neutral-500 dark:text-neutral-300 hover:text-neutral-900 hover:bg-blue-50 {% endif %}"
  >
    <span class="flex-1">{{ item.name }}</span>
    {% if item.new %}
      <span class="bg-green-100 group-hover:bg-green-200 text-green-800 ml-3 inline-block py-0.5 px-3 text-xs font-medium rounded-full"> new </span>
    {% endif %}
  </a>
  {% endfor %} {% endfor %}
</nav>
