<template id="operation-inspector-template">
  <operation-inspector class="flex w-60 flex-col p-4 text-neutral-900">
    <div class="items-left flex flex-col space-y-4 divide-y">
      <div id="conditional-gate-pane" class="items-left flex flex-col">
        <h1 class="mb-0 text-base font-bold text-neutral-900">If Conditional</h1>

        <div class="pane-body ml-4 mt-4 grid grid-cols-3 grid-rows-1 items-center gap-2">
          <label for="if-input" class="select-none font-normal text-neutral-700">If</label>
          <input
            data-target="operation-inspector.ifInput"
            type="text"
            name="if"
            id="if-input"
            spellcheck="false"
            class="block w-full rounded-md border-transparent bg-neutral-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
        </div>
      </div>

      <div id="angle-pane" class="items-left mb-2 flex flex-col pt-4">
        <h1 class="mb-0 text-base font-bold text-neutral-900">Angle</h1>

        <div class="pane-body ml-4 mr-2 mt-4 grid grid-cols-3 grid-rows-3 items-center gap-2">
          <label
            for="angle-input"
            class="select-none font-normal text-neutral-700"
            data-target="operation-inspector.angleInputLabel"
            >Angle</label
          >
          <input
            data-target="operation-inspector.angleInput"
            type="text"
            name="angle"
            id="angle-input"
            spellcheck="false"
            class="block w-full rounded-md border-transparent bg-neutral-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
          <angle-slider
            data-target="operation-inspector.angleSlider"
            class="ml-2 inline-block"
          ></angle-slider>

          <label for="denominator-input" class="block text-sm font-normal text-neutral-700"
            >Denom</label
          >
          <input
            data-target="operation-inspector.denominatorInput"
            type="number"
            min="2"
            name="denominator"
            id="denominator-input"
            class="block w-full rounded-md border-transparent bg-neutral-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
          <div class="whitespace-nowrap pl-2 text-sm text-neutral-500">
            <span data-target="operation-inspector.denominatorVariableLabel"></span> = nπ/<span
              data-target="operation-inspector.denominatorLabel"
              class="font-bold text-yellow-600"
              >?</span
            >
          </div>

          <div class="min-w-0 flex-1 text-sm">
            <label for="reduce-fraction-checkbox" class="select-none font-normal text-neutral-700"
              >Reduce</label
            >
          </div>
          <div class="flex h-5 items-center">
            <input
              data-target="operation-inspector.reduceAngleFractionCheckbox"
              id="reduce-fraction-checkbox"
              name="reduce-fraction"
              type="checkbox"
              class="h-4 w-4 rounded border-neutral-300 text-indigo-600 focus:ring-indigo-500"
            />
          </div>
        </div>
      </div>

      <div id="conditional-flag-pane" class="items-left mb-2 flex flex-col pt-4">
        <h1 class="mb-0 text-base font-bold text-neutral-900">Conditional Flag</h1>

        <div class="pane-body ml-4 mt-4 grid grid-cols-3 grid-rows-1 items-center gap-2">
          <label for="flag-input" class="select-none font-normal text-neutral-700">Flag</label>
          <input
            data-target="operation-inspector.flagInput"
            type="text"
            name="flag"
            id="flag-input"
            spellcheck="false"
            class="block w-full rounded-md border-transparent bg-neutral-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
  </operation-inspector>
</template>
