<template id="qubit-circle-popup">
  <header>
    <h1 id="qubit-circle-popup--header" class="mb-4">
      |<span id="qubit-circle-popup--ket-binary-value" class="font-mono"></span
      ><span class="mr-2">⟩</span><span class="mr-1">十進</span
      ><span id="qubit-circle-popup--ket-decimal-value" class="font-mono"></span>
    </h1>
  </header>

  <ul class="list-none">
    <li id="qubit-circle-popup--amplitude" class="flex items-center">
      {% include amplitude.svg class="w-4 h-4 mr-1" %}
      <span class="mr-1">振幅:</span>
      <span id="qubit-circle-popup--amplitude-real-value" class="font-mono font-bold"></span>
      <span id="qubit-circle-popup--amplitude-imag-value" class="font-mono font-bold"></span>
    </li>
    <li id="qubit-circle-popup--probability" class="flex items-center">
      {% include probability.svg class="w-4 h-4 mr-1" %}
      <span class="mr-1">確率:</span>
      <span id="qubit-circle-popup--probability-value" class="font-mono font-bold"></span>
    </li>
    <li id="qubit-circle-popup--phase" class="flex items-center">
      {% include phase.svg class="w-4 h-4 mr-1" %}
      <span class="mr-1">位相:</span>
      <span id="qubit-circle-popup--phase-value" class="font-mono font-bold"></span>
    </li>
  </ul>
</template>
