<template id="rz-gate-help">
  <header>
    <h1>Rz ゲート</h1>
    <p>Z 軸を中心に角度 θ 回転させる。</p>
    <p>デフォルトで θ = π/2。</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ 1 | qubit_circle: 0, 'base', 'emerald' }} {{ 0 | qubit_circle: 1, 'base' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <rz-gate data-angle="π/2" class="operation-sm"></rz-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ '0.7071067811865476 - 0.7071067811865476i' | qubit_circle: 0, 'base', 'emerald' }} {{ 0 |
      qubit_circle: 1, 'base' }}
    </div>
  </div>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ 0 | qubit_circle: 0, 'base', 'emerald' }} {{ 1 | qubit_circle: 1, 'base' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <rz-gate data-angle="π/2" class="operation-sm"></rz-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ 0 | qubit_circle: 0, 'base', 'emerald' }} {{ '0.7071067811865476 + 0.7071067811865476i' |
      qubit_circle: 1, 'base' }}
    </div>
  </div>
</template>
