<div class="hidden md:flex md:flex-shrink-0">
  <div class="flex w-64 flex-col">
    <div class="sidebar flex flex-grow flex-col overflow-y-auto bg-white pt-5 pb-4">
      <div class="flex flex-shrink-0 items-center px-8">
        <img class="mr-2 h-7 w-7" src="https://qniapp.net/icon-512.png" alt="Qni" />
        <div class="flex flex-row items-end">
          <span
            class="font-sans text-xl font-bold tracking-wider text-neutral-900 subpixel-antialiased"
            >Qni</span
          >
          <span
            class="ml-0.5 font-sans text-base font-bold uppercase tracking-wider text-blue-400 subpixel-antialiased"
            >Tutorial</span
          >
        </div>
      </div>
      <div class="mt-5 mb-14 flex flex-grow flex-col">{% include navigation.html %}</div>
    </div>
  </div>
</div>
