<div class="hidden md:flex md:flex-shrink-0">
  <div class="flex w-64 flex-col">
    <div class="sidebar flex flex-grow flex-col overflow-y-auto bg-white pt-5 pb-4">
      <div class="flex flex-shrink-0 items-center px-8">
        <img class="mr-2 h-8 w-8" src="https://qniapp.net/icon-512.png" alt="Qni" />
        <span class="font-sans text-xl font-bold tracking-wider text-gray-900 subpixel-antialiased"
          >Qni</span
        >
      </div>
      <div class="mt-5 mb-14 flex flex-grow flex-col">{% include navigation.html %}</div>
    </div>
  </div>
</div>
