<div class="hidden md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col">
  <div class="flex flex-grow flex-col bg-white">
    <div class="flex h-16 flex-shrink-0 items-center border-b border-slate-900/10 px-8">
      <a href="./qni/" class="flex flex-shrink-0 cursor-pointer flex-row">
        <img class="mr-2" src="./images/qni_icon.svg" alt="Qni" />
        <img src="./images/qni_tutorial_logo.svg" qlt="Qni Tutorial" />
      </a>
    </div>
    <div class="flex h-0 flex-grow flex-col overflow-y-auto md:py-6" data-sidebar-target="bodyMd">
      {% include navigation.html %}
    </div>
  </div>
</div>
