<template id="write0-gate-help">
  <header>
    <h1><code>|0⟩</code> 命令</h1>
    <p>量子ビットの状態を <code>|0⟩</code> にセット (リセット)。</p>
  </header>

  <div class="body">
    <div class="flex flex-col space-y-2">
      <div class="flex flex-row items-center space-x-2">
        <div class="flex flex-row space-x-2">
          <qubit-circle
            class="h-8 w-8"
            data-ket="0"
            data-amplitude="1"
            data-dark-mode
          ></qubit-circle>
          <qubit-circle
            class="h-8 w-8"
            data-ket="1"
            data-amplitude="0"
            data-dark-mode
          ></qubit-circle>
        </div>

        <div class="flex flex-row items-center">
          {% include minus.svg class="h-4 w-4 fill-current text-white" %}
          <write-gate data-value="0" class="qpu-operation-sm" data-dark-mode></write-gate>
          {% include arrow_right.svg class="h-4 w-4 fill-current text-white" %}
        </div>

        <div class="flex flex-row space-x-2">
          <qubit-circle
            class="h-8 w-8"
            data-ket="0"
            data-amplitude="1"
            data-dark-mode
          ></qubit-circle>
          <qubit-circle
            class="h-8 w-8"
            data-ket="1"
            data-amplitude="0"
            data-dark-mode
          ></qubit-circle>
        </div>
      </div>

      <div class="flex flex-row items-center space-x-2">
        <div class="flex flex-row space-x-2">
          <qubit-circle
            class="h-8 w-8"
            data-ket="0"
            data-amplitude="0"
            data-dark-mode
          ></qubit-circle>
          <qubit-circle
            class="h-8 w-8"
            data-ket="1"
            data-amplitude="1"
            data-dark-mode
          ></qubit-circle>
        </div>

        <div class="flex flex-row items-center">
          {% include minus.svg class="h-4 w-4 fill-current text-white" %}
          <write-gate data-value="0" class="qpu-operation-sm" data-dark-mode></write-gate>
          {% include arrow_right.svg class="h-4 w-4 fill-current text-white" %}
        </div>

        <div class="flex flex-row space-x-2 pr-2">
          <qubit-circle
            class="h-8 w-8"
            data-ket="0"
            data-amplitude="1"
            data-dark-mode
          ></qubit-circle>
          <qubit-circle
            class="h-8 w-8"
            data-ket="1"
            data-amplitude="0"
            data-dark-mode
          ></qubit-circle>
        </div>
      </div>
    </div>
  </div>
</template>
