<template id="x-gate-help">
  <header>
    <h1>NOT ゲート (パウリ X ゲート)</h1>
    <p>量子ビットペア <code>|0⟩</code> と <code>|1⟩</code> を入れ替える。</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <circle-notation data-magnitudes="1,0" data-show-kets></circle-notation>
    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <x-gate class="operation-sm"></x-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>
    <circle-notation data-magnitudes="0,1" data-show-kets></circle-notation>
  </div>

  <div class="mt-5 flex flex-row items-center space-x-1">
    <circle-notation data-magnitudes="0,1" data-show-kets></circle-notation>
    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <x-gate class="operation-sm"></x-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>
    <circle-notation data-magnitudes="1,0" data-show-kets></circle-notation>
  </div>

  <div class="mt-5 mb-6 flex flex-row items-center space-x-1">
    <circle-notation
      data-magnitudes="0.9,0.4"
      data-phases="340,70"
      data-show-kets
    ></circle-notation>
    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <x-gate class="operation-sm"></x-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>
    <circle-notation
      data-magnitudes="0.4,0.9"
      data-phases="70,340"
      data-show-kets
    ></circle-notation>
  </div>
</template>
