<template id="x-gate-help">
  <header>
    <h1>NOT ゲート (パウリ X ゲート)</h1>
    <p>量子ビットペア <code>|0⟩</code> と <code>|1⟩</code> を入れ替える。</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ 1 | qubit_circle: 0, 'base', 'emerald' }} {{ 0 | qubit_circle: 1, 'base' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <x-gate class="operation-sm"></x-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ 0 | qubit_circle: 0, 'base', 'emerald' }} {{ 1 | qubit_circle: 1, 'base' }}
    </div>
  </div>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ 0 | qubit_circle: 0, 'base', 'emerald' }} {{ 1 | qubit_circle: 1, 'base' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <x-gate class="operation-sm"></x-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ 1 | qubit_circle: 0, 'base', 'emerald' }} {{ 0 | qubit_circle: 1, 'base' }}
    </div>
  </div>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ '0.8404867973901246 - 0.30591165949157917i' | qubit_circle: 0, 'base', 'emerald' }} {{
      '0.15295625823231337 + 0.42024324273873803i' | qubit_circle: 1, 'base' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <x-gate class="operation-sm"></x-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ '0.15295625823231337 + 0.42024324273873803i' | qubit_circle: 0, 'base', 'emerald' }} {{
      '0.8404867973901246 - 0.30591165949157917i' | qubit_circle: 1, 'base' }}
    </div>
  </div>
</template>
