<template id="y-gate-help">
  <div class="px-4 py-3">
    <header>
      <h1 class="mb-1 text-lg font-bold leading-none text-white">パウリ Y ゲート</h1>
      <p class="text-sm leading-none text-zinc-200">X ゲートと Z ゲートの組み合わせの一種。</p>
    </header>

    <div class="mt-4 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="1" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        {% include minus.svg class="h-4 w-4 fill-current text-white" %}
        <y-gate class="qpu-operation-sm"></y-gate>
        {% include arrow_right.svg class="h-4 w-4 fill-current text-white" %}
      </div>

      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="i" data-dark-mode></qubit-circle>
      </div>
    </div>

    <div class="mt-2 flex flex-row items-center space-x-2">
      <div class="flex flex-row space-x-2">
        <qubit-circle class="h-8 w-8" data-ket="0" data-amplitude="0" data-dark-mode></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="1" data-dark-mode></qubit-circle>
      </div>

      <div class="flex flex-row items-center">
        {% include minus.svg class="h-4 w-4 fill-current text-white" %}
        <y-gate class="qpu-operation-sm"></y-gate>
        {% include arrow_right.svg class="h-4 w-4 fill-current text-white" %}
      </div>

      <div class="flex flex-row space-x-2 pr-2">
        <qubit-circle
          class="h-8 w-8"
          data-ket="0"
          data-amplitude="-i"
          data-dark-mode
        ></qubit-circle>
        <qubit-circle class="h-8 w-8" data-ket="1" data-amplitude="0" data-dark-mode></qubit-circle>
      </div>
    </div>
  </div>
</template>
