<template id="y-gate-help">
  <header>
    <h1>パウリ Y ゲート</h1>
    <p>X ゲートと Z ゲートの組み合わせの一種。</p>
  </header>

  <div class="mt-4 flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ 1 | qubit_circle: 0, 'base', 'emerald' }} {{ 0 | qubit_circle: 1, 'base' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <y-gate class="qpu-operation-sm"></y-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ 0 | qubit_circle: 0, 'base', 'emerald' }} {{ 'i' | qubit_circle: 1, 'base' }}
    </div>
  </div>

  <div class="mt-5 flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ 0 | qubit_circle: 0, 'base', 'emerald' }} {{ 1 | qubit_circle: 1, 'base' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-4 w-4 fill-current text-gray-400" %}
      <y-gate class="qpu-operation-sm"></y-gate>
      {% include arrow_right.svg class="h-4 w-4 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ '-i' | qubit_circle: 0, 'base', 'emerald' }} {{ 0 | qubit_circle: 1, 'base' }}
    </div>
  </div>
</template>
