.wires {
  $parent: &;

  @apply absolute;
  @apply overflow-visible;
  @apply transform rotate-90 origin-center;

  bottom: -2px;
  height: calc(100% + 4px);
  left: -2px;
  right: -2px;
  top: -2px;
  width: calc(100% + 4px);

  @screen md {
    @apply rotate-0;
  }

  .circuit-preview & {
    @apply rotate-0;
  }

  &__left {
    @apply text-wire;
    @apply transform scale-x-150 -translate-x-1/4 origin-left;

    @screen md {
      @apply transform scale-x-100 translate-x-0;
    }

    .circuit-preview & {
      @apply transform scale-x-100 translate-x-0;
    }

    .wireable--inactive & {
      @apply text-wire-inactive;
    }

    .wireable--input-inactive & {
      @apply text-wire-inactive;
    }

    .write-gate ~ #{$parent} & {
      @apply text-wire-inactive;
      @apply transform scale-x-75 -translate-x-1/4 origin-left;

      @screen md {
        @apply scale-x-50;
        @apply translate-x-0;
      }
    }

    .circuit-preview .write-gate ~ #{$parent} & {
      @apply scale-x-50;
      @apply translate-x-0;
    }

    .readout-gate ~ #{$parent} & {
      @apply text-wire;
      @apply transform scale-x-75 -translate-x-1/4 origin-left;

      @screen md {
        @apply scale-x-50;
        @apply translate-x-0;
      }
    }

    .circuit-preview .readout-gate ~ #{$parent} & {
      @apply scale-x-50;
      @apply translate-x-0;
    }
  }

  &__right {
    @apply text-wire;
    @apply transform scale-x-150 translate-x-1/4 origin-right;

    @screen md {
      @apply transform scale-x-100 translate-x-0;
    }

    .circuit-preview & {
      @apply transform scale-x-100 translate-x-0;
    }

    .wireable--inactive & {
      @apply text-wire-inactive;
    }

    .wireable--output-inactive & {
      @apply text-wire-inactive;
    }

    .write-gate ~ #{$parent} & {
      @apply text-wire;
      @apply transform scale-x-75 translate-x-1/4 origin-right;

      @screen md {
        @apply scale-x-50;
        @apply translate-x-0;
      }
    }

    .circuit-preview .write-gate ~ #{$parent} & {
      @apply scale-x-50;
      @apply translate-x-0;
    }

    .readout-gate ~ #{$parent} & {
      @apply text-wire-inactive;
      @apply transform scale-x-75 translate-x-1/4 origin-right;

      @screen md {
        @apply scale-x-50;
        @apply translate-x-0;
      }
    }

    .circuit-preview .readout-gate ~ #{$parent} & {
      @apply scale-x-50;
      @apply translate-x-0;
    }
  }

  &__top {
    @apply hidden;
    @apply text-gate;
    @apply transform;

    .connectable--lower-bit & {
      @apply block;
      @apply scale-y-150 -translate-y-1/4 origin-top;
    }

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        stroke-width: #{map-get($connection-width, $nqubit)};

        @screen md {
          stroke-width: #{$connection-width-base};
        }
      }

      .circuit-preview .circuit[data-nqubit="#{$nqubit}"] & {
        stroke-width: #{$connection-width-base};
      }
    }
  }

  &__bottom {
    @apply hidden;
    @apply text-gate;
    @apply transform;

    .connectable--upper-bit & {
      @apply block;
      @apply scale-y-150 translate-y-1/4 origin-bottom;
    }

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        stroke-width: #{map-get($connection-width, $nqubit)};

        @screen md {
          stroke-width: #{$connection-width-base};
        }
      }

      .circuit-preview .circuit[data-nqubit="#{$nqubit}"] & {
        stroke-width: #{$connection-width-base};
      }
    }
  }
}
