---
layout: page
section: 量子暗号通信
title: BB84 回路
description: 量子鍵配送を量子回路として実装
prev: BB84 プロトコル
prev_url: ./bb84_protocol.html
next: 状態ベクトル表示
next_url: ./multi_qubit_circle_notation.html
---

<p>
  BB84 プロトコルを量子回路として動かしてみましょう。
  今回の回路は、アリス、イブ、ボブそれぞれが操作する量子ビットを表現するために、ワイヤが 3
  本あります。 一番上がアリスの量子ビット、真ん中がイブ、三番目がボブの量子ビットを表します。
</p>

<p>
  アリスは暗号鍵の 1 ビット分を表す量子ビットに {% ket 0 %} または {% ket 1 %}
  状態をセットし、ボブに送ろうとします。 イブはアリスとボブの中間 (真ん中のワイヤ)
  で量子ビットを横取りし盗聴 {% qpu_operation measurement %}
  した後、アリスになりすまして偽装した量子ビットをボブに送ります。
  ボブは受け取った量子ビットにランダムに {% qpu_operation h %} を適用してから測定します。
</p>

<p>ランダムにゲートを適用するために、今回は Qni の新たな機能を使います。</p>

<ul>
  <li>
    {% qpu_operation measurement %} の上の文字列は、測定で得られた 0 または 1
    を指定した変数にセットすることを表します。たとえば `aliceX` とラベルの付いた {% qpu_operation
    measurement %} が {% ket 1 %} を測定した場合、変数 `aliceH` の値は 1 となります。
  </li>
  <li>
    {% qpu_operation x %} や {% qpu_operation h %} の上の文字列は変数名を意味し、変数の値が 1
    だった時のみゲートを適用することを意味します。 たとえば `aliceX` とラベルの付いた {%
    qpu_operation x %} は、同じく `aliceX` とラベルの付いた {% qpu_operation measurement %}
    の測定結果が {% ket 1 %} だった時のみ適用されます。
  </li>
</ul>

<p>以上を頭に入れて、BB84 回路の動作をひとつひとつ確認していきましょう。</p>

<div class="relative my-5 mb-10 rounded-md bg-neutral-50">
  <div class="overflow-scroll p-8">
    <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
      <circuit-editor>
        <div
          class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
        >
          <inspector-button
            data-target="circuit-editor.inspectorButton"
            class="inline-block h-10 w-10 p-1"
          >
            <div
              class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
            >
              {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
            </div>
          </inspector-button>
        </div>

        <quantum-circuit
          class="mt-12 mb-40"
          data-target="quantum-simulator.circuit circuit-editor.circuit"
          data-min-wire-count="1"
          data-max-wire-count="1"
          data-min-step-count="8"
          data-json='{"cols":[["{送信内容を決める2つの乱数を生成"],["|0>"],["H"],["Measure>aliceX"],["|0>"],["H"],["Measure>aliceH"],["}"],["|0>"],["{|1⟩をセット"],["X<aliceX"],["}"],["Bloch"],["{Hを適用"],["H<aliceH"],["}"],["Bloch"],["Swap","Swap"],["{🕶イブ"],[1,"H"],[1,"Measure>eveX"],[1,"|0>"],[1,"X<eveX"],[1,"H"],[1,"Bloch"],["}"],[1],["{Hのための乱数を生成"],[1,1,"|0>"],[1,1,"H"],[1,1,"Measure>bobH"],["}"],[1,"Swap","Swap"],["{Hを適用"],[1,1,"H<bobH"],["}"],[1,1,"Bloch"],["{測定"],[1,1,"Measure"],["}"]]}'
        >
        </quantum-circuit>

        <circle-notation
          id="circle-notation"
          data-target="quantum-simulator.circleNotation"
          data-qubit-circle-popup-template-id="qubit-circle-popup"
          class="border-swan absolute left-0 bottom-0 z-40 ml-6 mb-8 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white"
          data-padding-X="16"
          data-padding-Y="20"
        >
        </circle-notation>
      </circuit-editor>

      {% include run_circuit_button.html %}
    </quantum-simulator>
  </div>
</div>

<h2>アリス</h2>

<p>
  アリスはまず、盗聴を検出するための仕掛けを施した量子ビット {% ket 0 %} または {% ket 1 %}
  を作るためのランダム値を 2 つ作ります。 最初に、状態 {% ket 0 %} または {% ket 1 %}
  を決めるため、量子乱数ジェネレータ{% nmargin_note measurement-operation %}<a
    href="./measurement_operation.html"
    >MEASUREMENT 命令</a
  >を参照{% endnmargin_note%}で 0 または 1 を作り、変数
  <code>aliceX</code> にセットします。同様に、{% qpu_operation h %}
  を適用する/しないをランダムに決めるための変数
  <code>aliceH</code> をもう一つの量子乱数ジェネレータでセットします。
</p>

<p>
  次に、このランダムな値 0 または 1 を持つ 2 つの変数 <code>aliceX</code> と
  <code>aliceH</code> を使って、暗号鍵の 1 ビット分を作ります。 {% ket 0 %}
  に初期化した量子ビットに対して、<code>aliceX == 1</code> の場合だけ {% qpu_operation x %}
  を適用します。 これによって、アリスの量子ビットはランダムに {% ket 0 %} または {% ket 1 %}
  の状態を持ちます。 同様に、ランダムな変数 <code>aliceH</code> の値が 1 だった場合に {%
  qpu_operation h %} を適用します。 できあがった量子ビットを (イブにすぐ横取りされてしまうものの)
  ボブへと送ります。
</p>

<p>
  アリスが送信する量子ビットの状態は、左から 2 つめのブロッホ球で確認できます。 「{% ket 0 %} または
  {% ket 1 %}」の 2 通りと、「{% qpu_operation h %} を適用する/しない」の 2 通りがあるので、計 \(2
  \times 2 = 4\) 通りの状態を取りうることを確認してください。
</p>

<h2>イブ</h2>

<p>
  イブは横取りした量子ビットを盗聴し、ボブへ偽装した量子ビットを送ります。
  しかしイブはクローン禁止定理{% nmargin_note no-cloning-theorem %}<a
    href="./no_cloning_theorem.html"
    >CLONE 命令!?</a
  >を参照{% endnmargin_note
  %}によりアリスの量子ビットを複製できないため、測定して量子ビット状態を壊す以外に量子ビットの状態を推定することはできません。
  さらにアリスが {% ket 0 %} と {% ket 1 %} のどちらを送ったのか、さらに {% qpu_operation h %}
  を適用したかどうかが測定結果からは分からないため、測定結果は 1/2 の確率でしか当たりません。
  また盗聴行為が直接バレるのを防ぐため、{% qpu_operation x %} と {% qpu_operation h %}
  でアリスの量子ビットに偽装した新たな量子ビットをボブへ送る必要があります。
</p>

<p>
  イブが送信する量子ビットの状態は、左から 3
  つめのブロッホ球で確認できます。アリスが送る量子ビットの状態は 4 通りなので、およそ 3/4
  の確率でアリスの送った状態と異なる量子ビットをボブに送ることになります。
</p>

<h2>ボブ</h2>

<p>
  ボブは BB84 プロトコルに従ってランダムに {% qpu_operation h %}
  を適用し、アリスからの量子ビットを測定します。 そして {% qpu_operation h %}
  を適用した/しないがアリスと一致する量子ビットのうち、半分の測定結果を突き合わせ、等しいかどうかを確認します。
  このとき、イブが盗聴した影響でその約半分に不一致が置こるため、イブの盗聴が判明します。
</p>
