---
layout: page
section: QPU 命令その 2
title: CPHASE ゲート
description: 条件付き PHASE ゲート
prev: SWAP パズル
prev_url: ./swap_from_cnots.html
next: 量子もつれ
next_url: ./entanglement.html
---

<p>
  コントロールゲートと組合わせた PHASE ゲートを CPHASE ゲートと呼びます。 CNOT
  ゲートと同じく、CPHASE ゲートは条件付きで PHASE ゲートを作用させます。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <div class="flex flex-row justify-center">
    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
    </circuit-step>
  </div>
</div>

<p>
  CPHASE ゲートの特徴に対称性があります。 CPHASE
  ではコントロールビットとターゲットビットとの区別がなく、入れ替えてもまったく同じ動作をします。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <div class="flex flex-row items-center justify-center space-x-4">
    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
    </circuit-step>
  </div>
</div>

<p>
  この対称性のため、CPHASE ゲートはしばしば、次のようにコントロールゲートを使わず PHASE
  ゲート同士を接続した形で書きます。 このとき、ペアとなる CPHASE
  ゲートはそれぞれ同じ角度を持たなければいけないことに注意してください。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <div class="flex flex-row items-center justify-center space-x-4">
    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
    </circuit-step>
  </div>
</div>

<p>Qni では CPHASE をコントロールゲートありと PHASE ゲート 2 個の両方で書くことができます。</p>

<h2>CPHASE ゲートの作用</h2>

<p>
  ビット 1 をコントロールビット、ビット 3 をターゲットビットとした CPHASE
  ゲートの作用を見てみましょう。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <quantum-circuit
    data-min-wire-count="1"
    data-max-wire-count="1"
    data-min-step-count="5"
    data-json='{"cols":[["|0>","|0>","|0>"],["{重ね合わせ"],["H","H","H"],["}"],["•",1,"P(π/4)"]]}'
  >
  </quantum-circuit>
</div>

<p>
  まずはコントロールゲートなしで、PHASE ゲートのみをビット 3 に適用した場合の動作をおさらいします。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <quantum-circuit
    data-min-wire-count="1"
    data-max-wire-count="1"
    data-min-step-count="5"
    data-json='{"cols":[["|0>","|0>","|0>"],["{重ね合わせ"],["H","H","H"],["}"],[1,1,"P(π/4)"]]}'
  >
  </quantum-circuit>
</div>

<p>
  PHASE ゲートをビット 3 に適用する場合、演算ペアは 4 つ離れた円のペア「{% ket 0 %} と {% ket 4
  %}」、「{% ket 1 %} と {% ket 5 %}」、「{% ket 2 %} と {% ket 6 %}」、「{% ket 3 %} と {% ket 7
  %}」になります。
</p>

<figure>
  <img src="./images/phase_bit3_ket_pair.png" />
</figure>

<p>
  PHASE ゲートは演算ペアの右側の円のみに作用します。
  つまり、すべての円のうち半分の円のみに作用します。
</p>

<div class="my-5 flex">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-before-P3"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-before-P3')
        circleNotation.setAmplitudes({
          0: Math.sqrt(0.125),
          1: Math.sqrt(0.125),
          2: Math.sqrt(0.125),
          3: Math.sqrt(0.125),
          4: Math.sqrt(0.125),
          5: Math.sqrt(0.125),
          6: Math.sqrt(0.125),
          7: Math.sqrt(0.125),
        })
      </script>
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-neutral-400" %}
      <div>PHASE(π/4) ゲートをビット 3 に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-neutral-400" %}
    </div>

    <div class="flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-after-P3"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-after-P3')
        circleNotation.setAmplitudes({
          0: Math.sqrt(0.125),
          1: Math.sqrt(0.125),
          2: Math.sqrt(0.125),
          3: Math.sqrt(0.125),
          4: new Complex(0.25, 0.25),
          5: new Complex(0.25, 0.25),
          6: new Complex(0.25, 0.25),
          7: new Complex(0.25, 0.25),
        })
      </script>
    </div>
  </div>
</div>

<p>
  次にコントロールゲートをビット 1 に置いた場合を考えます。 この場合、ビット 1
  が立っている演算ペアのみに PHASE ゲートを適用するのでした。 すると先ほどの演算ペアの半分「{% ket 1
  %} と {% ket 5 %}」、「{% ket 3 %} と {% ket 7 %}」が PHASE ゲートの対象になります。
</p>

<div class="my-5 flex">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-before-CPHASE"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-before-CPHASE')
        circleNotation.setAmplitudes({
          0: Math.sqrt(0.125),
          1: Math.sqrt(0.125),
          2: Math.sqrt(0.125),
          3: Math.sqrt(0.125),
          4: Math.sqrt(0.125),
          5: Math.sqrt(0.125),
          6: Math.sqrt(0.125),
          7: Math.sqrt(0.125),
        })
      </script>
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-neutral-400" %}
      <div>CPHASE(π/4) (コントロールビット 1、ターゲットビット 3)</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-neutral-400" %}
    </div>

    <div class="flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-after-CPHASE"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-after-CPHASE')
        circleNotation.setAmplitudes({
          0: Math.sqrt(0.125),
          1: Math.sqrt(0.125),
          2: Math.sqrt(0.125),
          3: Math.sqrt(0.125),
          4: Math.sqrt(0.125),
          5: new Complex(0.25, 0.25),
          6: Math.sqrt(0.125),
          7: new Complex(0.25, 0.25),
        })
      </script>
    </div>
  </div>
</div>

<p>
  このように、コントロールビットを 1 つ増やすごとに、回転する円の数は半分になります。 たとえば、上の
  3 量子ビットの例でコントロールゲートを 2 個に増やすと、回転する円は 1 つになります。
</p>

<h2>ハンズオン</h2>

<p>
  コントロールゲート 2 個の PHASE ゲート (CCPHASE) を作り、回転する円が 1
  個になることを確認しましょう。 また、CCPHASE を同等な 3 個のPHASE
  ゲートに書き換え、同様に動作することを確認しましょう。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <div class="flex flex-row items-center justify-center space-x-4">
    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π/4"></phase-gate>
      </circuit-dropzone>
    </circuit-step>
  </div>
</div>

<div class="relative mb-10 rounded-md bg-neutral-50">
  <div class="overflow-scroll p-8">
    <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
      <circuit-editor>
        <div
          class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
        >
          <inspector-button
            data-target="circuit-editor.inspectorButton"
            class="inline-block h-10 w-10 p-1"
          >
            <div
              class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200"
            >
              {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
            </div>
          </inspector-button>
        </div>

        <div
          id="palette"
          class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-gray-200 bg-white px-4 py-5"
        >
          <palette-dropzone>
            <phase-gate data-angle="π/4"></phase-gate>
          </palette-dropzone>
          <palette-dropzone>
            <control-gate></control-gate>
          </palette-dropzone>
        </div>

        <quantum-circuit
          class="mb-10"
          data-target="quantum-simulator.circuit circuit-editor.circuit"
          data-min-wire-count="1"
          data-max-wire-count="1"
          data-min-step-count="8"
          data-json='{"cols":[["|0>","|0>","|0>"],["{重ね合わせ"],["H","H","H"],["}"],["•",1,"P(π/4)"]]}'
        >
        </quantum-circuit>

        <circle-notation
          id="circle-notation"
          data-target="quantum-simulator.circleNotation"
          class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white px-4 py-4"
          data-multi-qubits
        >
        </circle-notation>
      </circuit-editor>

      <run-circuit-button
        class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
        data-targets="quantum-simulator.runCircuitButtons"
      ></run-circuit-button>
    </quantum-simulator>
  </div>
</div>

<h2>CZ ゲート</h2>

<p>角度が π の場合の CPHASE(π) は、次のようにコントロールゲートのみで書くことができます。</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <div class="flex flex-row items-center justify-center space-x-4">
    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π"></phase-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π"></phase-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
    </circuit-step>
  </div>
</div>

<p>
  このコントロールゲートのみのゲートを CZ ゲートと呼びます。 これは、PHASE(π) には Z
  ゲートという別名があるため、CPHASE(π) は次のように Z ゲートにコントロールゲートを組合わせたもの
  (つまり CZ) としても書けるからです。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <div class="flex flex-row items-center justify-center space-x-4">
    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π"></phase-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <phase-gate data-angle="π"></phase-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <z-gate></z-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <z-gate></z-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-top data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
    </circuit-step>

    <span>=</span>

    <circuit-step class="no-rotation p-0">
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
      <circuit-dropzone data-connect-bottom data-input-wire-quantum data-output-wire-quantum>
        <control-gate></control-gate>
      </circuit-dropzone>
    </circuit-step>
  </div>
</div>

<h2>ハンズオン</h2>

<p>
  CZ ゲートをコントロールゲートと PHASE(π) ゲートの組合わせ、コントロールゲートと Z
  ゲートの組合わせ、コントロールゲートのみの 3 通りで作り、同じ動作になることを確認しましょう。
</p>

<div class="relative mb-10 rounded-md bg-neutral-50">
  <div class="overflow-scroll p-8">
    <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
      <circuit-editor>
        <div
          class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
        >
          <inspector-button
            data-target="circuit-editor.inspectorButton"
            class="inline-block h-10 w-10 p-1"
          >
            <div
              class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200"
            >
              {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
            </div>
          </inspector-button>
        </div>

        <div
          id="palette"
          class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-gray-200 bg-white px-4 py-5"
        >
          <palette-dropzone>
            <phase-gate data-angle="π"></phase-gate>
          </palette-dropzone>
          <palette-dropzone>
            <z-gate></z-gate>
          </palette-dropzone>
          <palette-dropzone>
            <control-gate></control-gate>
          </palette-dropzone>
        </div>

        <quantum-circuit
          class="mb-10"
          data-target="quantum-simulator.circuit circuit-editor.circuit"
          data-min-wire-count="1"
          data-max-wire-count="1"
          data-min-step-count="8"
          data-json='{"cols":[["|0>","|0>","|0>"],["{重ね合わせ"],["H","H","H"],["}"],["•",1,"P(π)"]]}'
        >
        </quantum-circuit>

        <circle-notation
          id="circle-notation"
          data-target="quantum-simulator.circleNotation"
          class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white px-4 py-4"
          data-multi-qubits
        >
        </circle-notation>
      </circuit-editor>

      <run-circuit-button
        class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
        data-targets="quantum-simulator.runCircuitButtons"
      ></run-circuit-button>
    </quantum-simulator>
  </div>
</div>

{% include operation_menu.html %} {% include operation_inspector_template.html %} {% include
circle_notation_popup.html %}
