---
layout: page
section: QPU 命令その 1
title: CPU 命令との違い
description: 量子コンピュータ版 論理演算
---

<p>
  QPU 命令は、CPU で実行される AND や NOT, OR といった命令 (論理演算) の量子ビット版です。 QPU
  命令と CPU 命令には、次の大きな違いがあります。
</p>

<ul class="list-decimal">
  <li>
    <p><strong>QPU 命令は重ね合わせ状態に作用できます。</strong></p>
    <p>
      CPU 論理演算は 0 または 1 のみを入力・出力します。 0 と 1 は古典 1
      ビットで表せる値のすべてです。
    </p>

    <figure class="!w-full">
      <img src="./images/logic_gates_and_not.png" class="h-auto w-full" />
    </figure>

    <p>
      一方で QPU 命令は量子ビットを入出力します。 量子ビットは 0 と 1 だけでなく、0 と 1 の確率
      (重ね合わせ) を持つことができ、また位相という角度データも持つのでした。 QPU
      命令は量子ビットの持つ確率と位相の両方に作用します。
    </p>

    <div class="my-5 flex items-center justify-center">
      <div class="mt-4 mb-2 flex flex-row items-center space-x-1">
        <circle-notation
          data-size="xl"
          data-magnitudes="0.8944271909999159,0.4472135954999579"
          data-phases="-20,70"
          data-show-kets
        ></circle-notation>
        <div class="flex flex-row items-center">
          {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
          <span class="rounded bg-green-500 p-2 text-white">QPU 命令</span>
          {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
        </div>
        <circle-notation
          data-size="xl"
          data-magnitudes="0.4472135954999579,0.8944271909999159"
          data-phases="70,-20"
          data-show-kets
        ></circle-notation>
      </div>
    </div>
  </li>
  <li>
    <p><strong>QPU 命令の大部分は、逆方向の命令 (逆演算) を持ちます。</strong></p>
    <p>
      AND などの CPU 命令では、出力の 1 ビットから入力の 2 ビットを知ることはできません。
      たとえば、AND の出力が 0 だった場合には、入力は 00/01/10 の 3 通りで、どれか 1
      つに特定することはできません。 これを「AND は非可逆である」と言います。
    </p>

    <p>
      一方でほとんどの QPU 命令は可逆です。 つまりある QPU 命令に対応する逆命令 (逆演算)
      を適用することで、出力の量子ビットから元々の入力された量子ビットを得ることができます
    </p>

    <div class="my-5 flex items-center justify-center">
      <div class="mt-4 mb-2 flex flex-row items-center space-x-1">
        <circle-notation
          data-size="lg"
          data-magnitudes="0.8944271909999159,0.4472135954999579"
          data-phases="-20,70"
          data-show-kets
        ></circle-notation>
        <div class="flex flex-row items-center">
          {% include minus.svg class="h-4 w-4 fill-current text-neutral-400" %}
          <span class="whitespace-nowrap rounded bg-green-500 p-2 text-xs text-white">命令</span>
          {% include arrow_right.svg class="h-4 w-4 fill-current text-neutral-400" %}
        </div>
        <circle-notation
          data-size="lg"
          data-magnitudes="0.4472135954999579,0.8944271909999159"
          data-phases="70,-20"
          data-show-kets
        ></circle-notation>
        <div class="flex flex-row items-center">
          {% include minus.svg class="h-4 w-4 fill-current text-neutral-400" %}
          <span class="whitespace-nowrap rounded bg-green-500 p-2 text-xs text-white">逆演算</span>
          {% include arrow_right.svg class="h-4 w-4 fill-current text-neutral-400" %}
        </div>
        <circle-notation
          data-size="lg"
          data-magnitudes="0.8944271909999159,0.4472135954999579"
          data-phases="-20,70"
          data-show-kets
        ></circle-notation>
      </div>
    </div>
  </li>
</ul>

<p>逆演算は量子プログラミングでひんぱんに使うテクニックの 1 つです。</p>

<p>
  たとえば量子ビット同士をもつれさせるいくつかの QPU
  命令の後に逆演算を施すと、もつれた量子ビットを元通りに戻すことができます。
  この量子ビットをもつれさせる/ほどくという操作は、量子プログラミングの基本的なテクニックです。
</p>

<p>
  またアンコンピュテーションというテクニックを使うと、実行中にぐちゃぐちゃになった量子ビットの状態を元の初期状態に戻して再利用できます。
  これらは少ない量子ビット数でやりくりするための量子版ガベージ・コレクションとも言えるものです。
</p>

<p>これらのテクニックの基本となる、代表的な QPU 命令と逆演算を具体的に見ていきましょう。</p>

<template id="circle-notation-popup">
  <ul class="list-none">
    <li>
      確率:
      <span class="circle-notation-popup__probability text-eel font-mono font-bold"></span>
    </li>
    <li>
      位相:
      <span class="circle-notation-popup__phase text-eel font-mono font-bold"></span>
    </li>
  </ul>
</template>

{% include operation_menu.html %} {% include operation_inspector_template.html %}
