---
layout: page
section: 量子位相推定
title: 固有位相
description: 固有状態に対応する位相回転
prev: QFT 足し算
prev_url: ./qft_adder.html
---

<p>
  本節では、振幅増幅や QFT
  と並び重要なサブルーチンである、<strong>量子位相推定</strong>を紹介します。
  量子位相推定は、振幅増幅や QFT とはかなり異質のサブルーチンです。
  状態ベクトルから情報を取り出すのではなく、<strong>QPU 命令に関する情報を取り出す</strong
  >という特徴があります。
  一見わかりづらいですが、動作イメージを理解するためにいくつかの新しい概念を導入します。
</p>

<h2>固有状態と固有位相</h2>

<p>
  {% qpu_operation h %} や {% qpu_operation x %} といった QPU
  命令は、それぞれ<strong>固有状態</strong>と呼ばれるユニークな状態ベクトルを持ちます。
  たとえば以下のように、{% ket 0 %} の確率が 85.3553%、{% ket 1 %} の確率が 14.6447% の量子ビットに
  {% qpu_operation h %} を適用しても、その状態はまったく変わりません。 このように、固有状態とは QPU
  命令を適用しても変化しない状態ベクトルのことで、QPU 命令それぞれが独自の (固有の)
  状態ベクトルを持っています。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="mb-8 flex flex-row items-center space-x-2">
    <div class="flex flex-row space-x-2">
      {{ 0.9238795325112868 | qubit_circle: 0, 'base' }} {{ 0.3826834323650898 | qubit_circle: 1,
      'base' }}
    </div>

    <div class="relative h-8 w-16">
      <div class="absolute inset-0 flex h-8 w-16 items-center text-zinc-300">
        {% include qubit_transition_arrow.svg %}
      </div>
      <h-gate class="qpu-operation-sm absolute inset-0 m-auto"></h-gate>
    </div>

    <div class="flex flex-row space-x-2">
      {{ 0.9238795325112868 | qubit_circle: 0, 'base' }} {{ 0.3826834323650898 | qubit_circle: 1,
      'base' }}
    </div>
  </div>
</div>

{% capture json %} {"cols":[["{Hの固有状態を作る"],["|0>"],["Ry(π/4)"],["}"],["H"]]} {% endcapture
%} {{ json | strip | mini_qni }}

<p>
  ある QPU 命令の固有状態は 1 つとは限りません。上の固有状態の {% ket 0 %} と {% ket 1 %}
  を入れ替え、{% ket 0 %} の位相を π 回転したものも、同じく {% qpu_operation h %} の固有状態です。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="mb-8 flex flex-row items-center space-x-2">
    <div class="flex flex-row space-x-2">
      {{ -0.3826834323650898 | qubit_circle: 0, 'base' }} {{ 0.9238795325112868 | qubit_circle: 1,
      'base' }}
    </div>

    <div class="relative h-8 w-16">
      <div class="absolute inset-0 flex h-8 w-16 items-center text-zinc-300">
        {% include qubit_transition_arrow.svg %}
      </div>
      <h-gate class="qpu-operation-sm absolute inset-0 m-auto"></h-gate>
    </div>

    <div class="flex flex-row space-x-2">
      {{ 0.3826834323650898 | qubit_circle: 0, 'base' }} {{ -0.9238795325112868 | qubit_circle: 1,
      'base' }}
    </div>
  </div>
</div>

{% capture json %} {"cols":[["{Hの固有状態を作る"],["|0>"],["Ry(5π/4)"],["}"],["H"]]} {% endcapture
%} {{ json | strip | mini_qni }}

<p>
  「左と右の状態ベクトルはまったく違うじゃないか!」と思うかもしれません。 しかし<a
    href="./phase.html"
    >位相</a
  >で説明したように、量子コンピュータでは {% ket 0 %} と {% ket 1 %} の位相差 (相対位相)
  のみが意味を持つのでした。 上の左右を見比べてみると、{% ket 0 %} と {% ket 1 %}
  の確率は等しく、またそれぞれの位相差は π であるため、これらは実は同じものです。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="mb-8 flex flex-row items-center space-x-2">
    <div class="flex flex-row space-x-2">
      {{ -0.3826834323650898 | qubit_circle: 0, 'base' }} {{ 0.9238795325112868 | qubit_circle: 1,
      'base' }}
    </div>

    <div class="flex h-8 w-8 justify-center">
      <span>=</span>
    </div>

    <div class="flex flex-row space-x-2">
      {{ 0.3826834323650898 | qubit_circle: 0, 'base' }} {{ -0.9238795325112868 | qubit_circle: 1,
      'base' }}
    </div>
  </div>
</div>

<p>
  このように、見た目は異なるが実は等しい状態ベクトルの組について、その位相差を<strong>固有位相</strong>と呼びます。
  上の固有状態では固有位相は π です。また最初の固有状態には左右で位相差はないので固有位相は 0 です。
  このように、固有状態と固有位相はペアとなります。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <table>
    <thead>
      <tr>
        <th>QPU 命令</th>
        <th>固有状態</th>
        <th>固有位相</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2" class="align-middle">
          <div class="flex justify-center">{% qpu_operation h %}</div>
        </td>
        <td>
          <div class="flex flex-row space-x-2">
            {{ 0.9238795325112868 | qubit_circle: 0, 'base' }} {{ 0.3826834323650898 | qubit_circle:
            1, 'base' }}
          </div>
        </td>
        <td class="align-middle">0</td>
      </tr>
      <tr>
        <td class="p-2">
          <div class="flex flex-row space-x-2">
            {{ -0.3826834323650898 | qubit_circle: 0, 'base' }} {{ 0.9238795325112868 |
            qubit_circle: 1, 'base' }}
          </div>
        </td>
        <td class="align-middle">π</td>
      </tr>
    </tbody>
  </table>
</div>

<p>
  すべての QPU 命令はそれぞれ固有の固有状態とそれに対応する固有位相を持ちます。 例として {%
  qpu_operation x %}, {% qpu_operation y %}, {% qpu_operation z %} の固有状態と固有位相を示します。
  それぞれの固有状態は {% qpu_operation h %} や {% qpu_operation phase %}
  などで簡単に作れるものばかりなので、実際に Qni で確認しておくことをおすすめします。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <table>
    <thead>
      <tr>
        <th>QPU 命令</th>
        <th>固有状態</th>
        <th>固有位相</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2" class="align-middle">
          <div class="flex justify-center">{% qpu_operation x %}</div>
        </td>
        <td>
          <div class="flex flex-row space-x-2">
            {{ 0.5 | sqrt | qubit_circle: 0, 'base' }} {{ 0.5 | sqrt | qubit_circle: 1, 'base' }}
          </div>
        </td>
        <td class="align-middle">0</td>
      </tr>
      <tr>
        <td class="p-2">
          <div class="flex flex-row space-x-2">
            {{ 0.5 | sqrt | prepend: '-' | qubit_circle: 0, 'base' }} {{ 0.5 | sqrt | qubit_circle:
            1, 'base' }}
          </div>
        </td>
        <td class="align-middle">π</td>
      </tr>

      <tr>
        <td rowspan="2" class="align-middle">
          <div class="flex justify-center">{% qpu_operation y %}</div>
        </td>
        <td>
          <div class="flex flex-row space-x-2">
            {{ 0.5 | sqrt | qubit_circle: 0, 'base' }} {{ 0.5 | sqrt | append: 'i' | qubit_circle:
            1, 'base' }}
          </div>
        </td>
        <td class="align-middle">0</td>
      </tr>
      <tr>
        <td class="p-2">
          <div class="flex flex-row space-x-2">
            {{ 0.5 | sqrt | qubit_circle: 0, 'base' }} {{ 0.5 | sqrt | append: 'i' | prepend: '-' |
            qubit_circle: 1, 'base' }}
          </div>
        </td>
        <td class="align-middle">π</td>
      </tr>

      <tr>
        <td rowspan="2" class="align-middle">
          <div class="flex justify-center">{% qpu_operation z %}</div>
        </td>
        <td>
          <div class="flex flex-row space-x-2">
            {{ 1 | qubit_circle: 0, 'base' }} {{ 0 | qubit_circle: 1, 'base' }}
          </div>
        </td>
        <td class="align-middle">0</td>
      </tr>
      <tr>
        <td class="p-2">
          <div class="flex flex-row space-x-2">
            {{ 0 | qubit_circle: 0, 'base' }} {{ 1 | qubit_circle: 1, 'base' }}
          </div>
        </td>
        <td class="align-middle">π</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>量子位相推定は何ができるか?</h2>

<p>
  量子位相推定は QPU 命令やそれらを組合わせた演算の固有位相を取り出すためのサブルーチンです。
  なぜ固有位相を取り出す必要があるのか、現時点では分からないかもしれません。
  しかし固有状態と付随する固有位相は QPU
  命令に固有のものであり、演算内容を一意的に特徴付ける重要な情報です。
  次回では量子位相推定が実際にどう使えるかを見ていきましょう。
</p>
