---
layout: page
section: QPU 命令その 1
title: H ゲート
description: シンプルな重ね合わせ状態を作る
prev: X ゲート (量子 NOT)
prev_url: ./x_gate.html
next: PHASE ゲート
next_url: ./phase_gate.html
---

<p>
  H ゲート
  <h-gate class="operation-xs inline-block"></h-gate>
  はフランスの数学者、ジャック・サロモン・アダマール (Jacques Salomon Hadamard, 1865 - 1963)
  の名前を冠したゲートで、別名アダマールゲートとも呼びます{% nmargin_note h-gate
  %}英語では「ハダマードゲート (Hadamard
  gate)」と言います。日本語の「アダマールゲート」は、フランス語の元々の発音 (Hadamard の最初の h
  と最後の d を発音しない) に近いカタカナ表記です。{% endnmargin_note %}。
</p>

<p>
  <h-gate class="operation-xs inline-block"></h-gate> はシンプルな重ね合わせ状態を作ります。 {% ket
  0 %} または {% ket 1 %} に作用させると、次のように大きさの等しい重ねあわせ状態を作ります。
</p>

<div class="my-5 flex overflow-x-auto md:mr-auto md:w-7/12">
  <div class="flex flex-col">
    <div class="mb-8 flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 1 | qubit_circle: 0, 'lg' }} {{ 0 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
        <h-gate></h-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
    </div>

    <div class="flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 0 | qubit_circle: 0, 'lg' }} {{ 1 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
        <h-gate></h-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | prepend: '-' | qubit_circle: 1,
        'lg' }}
      </div>
    </div>
  </div>
</div>

<p>
  {% ket 1 %} に対して <h-gate class="operation-xs inline-block"></h-gate> を適用したときのみ、{%
  ket 1 %} の位相が π 変化していることに注意してください。 {% ket 0 %} に対する
  <h-gate class="operation-xs inline-block"></h-gate> 操作は、位相の回転を含みません。
</p>

<p>
  <h-gate class="operation-xs inline-block"></h-gate> は QPU
  独自の命令です。量子ビットだけが持つ重ね合わせ状態を作るという性質を持つので、従来の論理演算には H
  ゲートに対応するものはありません。
</p>

<h2>ハンズオン</h2>

<p>
  <h-gate class="operation-xs inline-block"></h-gate> を {% ket 0 %} と {% ket 1 %}
  に適用して、重ね合わせ状態が作られることを確認しましょう。 {% ket 0 %}
  は最初から回路にセットされていますが、{% ket 1 %} を作るにはどうしたらいいでしょうか? (ヒント: X
  ゲートを使います)
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-neutral-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <h-gate data-hoverable></h-gate>
        </palette-dropzone>
        <palette-dropzone>
          <x-gate data-hoverable></x-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
          >
            {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-neutral-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>逆演算</h2>

<p>
  <h-gate class="operation-xs inline-block"></h-gate> を続けて 2 回適用するとどうなるでしょうか?
  直感的には分かりづらいですが、そんな時には Qni で試してみましょう! 実際に
  <h-gate class="operation-xs inline-block"></h-gate> を 2 個連続して置くと、{% ket 0 %} も {% ket 1
  %} もそれぞれ元の状態に戻ります。 つまり、 <h-gate class="operation-xs inline-block"></h-gate> も
  X ゲートと同様にそれ自身を打ち消す効果を持っているので、それ自身の逆演算です。
</p>

<div class="mx-5 flex overflow-x-auto">
  <div class="flex flex-col">
    <div class="mb-8 flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 1 | qubit_circle: 0, 'lg' }} {{ 0 | sqrt | qubit_circle: 1, 'lg' }}
      </div>

      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
        <h-gate></h-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
      </div>

      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }}
      </div>

      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
        <h-gate></h-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
      </div>

      <div class="flex flex-row">
        {{ 1 | qubit_circle: 0, 'lg' }} {{ 0 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
    </div>

    <div class="flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 0 | qubit_circle: 0, 'lg' }} {{ 1 | sqrt | qubit_circle: 1, 'lg' }}
      </div>

      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
        <h-gate></h-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
      </div>

      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | prepend: '-' | qubit_circle: 1,
        'lg' }}
      </div>

      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
        <h-gate></h-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
      </div>

      <div class="flex flex-row">
        {{ 0 | qubit_circle: 0, 'lg' }} {{ 1 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
    </div>
  </div>
</div>

<h2>H ゲートを回転として見る</h2>

<p>
  <h-gate class="operation-xs inline-block"></h-gate> を回転として見ると、
  <h-gate class="operation-xs inline-block"></h-gate> はブロッホ球の X 軸と Z 軸の中間 (黒い矢印)
  を軸とした 180 度の回転となります。 たとえば北極の {% ket 0 %} 状態に
  <h-gate class="operation-xs inline-block"></h-gate> を適用すると、赤い矢印に沿って X
  の文字の部分まで回転します。 もう一度適用すると、青い矢印に沿って 180 度回転し元の位置に戻ります
  (逆演算)。
</p>

<figure class="not-prose">
  {% margin_note h-gate-rotation %}H ゲートの回転 (画像クレジット:
  <a
    href="https://physics.stackexchange.com/questions/313959/visual-interpretation-on-the-bloch-sphere-when-hadamard-gate-is-applied-twice"
    >physics.stackexchange.com</a
  >){% endmargin_note %}
  <img src="./images/bloch_H0.png" class="h-auto w-full" />
</figure>

<h2>任意の重ね合わせ状態に H ゲートを適用</h2>

<p>
  次のように振幅の大きさと位相の異なる重ね合わせ状態に H
  ゲートを適用した場合、その変化はどのように理解するとよいでしょうか?
</p>

<div class="my-5 flex flex-row space-x-4 overflow-x-auto md:mr-auto md:w-7/12">
  <div class="flex flex-row items-center space-x-1">
    <div class="flex flex-row">
      {{ -0.38268 | qubit_circle: 0, 'lg' }} {{ '0.7855 - 0.48636i' | qubit_circle: 1, 'lg' }}
    </div>

    <div class="flex flex-row items-center">
      {% include minus.svg class="h-6 w-6 fill-current text-neutral-400" %}
      <h-gate></h-gate>
      {% include arrow_right.svg class="h-6 w-6 fill-current text-neutral-400" %}
    </div>

    <div class="flex flex-row">
      {{ '0.28483 - 0.34391i' | qubit_circle: 0, 'lg' }} {{ '-0.82603 + 0.34391i' | qubit_circle: 1,
      'lg' }}
    </div>
  </div>
</div>

<p>
  これを頭の中だけで想像するのは大変なので、さしあたっては Qni に計算をおまかせして OK です。
  実は、円の図だけでおおまかな変化を導き出すこともできるのですが、そのためには H
  ゲートを行列で表したもの (ゲートの行列表現) の知識が必要になります。
  詳しい方法はのちほど紹介します。
</p>

<orbit-reviewarea color="blue">
  <orbit-prompt question="重ね合わせ状態を作る量子ゲートの名前は?" answer="H ゲート"></orbit-prompt>
  <orbit-prompt question="H ゲートの作用は?" answer="重ね合わせ状態を作る"></orbit-prompt>
  <orbit-prompt question="H ゲートの別名は?" answer="アダマールゲート"></orbit-prompt>
  <orbit-prompt
    question="H ゲートを適用するとどうなる?"
    question-attachments="https://qniapp.github.io/qni/images/superposition-100-0.png"
    answer="|0⟩ と |1⟩ の等しい重ね合わせができる"
    answer-attachments="https://qniapp.github.io/qni/images/superposition-50-50.png"
  ></orbit-prompt>
  <orbit-prompt
    question="H ゲートを適用するとどうなる?"
    question-attachments="https://qniapp.github.io/qni/images/superposition-0-100.png"
    answer="|0⟩ と |1⟩ の等しい重ね合わせができ、|1⟩ のみ位相が反転する"
    answer-attachments="https://qniapp.github.io/qni/images/superposition-minus-state.png"
  ></orbit-prompt>
  <orbit-prompt
    question="量子ビットに H ゲートを 2 回連続して適用するとどうなる?"
    answer="元に戻る"
    answer-attachments="https://qniapp.github.io/qni/images/h-gate-reversibility.png"
  ></orbit-prompt>
  <orbit-prompt
    cloze="H ゲートは{それ自身を打ち消す}効果を持っていることから、H ゲートはそれ自身の{逆演算}であると言う"
  ></orbit-prompt>
</orbit-reviewarea>
