---
layout: page
title: MEASUREMENT 命令
description: 量子ビットから 0 または 1 を読み出す
---

<h2>単純な状態の測定</h2>

<p>
  MEASUREMENT 命令は量子ビットから 0 または 1 の値を読み出します。
  たとえば以下のように量子ビット状態が {% ket 0 %} または {% ket 1 %}
  の状態にある場合、測定するとそのまま同じ {% ket 0 %} と {% ket 1 %} が返されます。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="flex flex-col">
    <div class="mb-8 flex flex-row items-center space-x-1">
      <circle-notation id="circle-notation-0" data-size="xl" data-show-kets></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <measurement-gate></measurement-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation id="circle-notation-1" data-size="xl" data-show-kets></circle-notation>
    </div>

    <div class="flex flex-row items-center space-x-1">
      <circle-notation id="circle-notation-2" data-size="xl" data-show-kets></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <measurement-gate></measurement-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation id="circle-notation-3" data-size="xl" data-show-kets></circle-notation>
    </div>
  </div>

  <script type="module">
    import { Complex } from './application.js'

    let circleNotation0 = document.getElementById('circle-notation-0')
    let circleNotation1 = document.getElementById('circle-notation-1')
    let circleNotation2 = document.getElementById('circle-notation-2')
    let circleNotation3 = document.getElementById('circle-notation-3')

    circleNotation0.setAmplitudes({ 0: 1, 1: 0 })
    circleNotation1.setAmplitudes({ 0: 1, 1: 0 })
    circleNotation2.setAmplitudes({ 0: 0, 1: 1 })
    circleNotation3.setAmplitudes({ 0: 0, 1: 1 })
  </script>
</div>

<h2>重ね合わせ状態の測定</h2>

<p>
  量子ビットが重ね合わせ状態にある場合、0 と 1 が出る確率は {% ket 0 %} と {% ket 1 %} の確率
  (青い円の面積 = 振幅の大きさの 2 乗) に応じて決まります。
  つまり、測定の結果にはランダム性があります。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="flex flex-col">
    <div class="mb-8 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-superposition-before-MEASUREMENT"
        data-size="xl"
        data-show-kets
      ></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <measurement-gate></measurement-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <div class="flex flex-col">
        <div class="mb-8 flex flex-row">
          <div class="my-auto mr-4 text-purple-600">25%</div>
          <circle-notation id="circle-notation-4" data-size="xl" data-show-kets></circle-notation>
        </div>
        <div class="flex flex-row">
          <div class="my-auto mr-4 text-purple-600">75%</div>
          <circle-notation id="circle-notation-5" data-size="xl" data-show-kets></circle-notation>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    import { Complex } from './application.js'

    let circuleNotationBefore = document.getElementById(
      'circle-notation-superposition-before-MEASUREMENT'
    )
    let circleNotation4 = document.getElementById('circle-notation-4')
    let circleNotation5 = document.getElementById('circle-notation-5')

    circuleNotationBefore.setAmplitudes({
      0: new Complex(0.25, 0.43301),
      1: new Complex(0.43301, -0.75),
    })
    circleNotation4.setAmplitudes({ 0: 1, 1: 0 })
    circleNotation5.setAmplitudes({ 0: 0, 1: 1 })
  </script>
</div>

<p>
  測定によって量子ビットの振幅の大きさと位相の情報は破壊されるので、MEASUREMENT 命令は WRITE
  命令と同じく逆演算を持ちません。
  また、位相と振幅の大きさは互いに独立したパラメータなので、位相の値は測定結果にまったく何の影響も及ぼしません。
</p>

<h2>量子乱数ジェネレータ</h2>

<p>
  MEASUREMENT 命令とこれまでに学んだ WRITE 命令、H
  ゲートを組合わせることで、最初の量子アプリケーション「量子乱数ジェネレータ」を作ることができます。
  WRITE で {% ket 0 %} に初期化した量子ビットを H ゲートで重ね合わせ状態にし、MEASUREMENT
  命令で測定することで 0 または 1 をランダムに得ることができます。
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>"],["H"],["Measure"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white px-4 py-4"
        data-multi-qubits
        data-show-kets
      >
      </circle-notation>
    </circuit-editor>

    <run-circuit-button
      class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
      data-targets="quantum-simulator.runCircuitButtons"
    ></run-circuit-button>
  </quantum-simulator>
</div>

<p>
  重ね合わせ状態を測定して得られる量子乱数は、従来のコンピュータで計算的に生成する疑似乱数と異なり、原理的にまったく予測できない完璧な乱数です。
  単なる乱数生成と言ってもその用途は広く、セキュリティ分野での安全な暗号鍵の生成はもちろん、モンテカルロ法といった乱数を使ったアルゴリズムの速度や精度向上にもつながります。
  実際に、量子乱数の生成はすでにサービス化もされています{% nmargin_note quantum-origin %}<a
    href="https://www.quantumbusinessmagazine.com/post/cambrid"
    >Cambridge Quantum社、量子乱数生成サービス「Quantum Origin」を発表</a
  >{% endnmargin_note %}。
</p>

{% include operation_menu.html %} {% include operation_inspector_template.html %} {% include
circle_notation_popup.html %}
