---
layout: page
section: 複数量子ビット
title: 複数量子ビットでの演算
description: 状態ベクトルのペアで計算
prev: 重ね合わせ状態
prev_url: ./multi_qubit_superposition.html
next: 演算ペア
next_url: ./operator_pair.html
---

<p>
  複数量子ビットに対してゲートを適用するとどうなるでしょうか? 今までは単一の量子ビットに X ゲートや
  H
  ゲートを適用してきましたが、複数量子ビットに適用する場合でもそれぞれのゲートの働きは変わりません。
  しかし、ゲートを配置したビット によって、演算の対象となる状態ベクトルの円が異なってきます。
  ゲートを 1 ビット目、2 ビット目、3
  ビット目、、、と順番に置いていくことによって、その動作を確認してみましょう。
</p>

<h2>ゲートを 1 ビット目に置いた場合</h2>

<p>
  以降では 3 量子ビットの回路を例として考えます。この場合、状態ベクトルは \(2^3 = 8\)
  個の円として表示されます。 この状態ベクトルに対して、X ゲートを 1 ビット目 (回路の一番上のワイヤ)
  に適用すると、X ゲートは「{% ket 0 %} と {% ket 1 %}」、「{% ket 2 %} と {% ket 3 %}」、「{% ket 4
  %} と {% ket 5 %}」、「{% ket 6 %} と {% ket 7 %}」という隣同士の円 (1 つだけ離れた円同士)
  それぞれのペアに対して、X ゲートの動作である「円の入れ替え」を行います。
</p>

<figure>
  <img src="./images/X_bit1_ket_pair.png" />
</figure>

<p>
  これを具体的な状態ベクトルで見ると、次のようになります。 {% ket 0 %} と {% ket 1 %}、{% ket 2 %}
  と {% ket 3 %}、… それぞれのペアの左右の円が、X ゲートによって入れ替わることが分かります。
</p>

<div class="my-5 flex overflow-auto">
  <div class="flex flex-col items-center space-x-1">
    <div class="flex flex-row">
      {{ '0.42678 - 0.17678i' | qubit_circle: 0, 'lg' }} {{ '0.17678 - 0.07322i' | qubit_circle: 1,
      'lg' }} {{ '0.17678 + 0.42678i' | qubit_circle: 2, 'lg' }} {{ '0.07322 + 0.17678i' |
      qubit_circle: 3, 'lg' }} {{ '-0.42678 + 0.17678i' | qubit_circle: 4, 'lg' }} {{ '-0.17678 +
      0.07322i' | qubit_circle: 5, 'lg' }} {{ '-0.17678 - 0.42678i' | qubit_circle: 6, 'lg' }} {{
      '-0.07322 - 0.17678i' | qubit_circle: 7, 'lg' }}
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>X ゲートを 1 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ '0.17678 - 0.07322i' | qubit_circle: 0, 'lg' }} {{ '0.42678 - 0.17678i' | qubit_circle: 1,
      'lg' }} {{ '0.07322 + 0.17678i' | qubit_circle: 2, 'lg' }} {{ '0.17678 + 0.42678i' |
      qubit_circle: 3, 'lg' }} {{ '-0.17678 + 0.07322i' | qubit_circle: 4, 'lg' }} {{ '-0.42678 +
      0.17678i' | qubit_circle: 5, 'lg' }} {{ '-0.07322 - 0.17678i' | qubit_circle: 6, 'lg' }} {{
      '-0.17678 - 0.42678i' | qubit_circle: 7, 'lg' }}
    </div>
  </div>
</div>

<p>
  この動作を Qni 上でも確認してみましょう。 下の回路で X
  ゲートの適用前と適用後を比べてみると、たしかに隣同士の円が X
  ゲートによって入れ替わっていることが分かります。
</p>

<div class="relative mb-10 overflow-hidden rounded-md bg-gray-50 p-8">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|0>","|0>"],["{重ね合わせ状態の生成"],["H","H","H"],["P(π_4)","P(π_2)","P(π)"],["Rx(π_2)"],["}"],["X"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>ゲートを 2 ビット目に置いた場合</h2>

<p>
  ゲートを置く位置を変えると、ゲートが作用する円のペアが変化します。
  先ほどと同じ状態ベクトルに対して、X ゲートを 2 ビット目に適用すると、X ゲートは「{% ket 0 %} と {%
  ket 2 %}」、「{% ket 1 %} と {% ket 3 %}」、「{% ket 4 %} と {% ket 6 %}」、「{% ket 5 %} と {%
  ket 7 %}」という 1 つ飛ばしの円同士 (2 つ離れた円同士)
  で作ったペアに対して、円の入れ替えを行います。
</p>

<figure>
  <img src="./images/X_bit2_ket_pair.png" />
</figure>

<p>
  これを状態ベクトルで見ると、次のようになります。 {% ket 0 %} と {% ket 2 %} や {% ket 5 %} と {%
  ket 7 %} が X ゲートによって入れ替わることが分かります。
</p>

<div class="my-5 flex overflow-auto">
  <div class="flex flex-col items-center space-x-1">
    <div class="flex flex-row">
      {{ '0.42678 - 0.17678i' | qubit_circle: 0, 'lg' }} {{ '0.17678 - 0.07322i' | qubit_circle: 1,
      'lg' }} {{ '0.17678 + 0.42678i' | qubit_circle: 2, 'lg' }} {{ '0.07322 + 0.17678i' |
      qubit_circle: 3, 'lg' }} {{ '-0.42678 + 0.17678i' | qubit_circle: 4, 'lg' }} {{ '-0.17678 +
      0.07322i' | qubit_circle: 5, 'lg' }} {{ '-0.17678 - 0.42678i' | qubit_circle: 6, 'lg' }} {{
      '-0.07322 - 0.17678i' | qubit_circle: 7, 'lg' }}
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>X ゲートを 2 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ '0.17678 + 0.42678i' | qubit_circle: 0, 'lg' }} {{ '0.07322 + 0.17678i' | qubit_circle: 1,
      'lg' }} {{ '0.42678 - 0.17678i' | qubit_circle: 2, 'lg' }} {{ '0.17678 - 0.07322i' |
      qubit_circle: 3, 'lg' }} {{ '-0.17678 - 0.42678i' | qubit_circle: 4, 'lg' }} {{ '-0.07322 -
      0.17678i' | qubit_circle: 5, 'lg' }} {{ '-0.42678 + 0.17678i' | qubit_circle: 6, 'lg' }} {{
      '-0.17678 + 0.07322i' | qubit_circle: 7, 'lg' }}
    </div>
  </div>
</div>

<p>これも Qni で実際に確認しておきましょう。</p>

<div class="relative mb-10 overflow-hidden rounded-md bg-gray-50 p-8">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|0>","|0>"],["{重ね合わせ状態の生成"],["H","H","H"],["P(π_4)","P(π_2)","P(π)"],["Rx(π_2)"],["}"],[1,"X"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>ゲートを 3 ビット目に置いた場合</h2>

<p>
  X ゲートを 3 ビット目に適用すると、4 つ離れた円同士で作ったペアに対して、円の入れ替えを行います。
  つまり「{% ket 0 %} と {% ket 4 %}」、「{% ket 1 %} と {% ket 5 %}」、「{% ket 2 %} と {% ket 6
  %}」、「{% ket 3 %} と {% ket 7 %}」のペアについて X ゲート演算が行われます。
</p>

<figure>
  <img src="./images/X_bit3_ket_pair.png" />
</figure>

<p>これはちょうど、円の前半 4 つと後半 4 つがそっくり入れ替わった形になります。</p>

<div class="my-5 flex overflow-auto">
  <div class="flex flex-col items-center space-x-1">
    <div class="flex flex-row">
      {{ '0.42678 - 0.17678i' | qubit_circle: 0, 'lg' }} {{ '0.17678 - 0.07322i' | qubit_circle: 1,
      'lg' }} {{ '0.17678 + 0.42678i' | qubit_circle: 2, 'lg' }} {{ '0.07322 + 0.17678i' |
      qubit_circle: 3, 'lg' }} {{ '-0.42678 + 0.17678i' | qubit_circle: 4, 'lg' }} {{ '-0.17678 +
      0.07322i' | qubit_circle: 5, 'lg' }} {{ '-0.17678 - 0.42678i' | qubit_circle: 6, 'lg' }} {{
      '-0.07322 - 0.17678i' | qubit_circle: 7, 'lg' }}
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>X ゲートを 3 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="flex flex-row">
      {{ '-0.42678 + 0.17678i' | qubit_circle: 0, 'lg' }} {{ '-0.17678 + 0.07322i' | qubit_circle:
      1, 'lg' }} {{ '-0.17678 - 0.42678i' | qubit_circle: 2, 'lg' }} {{ '-0.07322 - 0.17678i' |
      qubit_circle: 3, 'lg' }} {{ '0.42678 - 0.17678i' | qubit_circle: 4, 'lg' }} {{ '0.17678 -
      0.07322i' | qubit_circle: 5, 'lg' }} {{ '0.17678 + 0.42678i' | qubit_circle: 6, 'lg' }} {{
      '0.07322 + 0.17678i' | qubit_circle: 7, 'lg' }}
    </div>
  </div>
</div>

<p>こちらも Qni で確認しておきましょう。</p>

<div class="relative mb-10 overflow-hidden rounded-md bg-gray-50 p-8">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|0>","|0>"],["{重ね合わせ状態の生成"],["H","H","H"],["P(π_4)","P(π_2)","P(π)"],["Rx(π_2)"],["}"],[1,1,"X"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>まとめ</h2>

<p>複数の量子ビットにゲートを適用するには、次のように 2 段階に分けて考える必要があります。</p>

<ul class="list-decimal">
  <li>ゲートを置いたビット番号によって、ゲートを作用させるペア (演算ペア) を決める。</li>
  <li>それぞれの演算ペアについて、ゲートを適用する</li>
</ul>

<p>
  演算ペアの決めかたは一般に、\(n\) 番目のビットにゲートを置くと \((n - 1)^2\)
  離れた円同士がペアとなります。 たとえば 3 ビット目にゲートを置いた場合、\((3 - 1)^2 = 4\) なので 4
  つ離れた円同士のペアを考えれば OK です。
</p>

<p>なぜこのようになるかは、次項で詳しく説明します。</p>
