---
layout: page
title: 重ね合わせ状態
description: 複数量子ビットでの重ね合わせ
---

<p>
  1 量子ビットの場合と同じく、複数量子ビットでも重ね合わせ状態を取ることができます。 ここでは 3
  量子ビットのいろいろな状態を考えてみましょう。
</p>

<p>
  次の状態では {% ket 2 %} が確率 <code>100%</code> なので、3 量子ビットすべてを測定すると必ず {%
  ket 2 %} が得られます。 {% ket 2 %} 以外の確率はすべて
  <code>0%</code> なので、これは重ね合わせ状態でありません。
</p>

<div class="flex justify-center pb-10">
  <div class="flex flex-col">
    <div class="flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-nonsuperposition"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        let circleNotation = document.getElementById('circle-notation-3qubit-nonsuperposition')
        circleNotation.setAmplitudes({
          0: 0,
          1: 0,
          2: 1,
        })
      </script>
    </div>
  </div>
</div>

<div class="relative mb-10 overflow-hidden rounded-2xl bg-gray-50 p-8">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-2xl bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|0>","|0>"],[1,"X",1],["Measure","Measure","Measure"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white px-4 py-4"
        data-multi-qubits
        data-show-kets
      >
      </circle-notation>
    </circuit-editor>

    <run-circuit-button
      class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
      data-targets="quantum-simulator.runCircuitButtons"
    ></run-circuit-button>
  </quantum-simulator>
</div>

<p>
  次は {% ket 0 %}, {% ket 2 %}, {% ket 4 %}, {% ket 6 %} がそれぞれ確率
  <code>25%</code> の重ね合わせ状態にあります。 3 量子ビットすべてを測定すると {% ket 0 %}, {% ket 2
  %}, {% ket 4 %}, {% ket 6 %} のいずれかが確率 <code>25%</code> ずつ (つまり
  <code>1/4</code> の確率) で得られます。 重ね合わせではすべての確率を足すと必ず
  <code>100%</code> になり、この場合もそうなっていることを確認してください。
</p>

<div class="flex justify-center pb-10">
  <div class="flex flex-col">
    <div class="flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-simple-superposition"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        let circleNotation = document.getElementById('circle-notation-3qubit-simple-superposition')
        circleNotation.setAmplitudes({
          0: 0.5,
          1: 0,
          2: 0.5,
          3: 0,
          4: 0.5,
          5: 0,
          6: 0.5,
        })
      </script>
    </div>
  </div>
</div>

<div class="relative mb-10 overflow-hidden rounded-2xl bg-gray-50 p-8">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-2xl bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|0>","|0>"],[1,"H","H"],["Measure","Measure","Measure"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white px-4 py-4"
        data-multi-qubits
        data-show-kets
      >
      </circle-notation>
    </circuit-editor>

    <run-circuit-button
      class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
      data-targets="quantum-simulator.runCircuitButtons"
    ></run-circuit-button>
  </quantum-simulator>
</div>

<p>
  最後はそれぞれの確率が異なり、さらに位相も異なる例です。
  今までの例と同じく、それぞれの確率に応じて {% ket 0 %} 〜 {% ket 7 %}
  のいずれかが測定でき、すべての確率を足し合わせると 100% になります。
  そして位相は確率とは独立したパラメータなので、測定される確率にはまったく影響しないことを思い出しておきましょう。
</p>

<div class="flex justify-center pb-10">
  <div class="flex flex-col">
    <div class="flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-superposition"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-superposition')
        circleNotation.setAmplitudes({
          0: new Complex(0.42678, -0.17678),
          1: new Complex(0.17678, -0.07322),
          2: new Complex(0.17678, 0.42678),
          3: new Complex(0.07322, 0.17678),
          4: new Complex(-0.42678, 0.17678),
          5: new Complex(-0.17678, 0.07322),
          6: new Complex(-0.17678, -0.42678),
          7: new Complex(-0.07322, -0.17678),
        })
      </script>
    </div>
  </div>
</div>

<div class="relative mb-10 overflow-hidden rounded-2xl bg-gray-50 p-8">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-2xl bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|0>","|0>"],["H","H","H"],["P(π_4)","P(π_2)","P(π)"],["Rx(π_2)"],["Measure","Measure","Measure"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white px-4 py-4"
        data-multi-qubits
        data-show-kets
      >
      </circle-notation>
    </circuit-editor>

    <run-circuit-button
      class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
      data-targets="quantum-simulator.runCircuitButtons"
    ></run-circuit-button>
  </quantum-simulator>
</div>

<template id="operation-menu">
  <div class="operation-menu flex flex-row items-center space-x-2 text-gray-900">
    <div class="flex flex-row rounded-2xl bg-white p-2 drop-shadow-lg">
      <button
        data-operation-menu-if
        type="button"
        class="inline-flex h-8 w-8 items-center justify-center rounded border border-transparent bg-white hover:bg-gray-200 focus:outline-none"
        disabled
      >
        <div class="flex h-5 w-5 items-center justify-center">
          <div class="whitespace-nowrap font-sans text-sm font-bold tracking-tighter">
            if <span class="italic">x</span>
          </div>
        </div>
      </button>

      <button
        data-operation-menu-angle
        type="button"
        class="inline-flex h-8 w-8 items-center justify-center rounded border border-transparent bg-white hover:bg-gray-200 focus:outline-none"
        disabled
      >
        {% include angle.svg class="h-5 w-5" %}
      </button>

      <button
        data-operation-menu-flag
        type="button"
        class="inline-flex h-8 w-8 items-center justify-center rounded border border-transparent bg-white hover:bg-gray-200 focus:outline-none"
        disabled
      >
        <div class="flex h-5 w-5 items-center justify-center">
          <div class="whitespace-nowrap font-sans text-sm font-bold">
            (<span class="italic">x</span>)
          </div>
        </div>
      </button>
    </div>

    <div
      data-operation-menu-delete
      class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-white drop-shadow-lg hover:bg-red-200"
    >
      {% include trash.svg class="h-4 w-4" %}
    </div>
  </div>
</template>

<template id="operation-inspector-template">
  <operation-inspector class="flex w-60 flex-col p-4 text-gray-900">
    <div class="items-left flex flex-col space-y-4 divide-y">
      <div id="conditional-gate-pane" class="items-left flex flex-col">
        <h1 class="font-bold text-gray-900">If Conditional</h1>

        <div class="pane-body ml-4 mt-4 grid grid-cols-3 grid-rows-1 items-center gap-2">
          <label for="if-input" class="select-none font-normal text-gray-700">If</label>
          <input
            data-target="operation-inspector.ifInput"
            type="text"
            name="if"
            id="if-input"
            spellcheck="false"
            class="block w-full rounded-md border-transparent bg-gray-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
        </div>
      </div>

      <div id="angle-pane" class="items-left mb-2 flex flex-col pt-4">
        <h1 class="font-bold text-gray-900">Angle</h1>

        <div class="pane-body ml-4 mr-2 mt-4 grid grid-cols-3 grid-rows-3 items-center gap-2">
          <label
            for="angle-input"
            class="select-none font-normal text-gray-700"
            data-target="operation-inspector.angleInputLabel"
            >Angle</label
          >
          <input
            data-target="operation-inspector.angleInput"
            type="text"
            name="angle"
            id="angle-input"
            spellcheck="false"
            class="block w-full rounded-md border-transparent bg-gray-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
          <angle-slider
            data-target="operation-inspector.angleSlider"
            class="ml-2 inline-block"
          ></angle-slider>

          <label for="denominator-input" class="block text-sm font-normal text-gray-700"
            >Denom</label
          >
          <input
            data-target="operation-inspector.denominatorInput"
            type="number"
            min="2"
            name="denominator"
            id="denominator-input"
            class="block w-full rounded-md border-transparent bg-gray-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
          <div class="whitespace-nowrap pl-2 text-sm text-gray-500">
            <span data-target="operation-inspector.denominatorVariableLabel"></span> = nπ/<span
              data-target="operation-inspector.denominatorLabel"
              class="font-bold text-yellow-600"
              >?</span
            >
          </div>

          <div class="min-w-0 flex-1 text-sm">
            <label for="reduce-fraction-checkbox" class="select-none font-normal text-gray-700"
              >Reduce</label
            >
          </div>
          <div class="flex h-5 items-center">
            <input
              data-target="operation-inspector.reduceAngleFractionCheckbox"
              id="reduce-fraction-checkbox"
              name="reduce-fraction"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
            />
          </div>
        </div>
      </div>

      <div id="conditional-flag-pane" class="items-left mb-2 flex flex-col pt-4">
        <h1 class="font-bold text-gray-900">Conditional Flag</h1>

        <div class="pane-body ml-4 mt-4 grid grid-cols-3 grid-rows-1 items-center gap-2">
          <label for="flag-input" class="select-none font-normal text-gray-700">Flag</label>
          <input
            data-target="operation-inspector.flagInput"
            type="text"
            name="flag"
            id="flag-input"
            spellcheck="false"
            class="block w-full rounded-md border-transparent bg-gray-100 py-1 pl-2 pr-1 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
  </operation-inspector>
</template>

{% include circle_notation_popup.html %}
