---
layout: page
section: 論理演算
title: 位相論理演算
description: 論理演算の結果を位相に出力する
prev: 重ね合わせ上での論理演算
prev_url: ./superposition_quantum_logic.html
---

<p>
  今回紹介する論理位相演算は、論理演算の結果を振幅の大きさではなく位相に出力するテクニックです。
  状態ベクトルに位相として書き出した結果を後に紹介する<strong>振幅増幅</strong>にかけると、位相の差は振幅の大きさに変換され、結果的に読み出したい値の確率だけを上昇させ、ほかの確率を下降させることができます。
  これによって、読み出したい値を効率的に読み出すことができます。
</p>

<figure>
  <img src="./images/amplitude_amplification_overview.png" class="h-auto w-full" />
</figure>

<h2>位相論理 NOT (pNOT)</h2>

<p>
  位相論理 NOT は論理 NOT と同様に入力そのものを反転する
  <code>a = pNOT a</code> という動作をします。 ここで論理 NOT と区別するために、pNOT
  という記号を導入しました。 入力は位相ではなく、論理 NOT
  と同じく振幅の大きさを取ることに注意してください (ほかの位相論理も同じです)。
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-neutral-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <write-gate data-value="0" data-hoverable></write-gate>
        </palette-dropzone>
        <palette-dropzone>
          <write-gate data-value="1" data-hoverable></write-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
          >
            {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>"],["{pNOT"],["X"],["P(π)"],["X"],["}"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-neutral-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>位相論理 AND (pAND)</h2>

<p>
  位相論理 AND は、入力となる量子ビット a, b に a AND b の結果が位相として出力されます (ほんと?)。
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-neutral-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <write-gate data-value="0" data-hoverable></write-gate>
        </palette-dropzone>
        <palette-dropzone>
          <write-gate data-value="1" data-hoverable></write-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
          >
            {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|1>","|1>"],["{pAND"],["•","•"],["}"],[1]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-neutral-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>位相論理 OR (pOR)</h2>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-neutral-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <write-gate data-value="0" data-hoverable></write-gate>
        </palette-dropzone>
        <palette-dropzone>
          <write-gate data-value="1" data-hoverable></write-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
          >
            {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>","|1>"],["{pOR"],["P(π)"],["•","•"],[1,"P(π)"],["}"],[1]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-neutral-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>位相論理 NAND (pNAND)</h2>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-neutral-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <write-gate data-value="0" data-hoverable></write-gate>
        </palette-dropzone>
        <palette-dropzone>
          <write-gate data-value="1" data-hoverable></write-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
          >
            {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>","|0>"],["{pNAND"],["X","X"],["P(π)"],["•","•"],[1,"P(π)"],["X","X"],["}"],[1]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-neutral-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>位相論理 NOR (pNOR)</h2>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-neutral-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <write-gate data-value="0" data-hoverable></write-gate>
        </palette-dropzone>
        <palette-dropzone>
          <write-gate data-value="1" data-hoverable></write-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
          >
            {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>","|0>"],["{pNOR"],["X","X"],["•","•"],["X","X"],["}"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-neutral-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<h2>位相論理 XOR (pXOR)</h2>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-neutral-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <write-gate data-value="0" data-hoverable></write-gate>
        </palette-dropzone>
        <palette-dropzone>
          <write-gate data-value="1" data-hoverable></write-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div
            class="flex h-full w-full items-center justify-center rounded-xl hover:bg-neutral-200"
          >
            {% include mixer_horizontal.svg class="h-4 w-4 text-neutral-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>","|0>"],["{pXOR"],[1,1,"|0>"],[1,1,"X"],[1,1,"H"],["•",1,"X"],[1,"•","X"],[1,1,"H"],[1,1,"X"],["}"],[1]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-neutral-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>
