---
layout: page
section: QPU 命令その 1
title: PHASE ゲート
description: 位相を直接操作する
prev: H ゲート
prev_url: ./h_gate.html
next: WRITE 命令
next_url: ./write_operation.html
---

<p>
  <mark>PHASE ゲート</mark>はその名の通り{% nmargin_note phase-gate %}phase: 相、位相、フェーズ{%
  endnmargin_note %}、位相を操作するゲートです。
  重ね合わせ状態にある量子ビットに適用することで、指定した角度だけ {% ket 1 %}
  の位相を回転できます。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="flex flex-col">
    <div class="mb-8 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-P-π/4-before"
        data-size="xl"
        data-show-kets
      ></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/4"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation
        id="circle-notation-P-π/4-after"
        data-size="xl"
        data-show-kets
      ></circle-notation>
    </div>

    <div class="mb-8 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-P-π/2-before"
        data-size="xl"
        data-show-kets
      ></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/2"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation
        id="circle-notation-P-π/2-after"
        data-size="xl"
        data-show-kets
      ></circle-notation>
    </div>

    <div class="flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-P-13π/8-before"
        data-size="xl"
        data-show-kets
      ></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="13π/8"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation
        id="circle-notation-P-13π/8-after"
        data-size="xl"
        data-show-kets
      ></circle-notation>
    </div>
  </div>

  <script type="module">
    import { Complex } from './application.js'

    document.getElementById('circle-notation-P-π/4-before').setAmplitudes({
      0: Math.sqrt(0.5),
      1: Math.sqrt(0.5),
    })
    document.getElementById('circle-notation-P-π/4-after').setAmplitudes({
      0: Math.sqrt(0.5),
      1: new Complex(0.5, 0.5),
    })
    document.getElementById('circle-notation-P-π/2-before').setAmplitudes({
      0: Math.sqrt(0.5),
      1: Math.sqrt(0.5),
    })
    document.getElementById('circle-notation-P-π/2-after').setAmplitudes({
      0: Math.sqrt(0.5),
      1: new Complex(0, Math.sqrt(0.5)),
    })
    document.getElementById('circle-notation-P-13π/8-before').setAmplitudes({
      0: Math.sqrt(0.5),
      1: Math.sqrt(0.5),
    })
    document.getElementById('circle-notation-P-13π/8-after').setAmplitudes({
      0: Math.sqrt(0.5),
      1: new Complex(0.2706, -0.65328),
    })
  </script>
</div>

<p>
  PHASE ゲートは角度を示すパラメータを必ず 1 つ持ちます。 たとえば、位相を π/2 回転する PHASE
  ゲートは上に π/2 が付きます。文中では PHASE(π/2) などとパラメータを付けて書きます。
</p>

<p>
  PHASE ゲートは {% ket 0 %} に何の変化も与えないことに注意してください。 また PHASE ゲートは {% ket
  1 %}
  の位相のみを回転するので、振幅の大きさにも影響は与えません。また回転する角度は振幅の大きさの影響を受けません{%
  nmargin_note phase-and-amplitude-norm
  %}量子ビットの振幅の大きさと位相は独立したパラメータである、ということを思い出しましょう (<a
    href="./circle_notation.html"
    >状態ベクトル表示</a
  >を参照)。{% endnmargin_note %}。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="flex flex-col">
    <div class="flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-P-amp-before"
        data-size="xl"
        data-show-kets
      ></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/4"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation
        id="circle-notation-P-amp-after"
        data-size="xl"
        data-show-kets
      ></circle-notation>
    </div>
  </div>

  <script type="module">
    import { Complex } from './application.js'

    document.getElementById('circle-notation-P-amp-before').setAmplitudes({
      0: new Complex(0.92388, 0),
      1: new Complex(0.38268, 0),
    })
    document.getElementById('circle-notation-P-amp-after').setAmplitudes({
      0: new Complex(0.92388, 0),
      1: new Complex(0.2706, 0.2706),
    })
  </script>
</div>

<p>
  マイナスの角度を指定することで、位相を逆方向に回転できます。 たとえば PHASE(π/2)
  に対するマイナス回転の PHASE(-π/2) を作ることができます。 位相を π/2 回転した後 -π/2
  すると元に戻るので、 PHASE(π/2) と PHASE(-π/2) はお互いに逆演算です。
</p>

<div class="mx-5 flex">
  <div class="flex flex-col">
    <div class="flex flex-row items-center space-x-1">
      <circle-notation id="circle-notation-P-a" data-size="xl" data-show-kets></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/2"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation id="circle-notation-P-b" data-size="xl" data-show-kets></circle-notation>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="-π/2"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <circle-notation id="circle-notation-P-c" data-size="xl" data-show-kets></circle-notation>
    </div>
  </div>

  <script type="module">
    import { Complex } from './application.js'

    let circleNotationH0a = document.getElementById('circle-notation-P-a')
    let circleNotationH0b = document.getElementById('circle-notation-P-b')
    let circleNotationH0c = document.getElementById('circle-notation-P-c')

    circleNotationH0a.setAmplitudes({
      0: Math.sqrt(0.5),
      1: Math.sqrt(0.5),
    })
    circleNotationH0b.setAmplitudes({
      0: Math.sqrt(0.5),
      1: new Complex(0, Math.sqrt(0.5)),
    })
    circleNotationH0c.setAmplitudes({
      0: Math.sqrt(0.5),
      1: Math.sqrt(0.5),
    })
  </script>
</div>

<h2>ハンズオン</h2>

<p>
  PHASE ゲートを重ね合わせ状態に適用して、{% ket 1 %} の位相を回転してみましょう。 PHASE
  ゲートの角度はデフォルトで π/2 にセットされています。変更するには、回路上に配置した PHASE
  ゲートをクリックし、ポップアップメニューから角度のアイコンをクリックしてください。
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-gray-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <phase-gate data-angle="π/2"></phase-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["{重ね合わせ"],["|0>"],["H"],["}"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-gray-200 bg-white px-4 py-4"
        data-multi-qubits
        data-show-kets
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

{% include operation_menu.html %} {% include operation_inspector_template.html %} {% include
circle_notation_popup.html %}
