---
layout: page
section: QPU 命令その 1
title: PHASE ゲート
description: 位相を直接操作する
prev: H ゲート
prev_url: ./h_gate.html
next: WRITE 命令
next_url: ./write_operation.html
---

<p>
  PHASE ゲート {% qpu_operation phase %} はその名の通り{% nmargin_note phase-gate %}phase:
  相、位相、フェーズ{% endnmargin_note %}、位相を操作するゲートです。
  重ね合わせ状態にある量子ビットに適用することで、指定した角度だけ {% ket 1 %}
  の位相を回転できます。
</p>

<div class="my-5 flex overflow-x-auto md:mr-auto md:w-7/12">
  <div class="flex flex-col">
    <div class="mb-8 flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/4"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ '0.5 + 0.5i' | qubit_circle: 1, 'lg' }}
      </div>
    </div>

    <div class="mb-8 flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg', 'lime' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg',
        'lime' }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/2"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg', 'lime' }} {{ 0.5 | sqrt | append: 'i' | qubit_circle:
        1, 'lg', 'lime' }}
      </div>
    </div>

    <div class="flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="13π/8"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ '0.2706 - 0.65328i' | qubit_circle: 1, 'lg' }}
      </div>
    </div>
  </div>
</div>

<p>
  {% qpu_operation phase %} は角度を示すパラメータを必ず 1 つ持ちます。 たとえば、位相を π/2
  回転する {% qpu_operation phase %} は上に π/2 が付きます。文中では PHASE(π/2)
  などとパラメータを付けて書きます。
</p>

<p>
  {% qpu_operation phase %} は {% ket 0 %} に何の変化も与えないことに注意してください。 また {%
  qpu_operation phase %} は {% ket 1 %}
  の位相のみを回転するので、振幅の大きさにも影響は与えません。また回転する角度は振幅の大きさの影響を受けません{%
  nmargin_note phase-and-amplitude-norm
  %}量子ビットの振幅の大きさと位相は独立したパラメータである、ということを思い出しましょう (<a
    href="./circle_notation.html"
    >状態ベクトル表示</a
  >を参照)。{% endnmargin_note %}。
</p>

<div class="my-5 flex overflow-x-auto md:mr-auto md:w-7/12">
  <div class="flex flex-col">
    <div class="flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 0.92388 | qubit_circle: 0, 'lg' }} {{ 0.38268 | qubit_circle: 1, 'lg' }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/4"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.92388 | qubit_circle: 0, 'lg' }} {{ '0.2706 + 0.2706i' | qubit_circle: 1, 'lg' }}
      </div>
    </div>
  </div>
</div>

<p>
  マイナスの角度を指定することで、位相を逆方向に回転できます。 たとえば PHASE(π/2)
  に対するマイナス回転の PHASE(-π/2) を作ることができます。 位相を π/2 回転した後 -π/2
  すると元に戻るので、 PHASE(π/2) と PHASE(-π/2) はお互いに逆演算です。
</p>

<div class="my-5 flex overflow-x-auto">
  <div class="flex flex-col">
    <div class="flex flex-row items-center space-x-1">
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="π/2"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | append: 'i' | qubit_circle: 1, 'lg'
        }}
      </div>
      <div class="flex flex-row items-center">
        {% include minus.svg class="h-6 w-6 fill-current text-gray-400" %}
        <phase-gate data-angle="-π/2"></phase-gate>
        {% include arrow_right.svg class="h-6 w-6 fill-current text-gray-400" %}
      </div>
      <div class="flex flex-row">
        {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }}
      </div>
    </div>
  </div>

  <script type="module">
    import { Complex } from './application.js'

    let circleNotationH0c = document.getElementById('circle-notation-P-c')

    circleNotationH0c.setAmplitudes({
      0: Math.sqrt(0.5),
      1: Math.sqrt(0.5),
    })
  </script>
</div>

<h2>ハンズオン</h2>

<p>
  {% qpu_operation phase %} を重ね合わせ状態に適用して、{% ket 1 %} の位相を回転してみましょう。{%
  qpu_operation phase %} の角度はデフォルトで π/2
  にセットされています。変更するには、回路上に配置した {% qpu_operation phase %}
  をクリックし、ポップアップメニューから角度のアイコンをクリックしてください。
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        id="palette"
        class="mb-10 flex w-min space-x-2 rounded-xl border-2 border-b-4 border-gray-200 bg-white px-4 py-5"
      >
        <palette-dropzone>
          <phase-gate data-angle="π/2" data-hoverable></phase-gate>
        </palette-dropzone>
      </div>

      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["{重ね合わせ"],["|0>"],["H"],["}"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        data-qubit-circle-popup-template-id="qubit-circle-popup"
        class="z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 border-gray-200 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<orbit-reviewarea color="blue">
  <orbit-prompt
    cloze="PHASE ゲートは重ね合わせ状態にある量子ビットの {|1⟩} の{位相}を{回転}させる"
  ></orbit-prompt>
  <orbit-prompt
    question="PHASE ゲート π/4 を適用するとどうなる?"
    question-attachments="https://qniapp.github.io/qni/images/superposition-50-50.png"
    answer="|1⟩ の位相が π/4 回転する"
    answer-attachments="https://qniapp.github.io/qni/images/superposition-50-50-phase¼π.png"
  ></orbit-prompt>
  <orbit-prompt question="PHASE ゲート π/4 の逆演算は?" answer="PHASE ゲート -π/4"></orbit-prompt>
  <orbit-prompt question="PHASE ゲート -π/2 の逆演算は?" answer="PHASE ゲート π/2"></orbit-prompt>
</orbit-reviewarea>
