---
layout: page
section: 量子位相推定
title: 量子位相推定回路
description: 量子位相推定回路の作り方・使い方
prev: 固有位相
prev_url: ./eigenphases.html
next: 位相キックバック
next_url: ./phase_kickback.html
---

<p>
  量子位相推定回路の仕組みの前に、回路の作り方と使い方を具体的に見ていきましょう。 ここでは例として
  {% qpu_operation h %} の固有位相を取り出す場合について考えます。 前回見たように {% qpu_operation h
  %} には固有状態が 2 つありますが、今回はこのうち固有位相が π の場合について考えることとします。
</p>

<div class="my-5 flex justify-center md:mr-auto md:w-7/12">
  <div class="mb-8 flex flex-row items-center space-x-2">
    <div class="flex flex-row space-x-2">
      {{ -0.3826834323650898 | qubit_circle: 0, 'base' }} {{ 0.9238795325112868 | qubit_circle: 1,
      'base' }}
    </div>

    <div class="relative h-8 w-16">
      <div class="absolute inset-0 flex h-8 w-16 items-center text-zinc-300">
        {% include qubit_transition_arrow.svg %}
      </div>
      <h-gate class="qpu-operation-sm absolute inset-0 m-auto"></h-gate>
    </div>

    <div class="flex flex-row space-x-2">
      {{ 0.3826834323650898 | qubit_circle: 0, 'base' }} {{ -0.9238795325112868 | qubit_circle: 1,
      'base' }}
    </div>
  </div>
</div>

{% capture json %} {"cols":[["{Hの固有状態を作る"],["|0>"],["Ry(5π/4)"],["}"],["H"]]} {% endcapture
%} {{ json | strip | mini_qni }}

<p>
  量子位相推定回路には入力と出力が必要です。 入力として、固有位相を取り出したい QPU 命令 (今回は {%
  qpu_operation h %}) の固有状態を与えます。 出力として、求めた固有位相を書き出すための (複数)
  量子ビットを準備します。
</p>

<h2>量子位相推定回路: 入力と前半</h2>

<p>
  量子位相推定回路の入力と前半は次のようになります。 最初の 4
  量子ビットは求めた固有位相を書き出すためのもので、必要なビット数は求める精度によって変化します
  (ビット数の決めかたは最後に説明します)。 最後の 1 量子ビットは入力用で、固有位相を取り出したい QPU
  命令 (今回は {% qpu_operation h %}) の固有状態を与えます。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <quantum-circuit
    data-min-wire-count="1"
    data-max-wire-count="1"
    data-min-step-count="5"
    data-json='{"cols":[["{入力:Hの固有状態"],[1,1,1,1,"|0>"],[1,1,1,1,"Ry(5π_4)"],["}"],[1],["|0>","|0>","|0>","|0>"],["H","H","H","H"],["{量子位相推定前半: Controlled-H を 2^0, 2^1, ..., 2^n 回実行"],["•",1,1,1,"H"],[1,"•",1,1,"H"],[1,"•",1,1,"H"],[1,1,"•",1,"H"],[1,1,"•",1,"H"],[1,1,"•",1,"H"],[1,1,"•",1,"H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],["}"],[1]]}'
  >
  </quantum-circuit>
</div>

<p>
  量子位相推定回路の前半では、最初に出力用ビットを {% qpu_operation h %}
  で等しい重ね合わせ状態にします。 そして制御付き ({% qpu_operation control %} つき)
  で固有位相を取り出したい QPU 命令を繰り返し呼び出します。 呼出し方のパターンとしては、1
  ビット目を制御として {% qpu_operation h %} を 1 回、2 ビット目を制御として {% qpu_operation h %}
  を 2 回, 3 ビット目を制御として {% qpu_operation h %} を 4 回、... という風に 2
  倍に増やしながら固有位相を取り出したい QPU 命令を入力ビットに適用します。
  この回路は<strong>位相キックバック</strong>と呼ばれ、次回に詳しく説明します。
</p>

<h2>量子位相推定回路: 後半と測定</h2>

<p>
  量子位相推定回路の後半は逆 QFT 回路そのままです。 最後に出力用の 4
  量子ビットをすべて測定し、固有位相を読み出します。 {% qpu_operation h %} の固有位相は π (180°)
  なので、これを 4 量子ビットにエンコードした値を読み出すことができます (後で説明します)。
</p>

<div class="my-5 md:mr-auto md:w-7/12">
  <quantum-circuit
    data-min-wire-count="1"
    data-max-wire-count="1"
    data-min-step-count="5"
    data-json='{"cols":[["{量子位相推定後半: 逆QFT"],["Swap",1,1,"Swap"],[1,"Swap","Swap"],["H"],["P(π_2)","•"],["P(π_4)",1,"•"],["P(π_8)",1,1,"•"],[1,"H"],[1,"P(π_2)","•"],[1,"P(π_4)",1,"•"],[1,1,"H"],[1,1,"P(π_2)","•"],[1,1,1,"H"],["}"],[1],["{出力"],["Measure","Measure","Measure","Measure"],["}"]]}'
  >
  </quantum-circuit>
</div>

<h2>量子位相推定を動かしてみよう</h2>

<p>
  どんな値が出力として得られるか、{% qpu_operation h %} の固有位相 π
  を取り出す上記回路を動かしてみましょう。 実行するとすぐ分かるように、出力用ビットから約 85%
  の確率で 8 (二進数で 1000) が得られます。 これが {% qpu_operation h %} の固有位相である π
  を表していることになります。
</p>

<div class="relative mb-10 rounded-md bg-neutral-50">
  <div class="overflow-scroll p-8">
    <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
      <circuit-editor>
        <div
          class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
        >
          <inspector-button
            data-target="circuit-editor.inspectorButton"
            class="inline-block h-10 w-10 p-1"
          >
            <div
              class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200"
            >
              {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
            </div>
          </inspector-button>
        </div>

        <quantum-circuit
          class="mb-10"
          data-target="quantum-simulator.circuit circuit-editor.circuit"
          data-min-wire-count="1"
          data-max-wire-count="1"
          data-min-step-count="8"
          data-json='{"cols":[["{入力:Hの固有状態"],[1,1,1,1,"|0>"],[1,1,1,1,"Ry(5π_4)"],["}"],[1],["|0>","|0>","|0>","|0>"],["H","H","H","H"],["{量子位相推定前半: Controlled-H を 2^0, 2^1, ..., 2^n 回実行"],["•",1,1,1,"H"],[1,"•",1,1,"H"],[1,"•",1,1,"H"],[1,1,"•",1,"H"],[1,1,"•",1,"H"],[1,1,"•",1,"H"],[1,1,"•",1,"H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],[1,1,1,"•","H"],["}"],[1],["{量子位相推定後半: 逆QFT"],["Swap",1,1,"Swap"],[1,"Swap","Swap"],["H"],["P(π_2)","•"],["P(π_4)",1,"•"],["P(π_8)",1,1,"•"],[1,"H"],[1,"P(π_2)","•"],[1,"P(π_4)",1,"•"],[1,1,"H"],[1,1,"P(π_2)","•"],[1,1,1,"H"],["}"],[1],["{出力"],["Measure","Measure","Measure","Measure"],["}"]]}'
        >
        </quantum-circuit>

        <circle-notation
          id="circle-notation"
          data-target="quantum-simulator.circleNotation"
          data-qubit-circle-popup-template-id="qubit-circle-popup"
          class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white"
          data-padding-X="16"
          data-padding-Y="20"
        >
        </circle-notation>
      </circuit-editor>
    </quantum-simulator>
  </div>
</div>

<h2>量子位相推定の出力を解釈する</h2>

<p>
  出力の 8 を固有位相として解釈するには、出力用量子ビットの数が 4 つであることを使います。
  出力用量子ビットのビット数は出力する固有位相角度の分解能を表します。 たとえば 4 ビットの場合 16
  通りの値が表せるので、4 ビットで表現できる角度は 360° を 16 分割した 360/16 = 22.5°
  刻みとなります。 π = 180° を 22.5° の倍数で表現すると、22.5° x 8 = 180° なので、8 でぴったり 180°
  が表現できます。
</p>

<p>
  出力用量子ビット数を増やせば分解能も高まります。 出力用量子ビットを 1 増やすごとに刻み幅は 1/2
  になるので、より微妙な角度も表現しやすくなります。
</p>

<p>
  また出力用量子ビット数を増やすことで、正しい固有位相が測定できる確率を改善できます。
  一般に、固有位相の精度を \(n\) に指定したとき、1 - \(\epsilon\)
  の成功確率で正確に固有位相を得るために必要な量子位相推定回路の量子ビット数 t
  は、次の式で計算できることが知られています。
</p>

<p class="flex justify-center">
  \(t = n + \left\lceil \log \left(2 + \frac{1}{2\epsilon} \right) \right\rceil\)
</p>

<h2>まとめ</h2>

<p>
  量子位相推定回路の作り方と使い方を見てきました。 作り方は、前半の位相キックバック
  (次回に仕組みを説明します) と後半の逆 QFT を組合わせるだけです。
  使う時の注意点として、入力として固有位相に対応する固有状態が必要です。
  また、出力用の量子ビット数を増やすほど取り出せる相対位相の精度と成功確率を上げることができます。
</p>
