---
layout: page
title: ランダムバイトジェネレータ
description: H ゲートを複数量子ビットに適用
---

<p>
  量子乱数ジェネレータ{% nmargin_note quantum-random-generator %}<a
    href="./measurement_operation.html"
    >MEASUREMENT 命令</a
  >を参照{% endnmargin_note %}は 1 ビットの乱数 <code>0</code> または
  <code>1</code> を生成するものでした。 より大きな乱数を生成するにはどうしたらよいでしょうか？
  今回は 8 個の量子ビットを使って、1 バイト (= 8 ビット, 0 から 255 まで)
  の乱数を生成する回路を紹介します。
</p>

<p>
  次の回路は、1 ビット目から 8 ビット目それぞれに H
  ゲートを適用し、最後にすべてのビットを測定します。 測定すると 0 から 255 までの数のうちどれか 1
  つをランダムに出力します。
</p>

<div class="relative mb-10 w-full overflow-hidden rounded-2xl bg-gray-50 p-8 md:mr-auto">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-2xl bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>","|0>","|0>","|0>","|0>","|0>","|0>","|0>"],["H"],[1,"H"],[1,1,"H"],[1,1,1,"H"],[1,1,1,1,"H"],[1,1,1,1,1,"H"],[1,1,1,1,1,1,"H"],[1,1,1,1,1,1,1,"H"],["Measure","Measure","Measure","Measure","Measure","Measure","Measure","Measure"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="z-40 flex w-min flex-row justify-center overflow-scroll rounded-xl border-2 border-b-4 border-gray-200 bg-white"
        data-multi-qubits
      >
      </circle-notation>
    </circuit-editor>

    <run-circuit-button
      class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
      data-targets="quantum-simulator.runCircuitButtons"
    ></run-circuit-button>
  </quantum-simulator>
</div>

<p>
  大筋としてこれがどのように動作しているか、状態ベクトル表示を使って調べてみましょう。 H
  ゲートを全ビットに適用した時点の状態ベクトルを見ると、{% ket 0 %} から {% ket 255 %}
  それぞれの確率は等しく 0.390625% (100 / 256 %) になります。 これを測定することで、{% ket 0 %} から
  {% ket 255 %} のうちどれか 1 つがランダムに出力されます。
</p>

<h2>等しい重ね合わせができる仕組み</h2>

<p>
  なぜ等しい重ね合わせ状態ができるか、H ゲートを 1
  つずつ適用した時の状態ベクトルを詳しく見てみましょう。 以下では、スペースの都合上 3
  量子ビットまでを見て行きます。
</p>

<p>
  初期状態で 1 ビット目に H ゲートを適用すると、複数量子ビットにゲートを適用したときのルール{%
  nmargin_note multi-qubit-operation %}<a href="./multi_qubit_operation.html"
    >複数量子ビットでの演算</a
  >を参照{% endnmargin_note %}より、隣同士の円それぞれのペア (「{% ket 0 %} と {% ket 1 %}」、「{%
  ket 2 %} と {% ket 3 %}」、「{% ket 4 %} と {% ket 5 %}」、「{% ket 6 %} と {% ket 7 %}」)
  に対して H ゲートが適用されます。
</p>

<p>
  H ゲートはシンプルな重ね合わせを作る命令で、{% ket 0 %} の確率を等しく {% ket 0 %} と {% ket 1 %}
  に割り振ります{% nmargin_note h-gate %}<a href="./h_gate.html">H ゲート</a>参照{% endnmargin_note
  %}。 ここでは 4 つのペアのうち、最初のペアの左側の円だけが確率 100% を持っています。
  そこで最初のペアだけが 50% の重ね合わせ状態となり、ほかのペアは変化しません。
</p>

<div class="flex pb-10">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-before-H1"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-before-H1')
        circleNotation.setAmplitudes({
          0: 1,
        })
      </script>
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>H ゲートを 1 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="mb-8 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-after-H1"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-after-H1')
        circleNotation.setAmplitudes({
          0: Math.sqrt(0.5),
          1: Math.sqrt(0.5),
        })
      </script>
    </div>
  </div>
</div>

<p>
  ここで 2 ビット目に H ゲートを適用すると、2 つ離れた円同士のペア (「{% ket 0 %} と {% ket 2
  %}」、「{% ket 1 %} と {% ket 3 %}」、「{% ket 4 %} と {% ket 6 %}」、「{% ket 5 %} と {% ket 7
  %}」) それぞれに H ゲートが適用されます。
</p>

<p>
  ここでは 4 つのペアのうち、「{% ket 0 %} と {% ket 2 %}」、「{% ket 1 %} と {% ket 3
  %}」のペアの左側の円が確率 50% を持っています。 そこでこれらのペアだけが 25%
  の重ね合わせ状態となり、ほかのペアは変化しません。
</p>

<div class="flex pb-10">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-before-H2"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-before-H2')
        circleNotation.setAmplitudes({
          0: Math.sqrt(0.5),
          1: Math.sqrt(0.5),
        })
      </script>
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>H ゲートを 2 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="mb-8 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-after-H2"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-after-H2')
        circleNotation.setAmplitudes({
          0: 0.5,
          1: 0.5,
          2: 0.5,
          3: 0.5,
        })
      </script>
    </div>
  </div>
</div>

<p>
  同様に 3 ビット目に H ゲートを適用すると、4 つ離れた円同士のペア (「{% ket 0 %} と {% ket 4
  %}」、「{% ket 1 %} と {% ket 5 %}」、「{% ket 2 %} と {% ket 6 %}」、「{% ket 3 %} と {% ket 7
  %}」) について、全ペアの左の円が確率 25% を持っているので、 すべての円が等しく 12.5%
  の重ね合わせ状態となります。
</p>

<div class="flex pb-10">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-before-H3"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-before-H3')
        circleNotation.setAmplitudes({
          0: 0.5,
          1: 0.5,
          2: 0.5,
          3: 0.5,
        })
      </script>
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>H ゲートを 3 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="mb-8 flex flex-row items-center space-x-1">
      <circle-notation
        id="circle-notation-3qubit-after-H3"
        data-multi-qubits
        data-qubit-count="3"
        data-size="xl"
        data-show-kets
      ></circle-notation>

      <script type="module">
        import { Complex } from './application.js'

        let circleNotation = document.getElementById('circle-notation-3qubit-after-H3')
        circleNotation.setAmplitudes({
          0: Math.sqrt(0.125),
          1: Math.sqrt(0.125),
          2: Math.sqrt(0.125),
          3: Math.sqrt(0.125),
          4: Math.sqrt(0.125),
          5: Math.sqrt(0.125),
          6: Math.sqrt(0.125),
          7: Math.sqrt(0.125),
        })
      </script>
    </div>
  </div>
</div>

<p>
  同じプロセスを 4 ビット目、5 ビット目、… と続けていくことで、最終的にすべての円が等しく確率
  0.390625% (100/256 %) を持つようになります。
</p>

<template id="circle-notation-popup">
  <div class="text-wolf mb-2 text-base">
    |<span class="circle-notation-popup__ket-decimal font-mono"></span>⟩
  </div>

  <ul class="list-none">
    <li>
      振幅:
      <span class="circle-notation-popup__amplitude-real text-eel font-mono font-bold"></span>
      <span class="circle-notation-popup__amplitude-imag text-eel font-mono font-bold"></span>
    </li>
    <li>
      確率:
      <span class="circle-notation-popup__probability text-eel font-mono font-bold"></span>
    </li>
    <li>
      位相:
      <span class="circle-notation-popup__phase text-eel font-mono font-bold"></span>
    </li>
  </ul>
</template>

{% include operation_menu.html %} {% include operation_inspector_template.html %}
