---
layout: page
section: 複数量子ビット
title: ランダムバイトジェネレータ
description: H ゲートを複数量子ビットに適用
prev: 演算ペア
prev_url: ./operator_pair.html
next: PHASE ゲート
next_url: ./multi_qubit_phase_gate.html
---

<p>
  量子乱数ジェネレータ{% nmargin_note quantum-random-generator %}<a
    href="./measurement_operation.html"
    >MEASUREMENT 命令</a
  >を参照{% endnmargin_note %}は 1 ビットの乱数 0 または 1 を生成するものでした。
  より大きな乱数を生成するにはどうしたらよいでしょうか? 今回は 8 個の量子ビットを使って、1 バイト (=
  8 ビット, 0 から 255 まで) の乱数を生成する回路を紹介します。
</p>

<p>
  次の回路は、1 ビット目から 8 ビット目それぞれに H
  ゲートを適用し、最後にすべてのビットを測定します。 測定すると 0 から 255 までの数のうちどれか 1
  つをランダムに出力します。
</p>

<div class="relative my-5 w-full overflow-hidden rounded-md bg-gray-50 p-8 md:mr-auto">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>","|0>","|0>","|0>","|0>","|0>","|0>","|0>"],["H"],[1,"H"],[1,1,"H"],[1,1,1,"H"],[1,1,1,1,"H"],[1,1,1,1,1,"H"],[1,1,1,1,1,1,"H"],[1,1,1,1,1,1,1,"H"],["Measure","Measure","Measure","Measure","Measure","Measure","Measure","Measure"]]}'
      >
      </quantum-circuit>

      <div
        class="z-30 h-32 w-min items-center justify-center rounded-xl bg-white drop-shadow-md md:h-auto md:rounded-2xl"
      >
        <circle-notation
          id="circle-notation"
          data-target="quantum-simulator.circleNotation"
          data-qubit-circle-popup-template-id="circle-notation-popup"
          data-padding-X="16"
          data-padding-Y="20"
        >
        </circle-notation>
      </div>
    </circuit-editor>

    <run-circuit-button
      class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
      data-targets="quantum-simulator.runCircuitButtons"
    ></run-circuit-button>
  </quantum-simulator>
</div>

<p>
  大筋としてこれがどのように動作しているか、状態ベクトル表示を使って調べてみましょう。 H
  ゲートを全ビットに適用した時点の状態ベクトルを見ると、{% ket 0 %} から {% ket 255 %}
  それぞれの確率は等しく 0.390625% (100 / 256 %) になります。 これを測定することで、{% ket 0 %} から
  {% ket 255 %} のうちどれか 1 つがランダムに出力されます。
</p>

<h2>等しい重ね合わせができる仕組み</h2>

<p>
  なぜ等しい重ね合わせ状態ができるか、H ゲートを 1
  つずつ適用した時の状態ベクトルを詳しく見てみましょう。 以下では、スペースの都合上 3
  量子ビットまでを見て行きます。
</p>

<p>
  初期状態で 1 ビット目に H ゲートを適用すると、複数量子ビットにゲートを適用したときのルール{%
  nmargin_note multi-qubit-operation %}<a href="./multi_qubit_operation.html"
    >複数量子ビットでの演算</a
  >を参照{% endnmargin_note %}より、隣同士の円それぞれのペア に対して H ゲートが適用されます。
</p>

<figure>
  <img src="./images/H_bit1_ket_pair.png" />
</figure>

<p>
  H ゲートはシンプルな重ね合わせを作る命令で、{% ket 0 %} の確率を等しく {% ket 0 %} と {% ket 1 %}
  に割り振ります{% nmargin_note h-gate %}<a href="./h_gate.html">H ゲート</a>参照{% endnmargin_note
  %}。 ここでは 4 つのペアのうち、最初のペアの左側の円だけが確率 100% を持っています。
  そこで最初のペアだけが 50% の重ね合わせ状態となり、ほかのペアは変化しません。
</p>

<div class="my-5 flex">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center">
      {{ 1 | qubit_circle: 0, 'lg' }} {{ 0 | qubit_circle: 1, 'lg' }} {{ 0 | qubit_circle: 2, 'lg'
      }} {{ 0 | qubit_circle: 3, 'lg' }} {{ 0 | qubit_circle: 4, 'lg' }} {{ 0 | qubit_circle: 5,
      'lg' }} {{ 0 | qubit_circle: 6, 'lg' }} {{ 0 | qubit_circle: 7, 'lg' }}
    </div>

    <div class="mb-4 flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>H ゲートを 1 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="mb-4 flex flex-row items-center">
      {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }} {{ 0 |
      qubit_circle: 2, 'lg' }} {{ 0 | qubit_circle: 3, 'lg' }} {{ 0 | qubit_circle: 4, 'lg' }} {{ 0
      | qubit_circle: 5, 'lg' }} {{ 0 | qubit_circle: 6, 'lg' }} {{ 0 | qubit_circle: 7, 'lg' }}
    </div>
  </div>
</div>

<p>
  ここで 2 ビット目に H ゲートを適用すると、2 つ離れた円同士のペアそれぞれに H
  ゲートが適用されます。
</p>

<figure>
  <img src="./images/H_bit2_ket_pair.png" />
</figure>

<p>
  ここでは 4 つのペアのうち、「{% ket 0 %} と {% ket 2 %}」、「{% ket 1 %} と {% ket 3
  %}」のペアの左側の円が確率 50% を持っています。 そこでこれらのペアだけが 25%
  の重ね合わせ状態となり、ほかのペアは変化しません。
</p>

<div class="my-5 flex">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center">
      {{ 0.5 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.5 | sqrt | qubit_circle: 1, 'lg' }} {{ 0 |
      qubit_circle: 2, 'lg' }} {{ 0 | qubit_circle: 3, 'lg' }} {{ 0 | qubit_circle: 4, 'lg' }} {{ 0
      | qubit_circle: 5, 'lg' }} {{ 0 | qubit_circle: 6, 'lg' }} {{ 0 | qubit_circle: 7, 'lg' }}
    </div>

    <div class="mb-4 flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>H ゲートを 2 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="mb-4 flex flex-row items-center">
      {{ 0.5 | qubit_circle: 0, 'lg' }} {{ 0.5 | qubit_circle: 1, 'lg' }} {{ 0.5 | qubit_circle: 2,
      'lg' }} {{ 0.5 | qubit_circle: 3, 'lg' }} {{ 0 | qubit_circle: 4, 'lg' }} {{ 0 | qubit_circle:
      5, 'lg' }} {{ 0 | qubit_circle: 6, 'lg' }} {{ 0 | qubit_circle: 7, 'lg' }}
    </div>
  </div>
</div>

<p>
  同様に 3 ビット目に H ゲートを適用すると、4 つ離れた円同士のペアについて、全ペアの左の円が確率 25%
  を持っているので、すべての円が等しく 12.5% の重ね合わせ状態となります。
</p>

<figure>
  <img src="./images/H_bit3_ket_pair.png" />
</figure>

<div class="my-5 flex">
  <div class="flex flex-col items-center">
    <div class="mb-4 flex flex-row items-center">
      {{ 0.5 | qubit_circle: 0, 'lg' }} {{ 0.5 | qubit_circle: 1, 'lg' }} {{ 0.5 | qubit_circle: 2,
      'lg' }} {{ 0.5 | qubit_circle: 3, 'lg' }} {{ 0 | qubit_circle: 4, 'lg' }} {{ 0 | qubit_circle:
      5, 'lg' }} {{ 0 | qubit_circle: 6, 'lg' }} {{ 0 | qubit_circle: 7, 'lg' }}
    </div>

    <div class="flex flex-col items-center space-y-2">
      {% include divider_vertical.svg class="h-6 w-6 fill-current text-gray-400" %}
      <div>H ゲートを 3 ビット目に適用</div>
      {% include arrow_down.svg class="h-6 w-6 mb-8 fill-current text-gray-400" %}
    </div>

    <div class="mb-4 flex flex-row items-center">
      {{ 0.125 | sqrt | qubit_circle: 0, 'lg' }} {{ 0.125 | sqrt | qubit_circle: 1, 'lg' }} {{ 0.125
      | sqrt | qubit_circle: 2, 'lg' }} {{ 0.125 | sqrt | qubit_circle: 3, 'lg' }} {{ 0.125 | sqrt |
      qubit_circle: 4, 'lg' }} {{ 0.125 | sqrt | qubit_circle: 5, 'lg' }} {{ 0.125 | sqrt |
      qubit_circle: 6, 'lg' }} {{ 0.125 | sqrt | qubit_circle: 7, 'lg' }}
    </div>
  </div>
</div>

<p>
  同じプロセスを 4 ビット目、5 ビット目、… と続けていくことで、最終的にすべての円が等しく確率
  0.390625% (100/256 %) を持つようになります。
</p>

<h2>回路をコンパクトにする</h2>

<p>
  最初の回路で 1 ビット目から 8 ビット目まで置いた H
  ゲートは、それぞれが置かれたビットのみに作用します。 つまり、異なるビットに置いた H
  ゲートはそれぞれ他のゲートとは独立して実行されるので、可能な限り左に詰めることで他のゲートと同時に実行できます。
  このことを使うと、先ほどの回路は次のようにかなりコンパクトに書き直せます。
</p>

<div class="relative my-5 w-full overflow-hidden rounded-md bg-gray-50 p-8 md:mr-auto">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="5"
        data-json='{"cols":[["|0>","|0>","|0>","|0>","|0>","|0>","|0>","|0>"],["H","H","H","H","H","H","H","H"],["Measure","Measure","Measure","Measure","Measure","Measure","Measure","Measure"]]}'
      >
      </quantum-circuit>

      <div
        class="z-30 h-32 w-min items-center justify-center rounded-xl bg-white drop-shadow-md md:h-auto md:rounded-2xl"
      >
        <circle-notation
          id="circle-notation"
          data-target="quantum-simulator.circleNotation"
          data-qubit-circle-popup-template-id="circle-notation-popup"
          data-padding-X="16"
          data-padding-Y="20"
        >
        </circle-notation>
      </div>
    </circuit-editor>

    <run-circuit-button
      class="absolute bottom-0 right-0 z-40 mr-6 mb-8 hidden h-16 w-16 rounded-full bg-purple-500 text-white drop-shadow-md md:inline-block"
      data-targets="quantum-simulator.runCircuitButtons"
    ></run-circuit-button>
  </quantum-simulator>
</div>

<p>
  多くの量子アルゴリズムでは、最初の準備段階として、均一な重ね合わせ状態をこのように縦に並べた H
  ゲートで作ります。 非常によく使うパターンですので覚えておきましょう。
</p>

<template id="circle-notation-popup">
  <div class="text-wolf mb-2 text-base">|<span class="ket-decimal font-mono"></span>⟩</div>

  <ul class="list-none">
    <li>
      振幅:
      <span class="amplitude-real text-eel font-mono font-bold"></span>
      <span class="amplitude-imag text-eel font-mono font-bold"></span>
    </li>
    <li>
      確率:
      <span class="probability text-eel font-mono font-bold"></span>
    </li>
    <li>
      位相:
      <span class="phase text-eel font-mono font-bold"></span>
    </li>
  </ul>
</template>

{% include operation_menu.html %} {% include operation_inspector_template.html %}
