---
layout: page
section: QPU 命令その 2
title: SWAP ゲート
description: 量子ビットの交換
prev: 1 ビット測定
prev_url: ./partial_measurement.html
next: CNOT ゲート
next_url: ./cnot_gate.html
---

<p>
  今までの QPU 命令と異なり、SWAP ゲートは 2 つの量子ビットに作用します。 SWAP
  ゲートはその名の通り、2 つの量子ビットを入れ替える効果を持ちます。 たとえば次の回路では、{% ket 0
  %} と {% ket 1 %} を SWAP ゲートによって入れ替えます。
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|1>"],["Swap","Swap"],["Measure","Measure"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

<p>
  SWAP ゲートは 2 個 1 組で動作します。 当然ながら 1 個や 3 個の SWAP
  ゲートでは量子ビットの入れ替えは起こりません。 また、動作させるには同じ列に 2 個の SWAP
  ゲートを置く必要があります (簡単なクイズ: 次の無効な SWAP
  ゲートを動作させるにはどう動かせばよいでしょうか?)。
</p>

<div class="mini-qni">
  <quantum-simulator class="flex flex-col" data-service-worker="/serviceworker.js">
    <circuit-editor>
      <div
        class="absolute top-px right-px z-40 rounded-bl-2xl rounded-tr-md bg-white drop-shadow-xl"
      >
        <inspector-button
          data-target="circuit-editor.inspectorButton"
          class="inline-block h-10 w-10 p-1"
        >
          <div class="flex h-full w-full items-center justify-center rounded-xl hover:bg-gray-200">
            {% include mixer_horizontal.svg class="h-4 w-4 text-gray-700" %}
          </div>
        </inspector-button>
      </div>

      <quantum-circuit
        class="mb-10"
        data-target="quantum-simulator.circuit circuit-editor.circuit"
        data-min-wire-count="1"
        data-max-wire-count="1"
        data-min-step-count="8"
        data-json='{"cols":[["|0>","|1>"],["Swap",1],[1,"Swap"],["Measure","Measure"]]}'
      >
      </quantum-circuit>

      <circle-notation
        id="circle-notation"
        data-target="quantum-simulator.circleNotation"
        class="border-swan z-40 flex w-min flex-row justify-center rounded-xl border-2 border-b-4 bg-white"
        data-padding-X="16"
        data-padding-Y="20"
      >
      </circle-notation>
    </circuit-editor>
  </quantum-simulator>
</div>

{% include operation_menu.html %} {% include operation_inspector_template.html %} {% include
simple_circle_notation_popup.html %}
