@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '../../../packages/elements/dist/qni';

@import '../css/margin_note';
@import '../css/mark';
@import '../css/mini_qni';
@import '../css/content_with_margin';

@import 'tailwindcss/utilities';
