.draggable {
  @apply absolute inset-0;
  @apply select-none;

  touch-action: manipulation;
  will-change: transform;

  * {
    pointer-events: none;
  }

  @apply m-auto;
  @apply z-20;

  @screen md {
    cursor: grab;

    &--grabbed {
      @apply z-50;
      cursor: grabbing;
    }

    &--dragging {
      @apply z-50;
    }
  }
}
