.draggable {
  $gate-shape-class: ".gate__shape";

  @apply absolute inset-0;
  @apply flex items-center;
  @apply z-20;
  cursor: grab;

  // For interact.js
  @apply select-none;
  touch-action: none;

  * {
    pointer-events: none;
  }

  @apply mx-0;

  @screen md {
    &--circuit,
    &--write,
    &--readout {
      @apply mx-#{$instruction-margin-base / 2};
    }
  }

  .circuit-preview &--circuit,
  .circuit-preview &--write,
  .circuit-preview &--readout {
    @apply mx-#{$instruction-margin-base / 2};
  }

  // Placeholder to display when it is droppable
  &--shadow {
    @apply z-20;
    @apply mx-#{$instruction-margin-base / 2};

    :not(svg)#{$gate-shape-class} {
      @apply bg-#{$gate-shadow-color};
    }
  }

  // States

  &--grabbed {
    @apply z-50;
    cursor: grabbing;
  }

  &--dragging {
    @apply z-50;
  }
}
