.qubit-circle {
  $parent: &;

  @apply relative;
  @apply m-px;

  @apply border-swan;
  @apply rounded-full;

  // Disable double tap zoom
  touch-action: manipulation;

  &:hover {
    @apply border-cardinal;
  }

  @each $nqubit in $nqubits {
    #circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & {
      border-width: #{map-get($qubit-circle-border-width-px-mobile, $nqubit)}px;

      @screen md {
        border-width: #{map-get($qubit-circle-border-width-px, $nqubit)}px;
      }
    }
  }

  @each $nqubit in $nqubits {
    #circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & {
      height: #{map-get($qubit-circle-size-px-mobile, $nqubit)}px;
      width: #{map-get($qubit-circle-size-px-mobile, $nqubit)}px;

      @screen md {
        height: #{map-get($qubit-circle-size-px, $nqubit)}px;
        width: #{map-get($qubit-circle-size-px, $nqubit)}px;
      }
    }
  }

  &__magnitude {
    @apply absolute inset-0;
    @apply bg-magnitude;
    @apply rounded-full;
    transform: scaleX(0) scaleY(0);
    transform-origin: center;

    #{$parent}:hover > & {
      @apply bg-fox;
    }

    // 1..100 (step = 10)
    @for $magnitude from 1 through 10 {
      #{$parent}--magnitude-#{$magnitude * 10} > & {
        transform: scaleX(#{$magnitude / 10}) scaleY(#{$magnitude / 10});
      }
    }
  }

  &__phase {
    @apply absolute inset-0;
    @apply border-wolf rounded-full;
    transform: rotate(0deg);
    transform-origin: center;

    @each $nqubit in $nqubits {
      #circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & {
        $border-width: map-get($qubit-circle-border-width-px-mobile, $nqubit);

        border-width: #{$border-width}px;
        bottom: -#{$border-width}px;
        left: -#{$border-width}px;
        right: -#{$border-width}px;
        top: -#{$border-width}px;

        @screen md {
          $border-width-md: #{map-get($qubit-circle-border-width-px, $nqubit)};

          border-width: #{$border-width-md}px;
          bottom: -#{$border-width-md}px;
          left: -#{$border-width-md}px;
          right: -#{$border-width-md}px;
          top: -#{$border-width-md}px;
        }
      }
    }

    #{$parent}--magnitude-0 > & {
      transform: scaleX(0) scaleY(0);
    }

    #{$parent}:hover > & {
      @apply border-cardinal;
    }

    // 10, 20, 30, ..., 360 (step = 10)
    @for $phase from 1 through 36 {
      #{$parent}--phase-#{$phase * 10} > & {
        transform: rotate(-#{$phase * 10}deg);
      }
    }
  }

  &__phase::after {
    @apply absolute top-0 left-0 right-0;
    @apply bg-eel;
    @apply h-1/2;
    @apply mx-auto;

    @each $nqubit in $nqubits {
      #circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & {
        width: #{map-get($qubit-circle-border-width-px-mobile, $nqubit)}px;

        @screen md {
          width: #{map-get($qubit-circle-border-width-px, $nqubit)}px;
        }
      }
    }

    content: "";
  }
}
