.qubit-circle {
  $parent: &;

  @apply flex flex-col justify-start items-center;

  // tooltip
  --balloon-color: theme("colors.indigo.500");
  --balloon-font-size: theme("fontSize.xs");

  @each $nqubit in $nqubits {
    .circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & > svg {
      @apply h-#{map-get($qubit-circle-size-mobile, $nqubit)};
      @apply w-#{map-get($qubit-circle-size-mobile, $nqubit)};

      @screen md {
        @apply h-#{map-get($qubit-circle-size, $nqubit)};
        @apply w-#{map-get($qubit-circle-size, $nqubit)};
      }
    }

    .circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & &__border {
      stroke-width: #{map-get($qubit-circle-border-width-mobile, $nqubit)};

      @screen md {
        stroke-width: #{map-get($qubit-circle-border-width, $nqubit)};
      }
    }

    .circle-notation[data-circle-notation-nqubit="#{$nqubit}"] & &__ket {
      $font-size: map-get($qubit-circle-ket-font-size-mobile, $nqubit);
      @if $font-size {
        @apply leading-none;
        @apply text-#{$font-size};
      } @else {
        @apply hidden;
      }

      @screen md {
        $font-size-md: map-get($qubit-circle-ket-font-size, $nqubit);
        @if $font-size-md {
          @apply inline;
          @apply leading-none;
          @apply text-#{$font-size-md};
        } @else {
          @apply hidden;
        }
      }
    }
  }

  svg {
    will-change: transform;

    #{$parent}__border {
      @apply stroke-current text-gray-400;
    }

    #{$parent}__phase {
      @apply stroke-current text-blue-300;
    }

    #{$parent}__magnitude-g {
      transform-origin: center center;
      will-change: transform;
    }

    #{$parent}__magnitude {
      fill: theme("colors.blue.200");
    }

    #{$parent}__phase-dark {
      @apply stroke-current text-blue-700;
    }

    #{$parent}__phase-dot {
      fill: theme("colors.gray.500");
    }
  }

  @for $phase from -360 through 360 {
    &[data-phase^="#{$phase}."] > svg {
      transform: rotate(#{-1 * $phase + "deg"});
    }
  }

  &[data-magnitude="0.000"] &__magnitude-g,
  &[data-magnitude="0.000"] &__phase,
  &[data-magnitude="0.000"] &__phase-dot {
    @apply hidden;
  }

  $zmagnitude: "";
  @for $magnitude from 1 through 99 {
    @if $magnitude < 10 {
      $zmagnitude: "0#{$magnitude}";
    } @else {
      $zmagnitude: $magnitude;
    }

    &[data-magnitude^="0.#{$zmagnitude}"] svg > &__magnitude-g {
      transform: scale(#{$magnitude / 100});
    }
  }

  &__ket {
    @apply text-gray-400;
    @apply whitespace-nowrap;
  }
}
