circuit-dropzone {
  /* Size */
  @apply h-12 w-8;
  @apply md:h-8 md:w-12;

  /* Wires */
  &::part(wires) {
    @apply absolute;
    @apply inset-0;
    @apply h-full w-full;

    @apply overflow-visible;
    @apply origin-center transform-gpu;
    @apply rotate-90;
    @apply md:rotate-0;
  }

  circuit-step.no-rotation &::part(wires) {
    @apply rotate-0;
  }

  &[data-shadow]::part(wires) {
    display: none;
  }

  &::part(connect-top),
  &::part(connect-bottom) {
    @apply text-green-500;
  }

  &::part(wire-input),
  &::part(wire-output) {
    @apply text-neutral-200;
  }

  &::part(wire-input) {
    transform: translateX(-25%) scaleX(1.5);
    transform-origin: left;
  }
  &::part(wire-output) {
    transform: translateX(25%) scaleX(1.5);
    transform-origin: right;
  }
  @media screen(md) {
    &::part(wire-input),
    &::part(wire-output) {
      transform: none;
    }
  }

  &[data-connect-top]::part(connect-top) {
    transform-origin: center;
    transform: scaleY(1.8);
  }

  &[data-connect-bottom]::part(connect-bottom) {
    transform-origin: center;
    transform: scaleY(1.8);
  }

  &[data-input-wire-quantum]::part(wire-input),
  &[data-output-wire-quantum]::part(wire-output) {
    @apply text-neutral-900;
  }

  &[data-operation-name='write-gate']::part(wire-input),
  &[data-operation-name='measurement-gate']::part(wire-input) {
    transform: scaleX(0.75) translateX(-33.3%);

    @media screen(md) {
      transform: scaleX(0.33) translateX(0);
    }
  }

  &[data-operation-name='write-gate']::part(wire-output),
  &[data-operation-name='measurement-gate']::part(wire-output) {
    transform: scaleX(0.75) translateX(33.3%);

    @media screen(md) {
      transform: scaleX(0.33) translateX(0);
    }
  }
}
