circuit-step {
  @apply relative;

  @apply flex items-center justify-center;
  @apply flex-row-reverse sm:flex-col;

  @apply space-x-4 space-y-0 space-x-reverse;
  @apply sm:space-x-0 sm:space-y-4;

  @apply py-0 px-8;
  @apply sm:py-8 sm:px-0;

  &.no-rotation {
    @apply flex-col items-start;
    @apply space-x-0;
    @apply p-0;
  }

  &[data-shadow] {
    @apply h-0 sm:h-auto;
    @apply sm:w-0;

    &::after {
      @apply -mb-6 sm:mb-0;
      @apply mr-0 sm:-mr-6;
    }
  }

  &::after {
    @apply absolute;
    @apply z-10;
    @apply bg-purple-500;
    @apply opacity-0;

    @apply left-0 sm:left-auto sm:top-0;
    @apply -bottom-0.5 sm:bottom-0;
    @apply right-0 sm:-right-0.5;
    @apply w-full sm:w-1;
    @apply h-1 sm:h-full;

    content: '';
  }

  &[data-active]::after {
    @apply opacity-30;
  }

  &[data-breakpoint]::after {
    @apply opacity-100;
  }
}
