h-gate {
  @apply activateable;
  @apply draggable;
  @apply ifable;
  @apply operation;

  &::part(body) {
    @apply h-full w-full;
    @apply bg-green-500;
    @apply rounded;
  }

  &[data-disabled]::part(body) {
    @apply bg-gray-500;
  }

  &::part(icon) {
    @apply text-white;
  }
}
