measurement-gate {
  @apply qpu-operation;
  @apply qpu-operation-outlineable;
  @apply qpu-operation-hoverable;
  @apply qpu-operation-activateable;
  @apply qpu-operation-rectangular;
  @apply qpu-operation-grabbable;

  @apply operation-draggable;
  @apply operation-flaggable;

  &::part(icon) {
    color: var(--qni-semantic-color-intermediate);
  }

  circuit-dropzone &[data-snapped]::part(icon) {
    @apply origin-center transform-gpu;
    @apply rotate-90 sm:rotate-0;
  }

  &[data-value='0']::part(icon),
  &[data-value='1']::part(icon) {
    @apply text-zinc-200;
  }

  &::part(value) {
    @apply absolute inset-0;
  }

  circuit-dropzone &[data-snapped]::part(value) {
    @apply origin-center transform-gpu;
    @apply rotate-90 sm:rotate-0;
  }

  &::part(value)::after {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply h-full w-full;
    @apply font-mono;
    @apply text-lg;
  }

  &[data-value='0']::part(value)::after {
    @apply text-red-500;
    content: '0';
  }

  &[data-value='1']::part(value)::after {
    @apply text-blue-500;
    content: '1';
  }

  /* data-draggable-grabbed */

  &[data-draggable-grabbed]::part(body) {
    background-color: var(--qni-semantic-fill-color-intermediate);
  }

  &[data-draggable-grabbed]::part(icon) {
    @apply text-purple-400;
  }

  &[data-draggable-grabbed]::part(value)::after {
    @apply text-white;
  }
}
