@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import './variables';

@import 'tippy.js/dist/border.css';
@import 'tippy.js/dist/svg-arrow.css';
@import 'tippy.js/dist/tippy.css';
@import './tippy';

@import './angle_slider';
@import './operation_inspector';
@import './operation_menu';
@import './run_circuit_button';
@import './tooltip';

@import './bloch_display';
@import './circle_notation';
@import './circuit_dropzone';
@import './circuit_editor';
@import './circuit_step';
@import './control_gate';
@import './h_gate';
@import './html';
@import './measurement_gate';
@import './palette_dropzone';
@import './phase_gate';
@import './qft_gate';
@import './qft_dagger_gate';
@import './quantum_circuit';
@import './rnot_gate';
@import './rx_gate';
@import './ry_gate';
@import './rz_gate';
@import './swap_gate';
@import './t_gate';
@import './write_gate';
@import './x_gate';
@import './y_gate';
@import './z_gate';

@import 'tailwindcss/utilities';

@import 'qpu_operation';

@layer utilities {
  .qpu-operation {
    @apply inline-block;
    @apply relative;

    width: var(--qni-semantic-size-qpu-operation-base);
    height: var(--qni-semantic-size-qpu-operation-base);

    &::part(body) {
      width: var(--qni-semantic-size-qpu-operation-base);
      height: var(--qni-semantic-size-qpu-operation-base);
    }
  }

  /* QPU operation background color */

  .qpu-operation-bg-default {
    @apply bg-emerald-500;
  }

  .qpu-operation-bg-grab {
    @apply bg-purple-500;
  }

  /* QPU operation outline */

  .qpu-operation-outline-hover {
    @apply border-zinc-300;
  }

  .qpu-operation-outline-active {
    @apply border-purple-400;
  }

  /* operation shapes */

  .qpu-operation-rectangular {
    &::part(body) {
      border-radius: var(--qni-semantic-radius-default);
    }
  }

  .qpu-operation-circular {
    &::part(body) {
      border-radius: var(--qni-semantic-radius-circular);
    }
  }

  .qpu-operation-color-filled {
    &::part(body) {
      background-color: var(--qni-semantic-fill-color-default);
    }

    &::part(icon) {
      color: var(--qni-semantic-color-icon-light);
    }
  }

  /* QPU operation outline */

  .qpu-operation-outlineable {
    &[data-hoverable]::after {
      position: absolute;
      content: '';

      border-radius: var(--qni-semantic-radius-outline);
      border-width: var(--qni-semantic-border-width-0);
      border-color: var(--qni-semantic-border-color-default);

      top: calc(
        -1 * (var(--qni-semantic-spacing-qpu-operation-border-gap) +
              var(--qni-semantic-border-width-qpu-operation-outline))
      );
      right: calc(
        -1 * (var(--qni-semantic-spacing-qpu-operation-border-gap) +
              var(--qni-semantic-border-width-qpu-operation-outline))
      );
      bottom: calc(
        -1 * (var(--qni-semantic-spacing-qpu-operation-border-gap) +
              var(--qni-semantic-border-width-qpu-operation-outline))
      );
      left: calc(
        -1 * (var(--qni-semantic-spacing-qpu-operation-border-gap) +
              var(--qni-semantic-border-width-qpu-operation-outline))
      );

      @screen sm {
        border-width: var(--qni-semantic-border-width-qpu-operation-outline);
      }
    }
  }

  .qpu-operation-hoverable {
    palette-dropzone &[data-hoverable]:hover::after,
    quantum-circuit:not([data-editing]) &[data-hoverable]:not([data-active]):hover::after {
      border-color: var(--qni-semantic-border-color-hover);
    }
  }

  .qpu-operation-activateable {
    &[data-active]::after {
      border-color: var(--qni-semantic-border-color-active);
    }
  }

  /* data-grabbed */

  .operation-grabbable {
    &[data-grabbed] {
      @apply cursor-grabbing;
    }

    &[data-grabbed]:not([data-snapped]) {
      @apply z-40;
    }

    &[data-grabbed]::part(body) {
      @apply qpu-operation-bg-grab;
    }

    &[data-grabbed]::part(icon) {
      @apply text-white;
    }

    &[data-grabbed]::after {
      @apply border-none;
    }
  }

  /* data-disabled */

  .qpu-operation-disableable {
    &[data-disabled]::part(body) {
      background-color: var(--qni-semantic-fill-color-disabled);
    }
  }

  .qpu-operation-resizeable {
    &::part(resize-handle) {
      --qni-component-resize-handle-width: var(--qni-semantic-size-qpu-operation-base);
      --qni-component-resize-handle-height: var(--qni-semantic-size-qpu-operation-base-¾);

      --qni-component-resize-handle-fill-color-default: var(--qni-semantic-fill-color-handle);
      --qni-component-resize-handle-fill-color-hovered: var(--qni-semantic-fill-color-handle-hover);
      --qni-component-resize-handle-icon-color: var(--qni-semantic-color-icon-light);

      --qni-component-resize-handle-radius: var(--qni-semantic-radius-default);

      width: var(--qni-component-resize-handle-width);
      height: var(--qni-component-resize-handle-height);

      color: var(--qni-component-resize-handle-icon-color);
      background-color: var(--qni-component-resize-handle-fill-color-default);

      border-radius: var(--qni-component-resize-handle-radius);

      margin-top: var(--qni-semantic-spacing-resize-handle-overlap);

      @apply flex flex-row justify-center;
      @apply cursor-grab;
      @apply z-10;

      &:hover {
        background-color: var(--qni-component-resize-handle-fill-color-hovered);
      }
    }

    /* Show resize-handle only when hovering the mouse pointer */
    &::part(resize-handle) {
      @apply hidden;
    }

    /*
     * Do not display resize-handle
     * - on palette
     * - while dragging
     */
    circuit-dropzone &:not([data-grabbed]):hover::part(resize-handle) {
      @apply flex;
    }
  }

  .operation-draggable {
    touch-action: none;

    /* grabbable cursor style */
    circuit-editor palette-dropzone &,
    circuit-editor quantum-circuit:not([data-editing]) & {
      @apply cursor-grab;
    }

    quantum-circuit([data-editing]) &:not([data-operation-x='0']):not([data-operation-y='0']):hover::after {
      @apply border-opacity-100;
    }

    /* show trash icon */
    circuit-dropzone &:not([data-snapped])::part(icon)::before {
      @apply absolute -top-1/3 -right-1/3;
      @apply h-6 w-6;
      @apply z-10;

      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg fill="none" viewBox="0 0 24 24" stroke="%23111827" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" style="fill-rule:nonzero;fill:rgb(255, 255, 255)"/></svg>');
    }
  }

  .operation-ifable {
    &[data-if]::before {
      @apply absolute;
      @apply flex justify-center;
      @apply font-mono tracking-tighter;
      @apply text-xs leading-3;
      @apply whitespace-nowrap;
    }

    circuit-dropzone &[data-if]:not([data-if=''])::before {
      @apply top-0 left-0 right-0;
      @apply -mt-3.5;

      content: 'if\2009'attr(data-if);
    }

    circuit-dropzone &[data-angle][data-if]:not([data-angle='']):not([data-if=''])::before {
      content: attr(data-angle) '\2009if\2009'attr(data-if);
    }

    /* top label */
    circuit-dropzone:not([data-connect-top]) &[data-if]::before {
      @apply top-0 left-0 right-0;
      @apply -mt-3.5;
    }

    /* top label over wire */
    circuit-dropzone[data-connect-top][data-connect-bottom] &[data-if]::before {
      @apply top-0 left-0 right-0;
      @apply -mt-3.5;

      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff,
        -1px 0 0 #fff, 1px 0 0 #fff;
    }

    /* bottom label */
    circuit-dropzone[data-connect-top]:not([data-connect-bottom]) &[data-if]::before {
      @apply bottom-0 left-0 right-0;
      @apply -mb-3.5;
    }
  }
}

/* tooltip */

@layer utilities {
  .tooltip-bg {
    @apply bg-zinc-900;
  }

  .tooltip-px {
    @apply px-4;
  }

  .tooltip-py {
    @apply py-3;
  }

  .tooltip-border-radius {
    @apply rounded-lg;
  }

  .tooltip-arrow-top {
    @apply border-t-zinc-900;
  }

  .tooltip-arrow-bottom {
    @apply border-b-zinc-900;
  }

  .tooltip-arrow-left {
    @apply border-l-zinc-900;
  }

  .tooltip-arrow-right {
    @apply border-r-zinc-900;
  }

  .tooltip-heading {
    @apply font-bold;
    @apply leading-none !important;
    @apply text-lg;
    @apply text-white;
  }

  .tooltip-subheading {
    @apply leading-none !important;
    @apply text-sm;
    @apply text-zinc-200;
  }

  .tooltip-subheading-first {
    @apply mt-1;
  }

  .tooltip-subheading-second-and-subsequent {
    @apply mt-0.5;
  }

  .tooltip-body {
    @apply mt-4;
  }
}

@layer components {
  .operation-angleable {
    &[data-angle]::before {
      @apply absolute;
      @apply flex justify-center;
      @apply font-mono tracking-tighter;
      @apply text-xs leading-none;

      @apply top-0 left-0 right-0;
      @apply -mt-3;
    }

    &:not([data-reduced-angle=''])::before {
      content: attr(data-reduced-angle) '' !important;
    }

    &[data-reduced-angle='']:not([data-angle=''])::before {
      content: attr(data-angle) '';
    }

    &.angle-hidden::before,
    palette-dropzone &::before {
      @apply hidden !important;
    }

    /* top label */
    &[data-angle][data-size='sm']::before {
      @apply top-0 left-0 right-0;
      @apply -mt-3;
    }

    circuit-dropzone:not([data-connect-top]) &[data-angle]::before {
      @apply top-0 left-0 right-0;
      @apply -mt-3;
    }

    /* top label over wire */
    circuit-dropzone[data-connect-top][data-connect-bottom] &[data-angle]::before {
      @apply top-0 left-0 right-0;
      @apply -mt-3;

      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff,
        -1px 0 0 #fff, 1px 0 0 #fff;
    }

    /* bottom label */
    circuit-dropzone[data-connect-top]:not([data-connect-bottom]) &[data-angle]::before {
      @apply top-auto bottom-0 left-0 right-0;
      @apply -mb-3;
    }
  }
}

@layer components {
  .operation-flaggable[data-flag]::before {
    @apply hidden;
    @apply font-mono tracking-tighter;
    @apply text-xs leading-3;
    @apply absolute;
  }

  circuit-dropzone .operation-flaggable[data-flag]:not([data-flag=''])::before {
    @apply flex justify-center;

    content: attr(data-flag) '';
  }

  /* top label */
  circuit-dropzone:not([data-connect-top]) .operation-flaggable[data-flag]::before {
    @apply top-0 left-0 right-0;
    @apply -mt-3.5;
  }

  /* top label over wire */
  circuit-dropzone[data-connect-top][data-connect-bottom] .operation-flaggable[data-flag]::before {
    @apply top-0 left-0 right-0;
    @apply -mt-3.5;

    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff,
      -1px 0 0 #fff, 1px 0 0 #fff;
  }

  /* bottom label */
  circuit-dropzone[data-connect-top]:not([data-connect-bottom]) .operation-flaggable[data-flag]::before {
    @apply bottom-0 left-0 right-0;
    @apply -mb-3.5;
  }
}
