.qubit-circle {
  virtualized-grid[data-qubit-count='1'] &,
  virtualized-grid[data-qubit-count='2'] &,
  virtualized-grid[data-qubit-count='3'] & {
    @apply h-16 w-16;
  }
  virtualized-grid[data-qubit-count='4'] & {
    @apply h-12 w-12;
  }

  &__body {
    @apply relative;
    @apply h-full w-full;
  }

  &__magnitude {
    @apply absolute;
    @apply border-solid border-slate-200;
    @apply inset-px;
    @apply rounded-full;
  }

  /* circle-notation[data-qubit-count="1"] */
  &__magnitude {
    @apply border-2;
  }

  &__magnitude::after {
    @apply absolute;
    @apply inset-0;
    @apply rounded-full;
    @apply bg-sky-500;
    @apply origin-center scale-0 transform;

    content: '';
  }

  &[data-rounded-magnitude='0'] &__magnitude::after {
    @apply scale-0;
  }

  &[data-rounded-magnitude='0.1'] &__magnitude::after {
    transform: scaleX(0.1) scaleY(0.1);
  }

  &[data-rounded-magnitude='0.2'] &__magnitude::after {
    transform: scaleX(0.2) scaleY(0.2);
  }

  &[data-rounded-magnitude='0.3'] &__magnitude::after {
    transform: scaleX(0.3) scaleY(0.3);
  }

  &[data-rounded-magnitude='0.4'] &__magnitude::after {
    transform: scaleX(0.4) scaleY(0.4);
  }

  &[data-rounded-magnitude='0.5'] &__magnitude::after {
    transform: scaleX(0.5) scaleY(0.5);
  }

  &[data-rounded-magnitude='0.6'] &__magnitude::after {
    transform: scaleX(0.6) scaleY(0.6);
  }

  &[data-rounded-magnitude='0.7'] &__magnitude::after {
    transform: scaleX(0.7) scaleY(0.7);
  }

  &[data-rounded-magnitude='0.8'] &__magnitude::after {
    transform: scaleX(0.8) scaleY(0.8);
  }

  &[data-rounded-magnitude='0.9'] &__magnitude::after {
    transform: scaleX(0.9) scaleY(0.9);
  }

  &[data-rounded-magnitude='1'] &__magnitude::after {
    transform: scaleX(1) scaleY(1);
  }

  /* .qubit-circle__phase */

  &__phase {
    @apply absolute inset-px;
    @apply rounded-full border-solid border-slate-500;
    @apply origin-center transform;

    /* circle-notation[data-qubit-count="1"] */
    @apply border-2;
  }

  &__phase::after {
    @apply absolute top-0 right-0 left-0;
    @apply bg-slate-900;
    @apply h-1/2;
    @apply ml-auto mr-auto;
    @apply rounded-b;

    content: '';

    /* circle-notation[data-qubit-count="1"] */
    @apply w-0.5;
  }

  &:not([data-rounded-magnitude]) &__phase,
  &[data-rounded-magnitude='0'] &__phase {
    @apply scale-0;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='10'] &__phase {
    transform: rotate(-10deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='20'] &__phase {
    transform: rotate(-20deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='30'] &__phase {
    transform: rotate(-30deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='40'] &__phase {
    transform: rotate(-40deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='50'] &__phase {
    transform: rotate(-50deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='60'] &__phase {
    transform: rotate(-60deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='70'] &__phase {
    transform: rotate(-70deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='80'] &__phase {
    transform: rotate(-80deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='90'] &__phase {
    transform: rotate(-90deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='100'] &__phase {
    transform: rotate(-100deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='110'] &__phase {
    transform: rotate(-110deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='120'] &__phase {
    transform: rotate(-120deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='130'] &__phase {
    transform: rotate(-130deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='140'] &__phase {
    transform: rotate(-140deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='150'] &__phase {
    transform: rotate(-150deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='160'] &__phase {
    transform: rotate(-160deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='170'] &__phase {
    transform: rotate(-170deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='180'] &__phase {
    transform: rotate(-180deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='190'] &__phase {
    transform: rotate(-190deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='200'] &__phase {
    transform: rotate(-200deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='210'] &__phase {
    transform: rotate(-210deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='220'] &__phase {
    transform: rotate(-220deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='230'] &__phase {
    transform: rotate(-230deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='240'] &__phase {
    transform: rotate(-240deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='250'] &__phase {
    transform: rotate(-250deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='260'] &__phase {
    transform: rotate(-260deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='270'] &__phase {
    transform: rotate(-270deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='280'] &__phase {
    transform: rotate(-280deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='290'] &__phase {
    transform: rotate(-290deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='300'] &__phase {
    transform: rotate(-300deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='310'] &__phase {
    transform: rotate(-310deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='320'] &__phase {
    transform: rotate(-320deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='330'] &__phase {
    transform: rotate(-330deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='340'] &__phase {
    transform: rotate(-340deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='350'] &__phase {
    transform: rotate(-350deg);
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='360'] &__phase {
    transform: rotate(-360deg);
  }
}
