.qubit-circle {
  virtualized-grid[data-qubit-count='1'] &,
  virtualized-grid[data-qubit-count='2'] &,
  virtualized-grid[data-qubit-count='3'] & {
    @apply h-16 w-16;
  }
  virtualized-grid[data-qubit-count='4'] & {
    @apply h-12 w-12;
  }
  virtualized-grid[data-qubit-count='5'] &,
  virtualized-grid[data-qubit-count='6'] & {
    @apply h-8 w-8;
  }
  virtualized-grid[data-qubit-count='7'] &,
  virtualized-grid[data-qubit-count='8'] &,
  virtualized-grid[data-qubit-count='9'] &,
  virtualized-grid[data-qubit-count='10'] &,
  virtualized-grid[data-qubit-count='11'] & {
    height: 17px;
    width: 17px;
  }

  &__body {
    @apply relative;
    @apply h-full w-full;
  }

  &__magnitude {
    @apply absolute;
    @apply border-solid border-slate-200;
    @apply inset-px;
    @apply rounded-full;
  }

  virtualized-grid[data-qubit-count='1'] &__magnitude,
  virtualized-grid[data-qubit-count='2'] &__magnitude,
  virtualized-grid[data-qubit-count='3'] &__magnitude,
  virtualized-grid[data-qubit-count='4'] &__magnitude,
  virtualized-grid[data-qubit-count='5'] &__magnitude,
  virtualized-grid[data-qubit-count='6'] &__magnitude {
    @apply border-2;
  }
  virtualized-grid[data-qubit-count='7'] &__magnitude,
  virtualized-grid[data-qubit-count='8'] &__magnitude,
  virtualized-grid[data-qubit-count='9'] &__magnitude,
  virtualized-grid[data-qubit-count='10'] &__magnitude,
  virtualized-grid[data-qubit-count='11'] &__magnitude {
    @apply border;
  }

  &__magnitude::after {
    @apply absolute;
    @apply inset-0;
    @apply rounded-full;
    @apply bg-sky-500;
    @apply origin-center scale-0 transform-gpu;

    content: '';
  }

  &[data-rounded-magnitude='0'] &__magnitude::after {
    @apply scale-0 transform-gpu;
  }

  &[data-rounded-magnitude='0.1'] &__magnitude::after {
    @apply scale-10 transform-gpu;
  }

  &[data-rounded-magnitude='0.2'] &__magnitude::after {
    @apply scale-20 transform-gpu;
  }

  &[data-rounded-magnitude='0.3'] &__magnitude::after {
    @apply scale-30 transform-gpu;
  }

  &[data-rounded-magnitude='0.4'] &__magnitude::after {
    @apply scale-40 transform-gpu;
  }

  &[data-rounded-magnitude='0.5'] &__magnitude::after {
    @apply scale-50 transform-gpu;
  }

  &[data-rounded-magnitude='0.6'] &__magnitude::after {
    @apply scale-60 transform-gpu;
  }

  &[data-rounded-magnitude='0.7'] &__magnitude::after {
    @apply scale-70 transform-gpu;
  }

  &[data-rounded-magnitude='0.8'] &__magnitude::after {
    @apply scale-80 transform-gpu;
  }

  &[data-rounded-magnitude='0.9'] &__magnitude::after {
    @apply scale-90 transform-gpu;
  }

  &[data-rounded-magnitude='1'] &__magnitude::after {
    @apply scale-100 transform-gpu;
  }

  /* .qubit-circle__phase */

  &__phase {
    @apply absolute inset-px;
    @apply rounded-full border-solid border-slate-500;
    @apply origin-center transform-gpu;
  }

  virtualized-grid[data-qubit-count='1'] &__phase,
  virtualized-grid[data-qubit-count='2'] &__phase,
  virtualized-grid[data-qubit-count='3'] &__phase,
  virtualized-grid[data-qubit-count='4'] &__phase,
  virtualized-grid[data-qubit-count='5'] &__phase,
  virtualized-grid[data-qubit-count='6'] &__phase {
    @apply border-2;
  }
  virtualized-grid[data-qubit-count='7'] &__phase,
  virtualized-grid[data-qubit-count='8'] &__phase,
  virtualized-grid[data-qubit-count='9'] &__phase,
  virtualized-grid[data-qubit-count='10'] &__phase,
  virtualized-grid[data-qubit-count='11'] &__phase {
    @apply border;
  }

  &__phase::after {
    @apply absolute top-0 right-0 left-0;
    @apply bg-slate-900;
    @apply h-1/2;
    @apply ml-auto mr-auto;
    @apply rounded-b;

    content: '';
  }

  virtualized-grid[data-qubit-count='1'] &__phase::after,
  virtualized-grid[data-qubit-count='2'] &__phase::after,
  virtualized-grid[data-qubit-count='3'] &__phase::after,
  virtualized-grid[data-qubit-count='4'] &__phase::after,
  virtualized-grid[data-qubit-count='5'] &__phase::after,
  virtualized-grid[data-qubit-count='6'] &__phase::after {
    @apply w-0.5;
  }
  virtualized-grid[data-qubit-count='7'] &__phase::after,
  virtualized-grid[data-qubit-count='8'] &__phase::after,
  virtualized-grid[data-qubit-count='9'] &__phase::after,
  virtualized-grid[data-qubit-count='10'] &__phase::after,
  virtualized-grid[data-qubit-count='11'] &__phase::after {
    @apply w-px;
  }

  &:not([data-rounded-magnitude]) &__phase,
  &[data-rounded-magnitude='0'] &__phase {
    @apply scale-0 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='10'] &__phase {
    @apply -rotate-10 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='20'] &__phase {
    @apply -rotate-20 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='30'] &__phase {
    @apply -rotate-30 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='40'] &__phase {
    @apply -rotate-40 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='50'] &__phase {
    @apply -rotate-50 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='60'] &__phase {
    @apply -rotate-60 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='70'] &__phase {
    @apply -rotate-70 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='80'] &__phase {
    @apply -rotate-80 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='90'] &__phase {
    @apply -rotate-90 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='100'] &__phase {
    @apply -rotate-100 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='110'] &__phase {
    @apply -rotate-110 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='120'] &__phase {
    @apply -rotate-120 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='130'] &__phase {
    @apply -rotate-130 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='140'] &__phase {
    @apply -rotate-140 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='150'] &__phase {
    @apply -rotate-150 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='160'] &__phase {
    @apply -rotate-160 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='170'] &__phase {
    @apply -rotate-170 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='180'] &__phase {
    @apply -rotate-180 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='190'] &__phase {
    @apply -rotate-190 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='200'] &__phase {
    @apply -rotate-200 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='210'] &__phase {
    @apply -rotate-210 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='220'] &__phase {
    @apply -rotate-220 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='230'] &__phase {
    @apply -rotate-230 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='240'] &__phase {
    @apply -rotate-240 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='250'] &__phase {
    @apply -rotate-250 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='260'] &__phase {
    @apply -rotate-260 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='270'] &__phase {
    @apply -rotate-270 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='280'] &__phase {
    @apply -rotate-280 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='290'] &__phase {
    @apply -rotate-290 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='300'] &__phase {
    @apply -rotate-300 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='310'] &__phase {
    @apply -rotate-310 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='320'] &__phase {
    @apply -rotate-320 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='330'] &__phase {
    @apply -rotate-330 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='340'] &__phase {
    @apply -rotate-340 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='350'] &__phase {
    @apply -rotate-350 transform-gpu;
  }

  &:not([data-rounded-magnitude='0'])[data-rounded-phase='360'] &__phase {
    @apply -rotate-360 transform-gpu;
  }
}
