:root {
  --qni-semantic-size-qpu-operation-base: theme(width.8);
  --qni-semantic-size-qpu-operation-base-¾: theme(height.6);

  --qni-semantic-fill-color-handle: theme(colors.orange.400);
  --qni-semantic-fill-color-handle-hover: theme(colors.orange.500);

  --qni-semantic-radius-default: theme(borderRadius.DEFAULT);
}

.resize-handle {
  --qni-component-resize-handle-width: var(--qni-semantic-size-qpu-operation-base);
  --qni-component-resize-handle-height: var(--qni-semantic-size-qpu-operation-base-¾);

  --qni-component-resize-handle-fill-color-default: var(--qni-semantic-fill-color-handle);
  --qni-component-resize-handle-fill-color-hovered: var(--qni-semantic-fill-color-handle-hover);

  --qni-component-resize-handle-radius: var(--qni-semantic-radius-default);

  width: var(--qni-component-resize-handle-width);
  height: var(--qni-component-resize-handle-height);

  background-color: var(--qni-component-resize-handle-fill-color-default);

  border-radius: var(--qni-component-resize-handle-radius);
}

.resize-handle:hover {
  background-color: var(--qni-component-resize-handle-fill-color-hovered);
}
