:root {
  /* Sizing */
  --qni-semantic-size-qpu-operation-base: theme(width.8);
  --qni-semantic-size-qpu-operation-base-¾: theme(height.6);
  --qni-semantic-size-qpu-operation-xs: theme('spacing.4');
  --qni-semantic-size-qpu-operation-sm: theme('spacing.6');
  --qni-semantic-size-qpu-operation-base: theme('spacing.8');
  --qni-semantic-size-qpu-operation-lg: theme('spacing.10');
  --qni-semantic-size-qpu-operation-xl: theme('spacing.12');
  --qni-semantic-size-qpu-operation-2xl: theme('spacing.16');

  /* Spacing */
  --qni-semantic-spacing-outline-gap: theme('spacing[0.5]');
  --qni-semantic-spacing-handle-overlap: calc(-1 * theme('spacing.2'));

  /* Color */
  --qni-semantic-fill-color-default: theme(colors.emerald.500);
  --qni-semantic-fill-color-disabled: theme(colors.zinc.500);
  --qni-semantic-border-color-default: theme(colors.transparent);
  --qni-semantic-border-color-hover: theme(colors.zinc.300);
  --qni-semantic-border-color-active: theme(colors.purple.500);

  --qni-semantic-fill-color-handle: theme(colors.orange.400);
  --qni-semantic-fill-color-handle-hover: theme(colors.orange.500);

  --qni-semantic-color-icon-light: theme(colors.white);

  /* Border radius */
  --qni-semantic-radius-default: theme(borderRadius.DEFAULT);
  --qni-semantic-radius-outline: theme(borderRadius.md);
  --qni-semantic-radius-circular: theme(borderRadius.full);

  /* Border width */
  --qni-semantic-border-width-0: theme(borderWidth.0);
  --qni-semantic-border-width-outline: theme(borderWidth.2);
}
