write-gate {
  @apply qpu-operation;
  @apply qpu-operation-outlineable;
  @apply qpu-operation-hoverable;
  @apply qpu-operation-activateable;
  @apply qpu-operation-rectangular;
  @apply qpu-operation-grabbable;

  @apply operation-draggable;

  &::part(icon) {
    color: var(--qni-semantic-fill-color-disabled);
  }

  &[data-dark-mode]::part(icon) {
    @apply text-zinc-200;
  }

  circuit-dropzone &[data-snapped]::part(icon) {
    @apply origin-center transform-gpu;
    @apply rotate-90 sm:rotate-0;
  }

  &::part(value) {
    @apply absolute inset-0;
  }

  circuit-dropzone &[data-snapped]::part(value) {
    @apply origin-center transform-gpu;
    @apply rotate-90 sm:rotate-0;
  }

  &::part(value)::after {
    @apply flex items-center justify-center;
    @apply h-full w-full;
    @apply font-mono;
    @apply text-lg;
  }

  &[data-value='0']::part(value)::after {
    color: var(--qni-semantic-color-off);
    content: '0';
  }

  &[data-value='1']::part(value)::after {
    color: var(--qni-semantic-color-on);
    content: '1';
  }

  &.qpu-operation-xs::part(value)::after {
    @apply text-xs;
  }

  &.qpu-operation-sm::part(value)::after {
    @apply text-sm;
  }

  &.qpu-operation-base::part(value)::after {
    @apply text-lg;
  }

  &.qpu-operation-lg::part(value)::after {
    @apply text-xl;
  }

  &.qpu-operation-xl::part(value)::after {
    @apply text-2xl;
  }

  &.qpu-operation-2xl::part(value)::after {
    @apply text-4xl;
  }

  /* data-draggable-grabbed */

  &[data-draggable-grabbed]::part(icon) {
    @apply text-purple-400;
  }

  &[data-draggable-grabbed][data-value='0']::part(value)::after {
    @apply text-white;
  }

  &[data-draggable-grabbed][data-value='1']::part(value)::after {
    @apply text-white;
  }
}
