.dropzone {
  $self: &;

  @apply relative;

  &--palette {
    @apply w-#{$instruction-size-base};
    @apply h-#{$instruction-size-base};
    @apply mr-2;
  }

  &--circuit {
    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @apply w-#{map-get($instruction-size, $nqubit)};
        @apply h-#{map-get($instruction-size, $nqubit) + map-get($instruction-margin, $nqubit) * 2};
        @apply mx-#{map-get($instruction-margin, $nqubit)};

        @screen md {
          @apply w-#{$instruction-size-base + $instruction-margin-base};
          @apply h-#{$instruction-size-base};
          @apply mx-0;
        }
      }
    }

    &:nth-of-type(n + 2) {
      @screen md {
        @apply mt-#{$instruction-margin-base};
      }
    }

    .circuit-preview .circuit & {
      @apply w-#{$instruction-size-base + $instruction-margin-base};
      @apply h-#{$instruction-size-base};
      @apply mx-0;

      &:nth-of-type(n + 2) {
        @apply mt-4;
      }
    }
  }

  &--trash {
    @apply flex;
    @apply px-4 py-5;
  }

  &__wire {
    @apply absolute;
    @apply border-#{$wire-color};

    @apply border-l-#{$wire-width};
    @apply h-full;
    @apply ml-#{$instruction-size-base / 2};
    left: -#{$wire-width / 2}px;

    @screen md {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }

    #{$self}--palette &,
    #{$self}--trash &,
    #{$self}--no-wire & {
      @apply hidden;
    }

    #{$self}--wire-inactive & {
      @apply border-#{$wire-inactive-color};
    }

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @apply ml-#{map-get($instruction-size, $nqubit) / 2};

        @screen md {
          @apply border-l-0;
          @apply border-t-#{$wire-width};
          @apply h-4;
          @apply ml-0;
          @apply mt-4;
          @apply w-full;
          left: unset;
          top: -1px;
        }
      }
    }

    .circuit-preview .circuit & {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply h-4;
      @apply ml-0;
      @apply mt-4;
      @apply w-full;
      left: unset;
      top: -1px;
    }

    .draggable--write + &,
    .draggable--readout + & {
      @apply hidden;
    }
  }

  &__rw-wire {
    $rw-wire-length: 2;
    $rw-wire-length-mobile: 4;

    @apply absolute;
    @apply hidden;

    @apply border-l-#{$wire-width};
    @apply h-#{$rw-wire-length-mobile};
    @apply ml-#{$instruction-size-base / 2};
    left: -#{$wire-width / 2}px;

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @apply h-#{map-get($instruction-margin, $nqubit)};
        @apply ml-#{map-get($instruction-size, $nqubit) / 2};

        @screen md {
          @apply border-l-0;
          @apply border-t-#{$wire-width};
          @apply ml-0;
          @apply mt-#{$instruction-size-base / 2};
          @apply w-#{$rw-wire-length};
          left: unset;
        }
      }
    }

    .circuit-preview #{$self} & {
      @apply border-l-0;
      @apply border-t-#{$wire-width};
      @apply ml-0;
      @apply mt-#{$instruction-size-base / 2};
      @apply w-#{$rw-wire-length};
      left: unset;
    }

    .draggable--write ~ &,
    .draggable--readout ~ & {
      @apply block;
    }

    &--left {
      @apply top-0;

      @screen md {
        @apply left-0;
        top: -#{$wire-width / 2}px;
      }

      .draggable--write ~ & {
        @apply border-#{$wire-inactive-color};
      }

      .draggable--readout ~ & {
        @apply border-#{$wire-color};
      }

      .circuit-preview #{$self} & {
        @apply left-0;
        top: -#{$wire-width / 2}px;

        @screen md {
          @apply left-0;
          top: -#{$wire-width / 2}px;
        }
      }
    }

    &--right {
      @apply bottom-0;

      @screen md {
        @apply right-0;
        top: -#{$wire-width / 2}px;
      }

      .draggable--write ~ & {
        @apply border-#{$wire-color};
      }

      .draggable--readout ~ & {
        @apply border-#{$wire-inactive-color};
      }

      .circuit-preview #{$self} & {
        @apply right-0;
        top: -#{$wire-width / 2}px;
      }
    }
  }
}
