.dropzone {
  $parent: &;

  @apply relative;

  &--palette {
    @apply w-#{$instruction-size-base};
    @apply h-#{$instruction-size-base};
    @apply mr-2;
  }

  &--circuit {
    writing-mode: vertical-lr;

    @screen md {
      writing-mode: horizontal-tb;
    }

    .circuit-preview & {
      writing-mode: horizontal-tb;
    }

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @apply w-#{map-get($instruction-size, $nqubit)};
        @apply h-#{map-get($instruction-size, $nqubit) + map-get($instruction-size, $nqubit) / 2};

        @screen md {
          @apply w-#{$instruction-size-base + $instruction-size-base / 2};
          @apply h-#{$instruction-size-base};
          @apply mx-0;
        }
      }

      .circuit[data-nqubit="#{$nqubit}"] &:nth-of-type(n + 2) {
        @apply mr-#{map-get($instruction-size, $nqubit) / 2};

        @screen md {
          @apply mr-0;
          @apply mt-#{$instruction-size-base / 2};
        }
      }

      .circuit-preview .circuit[data-nqubit="#{$nqubit}"] &:nth-of-type(n + 2) {
        @apply mr-0;
      }
    }

    &:nth-of-type(n + 2) {
      @screen md {
        @apply mt-#{$instruction-size-screen-md / 2};
      }
    }

    .circuit-preview .circuit & {
      @apply w-#{$instruction-size-base * 1.5};
      @apply h-#{$instruction-size-base};
      @apply mx-0;
    }

    .circuit-preview &:nth-of-type(n + 2) {
      @apply mt-#{$instruction-size-screen-md / 2};
    }
  }
}
