.register-label-span {
  @apply border-gray-400;
  @apply flex;

  @apply border-b-2;
  @apply justify-center items-center;

  @screen md {
    @apply border-b-0;
    @apply border-r-2;
    @apply justify-end;
  }

  .circuit-preview & {
    @apply border-b-0;
    @apply border-r-2;
    @apply justify-end;
  }

  &__label {
    @apply whitespace-no-wrap;
    @apply font-semibold;
    writing-mode: vertical-lr;

    @apply mb-2;
    @apply text-base;

    @screen md {
      @apply mb-0;
      @apply mr-2;
      @apply text-base;
      writing-mode: horizontal-tb;
    }
  }

  .circuit[data-nqubit="3"] &__label {
    @apply text-3xl;

    @screen md {
      @apply text-base;
    }
  }

  .circuit-preview .circuit &__label {
    @apply mb-0;
    @apply mr-2;
    @apply text-base;

    writing-mode: horizontal-tb;
  }

  @for $i from 1 to 6 {
    &.span-#{$i} {
      @apply row-span-1;
    }

    @screen md {
      &.span-#{$i} {
        @apply col-span-1;
        @apply row-span-#{$i};
      }
    }

    .circuit-preview &.span-#{$i} {
      @apply col-span-1;
      @apply row-span-#{$i};
    }
  }
}
