.animate {
  &__jello {
    --animate-duration: 0.2s;
  }
}

.gate {
  @apply flex justify-center items-center;
  @apply relative;

  @each $nqubit in $nqubits {
    .circuit[data-nqubit="#{$nqubit}"] & {
      @apply w-#{map-get($instruction-size, $nqubit)};
      @apply h-#{map-get($instruction-size, $nqubit)};

      @screen md {
        @apply w-#{$instruction-size-base};
        @apply h-#{$instruction-size-base};
      }
    }
  }

  .draggable--palette &::before,
  &.connectable--lower-bit::before {
    @apply hidden;
  }

  &::before {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply font-mono;
    @apply leading-none;
    @apply text-gray-600;
    @apply whitespace-nowrap;

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @apply h-full;
        @apply top-0 left-0;
        @apply ml-#{map-get($instruction-size, $nqubit)};
        @apply text-#{map-get($gate-label-font-size, $nqubit)};

        writing-mode: vertical-lr;

        @screen md {
          @apply bottom-0;
          @apply h-auto;
          @apply mb-#{$instruction-size-base};
          @apply ml-0;
          @apply text-xs;
          @apply transform rotate-0;
          @apply w-full;

          top: unset;
          writing-mode: horizontal-tb;
        }
      }

      .circuit-preview .circuit[data-nqubit="#{$nqubit}"] & {
        @apply bottom-0;
        @apply h-auto;
        @apply mb-#{$instruction-size-base};
        @apply ml-0;
        @apply text-xs;
        @apply transform rotate-0;
        @apply w-full;

        top: unset;
        writing-mode: horizontal-tb;
      }
    }

    content: attr(data-gate-label) "";
  }

  .draggable--palette &::after,
  &.connectable--upper-bit::after,
  &:not(.connectable--upper-bit):not(.connectable--lower-bit)::after {
    @apply hidden;
  }

  &::after {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply font-mono;
    @apply leading-none;
    @apply text-gray-600;
    @apply whitespace-nowrap;

    @each $nqubit in $nqubits {
      .circuit[data-nqubit="#{$nqubit}"] & {
        @apply h-full;
        @apply mr-#{map-get($instruction-size, $nqubit)};
        @apply bottom-0 right-0;
        @apply text-#{map-get($gate-label-font-size, $nqubit)};

        writing-mode: vertical-lr;

        @screen md {
          @apply h-auto;
          @apply mr-0;
          @apply mt-#{$instruction-size-base};
          @apply text-xs;
          @apply top-0;
          @apply transform rotate-0;
          @apply w-full;

          bottom: unset;
          writing-mode: horizontal-tb;
        }
      }

      .circuit-preview .circuit[data-nqubit="#{$nqubit}"] & {
        @apply h-auto;
        @apply mr-0;
        @apply mt-#{$instruction-size-base};
        @apply text-xs;
        @apply top-0;
        @apply transform rotate-0;
        @apply w-full;

        bottom: unset;
        writing-mode: horizontal-tb;
      }
    }

    content: attr(data-gate-label) "";
  }

  .palette & {
    @screen md {
      @apply w-#{$instruction-size-base};
      @apply h-#{$instruction-size-base};
    }
  }

  .circuit-preview .circuit & {
    @apply w-#{$instruction-size-base};
    @apply h-#{$instruction-size-base};
  }

  @keyframes bg-fade {
    from {
      @apply bg-yellow-200;
    }

    to {
      @apply bg-transparent;
    }
  }

  &--updated {
    animation-duration: 1.5s;
    animation-name: bg-fade;
  }
}
