.angle-slider {
  @apply mb-4;
  @apply mt-2;
}

.angle-slider-target,
.angle-slider-target * {
  @apply select-none;
}

.angle-slider-target {
  @apply bg-polar;
  @apply border-2 border-swan;
  @apply relative;
  @apply rounded-full;
}

.angle-slider-base {
  @apply relative;
  @apply w-full h-full;
  z-index: 1;
}

.angle-slider-origin {
  height: 10%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  z-index: 1;
}

.angle-slider-touch-area {
  height: 100%;
  width: 100%;
}

// Slider size and handle placement;
.angle-slider-horizontal {
  @apply h-2;
  @apply mx-1;

  .angle-slider-handle {
    @apply w-5 h-5;
    @apply absolute -top-2 -right-3;
  }
}

// Handles and cursors;
.angle-slider-draggable {
  cursor: ew-resize;
}

.angle-slider-handle {
  @apply absolute;
  @apply bg-magnitude;
  @apply border-2 border-hare border-opacity-25;
  @apply cursor-pointer;
  @apply rounded-full;
  @apply shadow;
}

.angle-slider-active {
  @apply bg-superposition;
}

// pips
.angle-slider-pips {
  @apply absolute;
  @apply text-hare;
}

.angle-slider-value {
  @apply absolute;
  @apply text-xs text-wolf;
  @apply whitespace-nowrap;

  text-align: center;
}

.angle-slider-value-sub {
  @apply hidden;
}

// Markings;
.angle-slider-marker {
  @apply hidden;
}

// Horizontal layout;
.angle-slider-pips-horizontal {
  @apply pt-3;
  @apply w-full;
}

.angle-slider-value-horizontal {
  @apply transform -translate-x-1/2;
}
