@import "variables";

:root {
  --colors-cardinal: theme("colors.cardinal");
  --colors-eel: theme("colors.eel");
  --colors-fox: theme("colors.fox");
  --colors-magnitude: theme("colors.magnitude");
  --colors-snow: theme("colors.snow");
  --colors-superposition: theme("colors.superposition");
  --colors-swan: theme("colors.swan");
  --colors-wolf: theme("colors.wolf");
}

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "angle_slider";
@import "gate_popup";
@import "quantum_simulator";
@import "tippy";

@import "tailwindcss/utilities";
