$nqubits: 1, 2, 3, 4, 5, 6, 7, 8;

// Instructions
$instruction-size-extralarge: 12;
$instruction-size-large: 10;
$instruction-size-base: 8;
$instruction-size-small: 6;
$instruction-size-extrasmall: 4;
$instruction-size-screen-md: 8;

$instruction-size: (
  1: $instruction-size-extralarge,
  2: $instruction-size-extralarge,
  3: $instruction-size-large,
  4: $instruction-size-base,
  5: $instruction-size-small,
  6: $instruction-size-small,
  7: $instruction-size-extrasmall,
  8: $instruction-size-extrasmall,
);

$instruction-margin-extralarge: 4;
$instruction-margin-large: 4;
$instruction-margin-base: 4;
$instruction-margin-small: 2;
$instruction-margin-extrasmall: 1;

$instruction-margin: (
  1: $instruction-margin-extralarge,
  2: $instruction-margin-extralarge,
  3: $instruction-margin-large,
  4: $instruction-margin-base,
  5: $instruction-margin-small,
  6: $instruction-margin-small,
  7: $instruction-margin-extrasmall,
  8: $instruction-margin-extrasmall,
);

$instruction-label-font-size-extralarge: 4xl;
$instruction-label-font-size-large: 2xl;
$instruction-label-font-size-base: base;
$instruction-label-font-size-small: base;
$instruction-label-font-size-extrasmall: xs;

$instruction-label-font-size: (
  1: $instruction-label-font-size-large,
  2: $instruction-label-font-size-large,
  3: $instruction-label-font-size-large,
  4: $instruction-label-font-size-base,
  5: $instruction-label-font-size-small,
  6: $instruction-label-font-size-small,
  7: $instruction-label-font-size-extrasmall,
  8: $instruction-label-font-size-extrasmall,
);

$instruction-label-icon-size-extralarge: 8;
$instruction-label-icon-size-large: 6;
$instruction-label-icon-size-base: 5;
$instruction-label-icon-size-small: 4;
$instruction-label-icon-size-extrasmall: 4;

$instruction-label-icon-size: (
  1: $instruction-label-icon-size-extralarge,
  2: $instruction-label-icon-size-extralarge,
  3: $instruction-label-icon-size-large,
  4: $instruction-label-icon-size-base,
  5: $instruction-label-icon-size-small,
  6: $instruction-label-icon-size-small,
  7: $instruction-label-icon-size-extrasmall,
  8: $instruction-label-icon-size-extrasmall,
);

// Gate
$gate-color: green-500;
$gate-color-disabled: "white";
$gate-label-color: "white";
$gate-label-color-disabled: gray-300;
$gate-hover-color: pink-500;
$gate-shadow-color: pink-400;
$gate-border-width: 2;
$gate-border-color: gray-200;
$gate-source-color: indigo-500;

// Gate label
$gate-label-font-size-extralarge: base;
$gate-label-font-size-large: base;
$gate-label-font-size-base: base;
$gate-label-font-size-small: sm;
$gate-label-font-size-extrasmall: xs;
$gate-label-font-size-extraextrasmall: xxs;

$gate-label-font-size: (
  1: $gate-label-font-size-extralarge,
  2: $gate-label-font-size-large,
  3: $gate-label-font-size-large,
  4: $gate-label-font-size-base,
  5: $gate-label-font-size-small,
  6: $gate-label-font-size-small,
  7: $gate-label-font-size-extrasmall,
  8: $gate-label-font-size-extraextrasmall,
);

$gate-label-rotate: (
  1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 45,
);

// Wire
$wire-color: gray-600;
$wire-inactive-color: gray-200;
$wire-width: 2;

$connection-width-base: 4;
$connection-width: (
  1: 4,
  2: 4,
  3: 4,
  4: 4,
  5: 4,
  6: 4,
  7: 4,
  8: 2,
);

// Breakpoint
$breakpoint-color: yellow-300;
$breakpoint-color-hover: indigo-300;
$breakpoint-transition-duration: 75;
$breakpoint-width-px: 4;

// Qubit label
$qubit-label-font-color: gray-300;

// write & readout gate
$rw-gate-label-0-color: text-blue-500;
$rw-gate-label-1-color: text-red-500;
$rw-gate-label-01-color: text-purple-500;

$write-readout-gate-label-font-size: (
  1: $instruction-label-font-size-large,
  2: $instruction-label-font-size-large,
  3: $instruction-label-font-size-large,
  4: $instruction-label-font-size-base,
  5: $instruction-label-font-size-small,
  6: $instruction-label-font-size-small,
  7: $instruction-label-font-size-extrasmall,
  8: $instruction-label-font-size-extrasmall,
);

// Circle notation
$circle-notation-height: 44;
$circle-notation-height-mobile: (
  1: 32,
  2: 32,
  3: 20,
  4: 36,
  5: 20,
  6: 24,
  7: 40,
  8: 28,
);
$circle-notation-margin-top: 12;

// Qubit Circle
$qubit-circle-size-xl: 16;
$qubit-circle-size-large: 8;
$qubit-circle-size-base: 4;
$qubit-circle-size-sm: 2;

$qubit-circle-size: (
  1: $qubit-circle-size-xl,
  2: $qubit-circle-size-xl,
  3: $qubit-circle-size-xl,
  4: $qubit-circle-size-large,
  5: $qubit-circle-size-large,
  6: $qubit-circle-size-large,
  7: $qubit-circle-size-base,
  8: $qubit-circle-size-base,
);

$qubit-circle-size-mobile: (
  1: $qubit-circle-size-xl,
  2: $qubit-circle-size-xl,
  3: $qubit-circle-size-large,
  4: $qubit-circle-size-large,
  5: $qubit-circle-size-base,
  6: $qubit-circle-size-base,
  7: $qubit-circle-size-base,
  8: $qubit-circle-size-sm,
);

$qubit-circle-border-width-bold: 2;
$qubit-circle-border-width-base: 1;

$qubit-circle-border-width: (
  1: $qubit-circle-border-width-bold,
  2: $qubit-circle-border-width-bold,
  3: $qubit-circle-border-width-bold,
  4: $qubit-circle-border-width-bold,
  5: $qubit-circle-border-width-bold,
  6: $qubit-circle-border-width-base,
  7: $qubit-circle-border-width-base,
  8: $qubit-circle-border-width-base,
);

$qubit-circle-border-width-mobile: (
  1: $qubit-circle-border-width-bold,
  2: $qubit-circle-border-width-bold,
  3: $qubit-circle-border-width-bold,
  4: $qubit-circle-border-width-bold,
  5: $qubit-circle-border-width-base,
  6: $qubit-circle-border-width-base,
  7: $qubit-circle-border-width-base,
  8: $qubit-circle-border-width-base,
);

$qubit-circle-ket-font-size: (
  1: base,
  2: base,
  3: base,
  4: sm,
  5: sm,
  6: xxs,
);

$qubit-circle-ket-font-size-mobile: (
  1: base,
  2: base,
  3: sm,
  4: sm,
  5: xxs,
);
