circuit-dropzone {
  /* Size */
  @apply h-12 w-8;
  @apply sm:h-12 sm:w-8;
  @apply md:h-8 md:w-12;

  /* Wires */
  &::part(wires) {
    @apply overflow-visible;
    @apply transform-gpu origin-center;
    @apply rotate-90;
    @apply sm:rotate-90;
    @apply md:rotate-0;
  }

  &::part(wire-top),
  &::part(wire-bottom) {
    @apply text-green-500;
  }

  &::part(wire-input),
  &::part(wire-output) {
    @apply text-gray-200;
  }

  &[data-wire-top]::part(wire-top) {
    transform-origin: top;
    transform: translateY(-25%) scaleY(1.5);
  }

  &[data-wire-bottom]::part(wire-bottom) {
    transform-origin: bottom;
    transform: translateY(25%) scaleY(1.5);
  }

  &[data-input-wire-quantum]::part(wire-input),
  &[data-output-wire-quantum]::part(wire-output) {
    @apply text-gray-900;
  }

  &[data-operation-name="write-gate"]::part(wire-input),
  &[data-operation-name="measurement-gate"]::part(wire-input) {
    transform-origin: left;
    transform: scaleX(0.5);
  }

  &[data-operation-name="write-gate"]::part(wire-output),
  &[data-operation-name="measurement-gate"]::part(wire-output) {
    transform-origin: right;
    transform: scaleX(0.5);
  }
}
