.gate {
  &__body {
    @apply flex justify-center items-center;
    @apply relative;
    @apply w-full h-full;

    .gate-icon {
      @apply absolute inset-0;
      @apply stroke-current;

      bottom: -2px;
      height: calc(100% + 4px);
      left: -2px;
      right: -2px;
      top: -2px;
      width: calc(100% + 4px);
    }
  }

  &__body::after {
    @apply absolute inset-0;
    @apply border-2 border-cardinal;
    @apply opacity-0;

    content: "";
    will-change: opacity;
  }

  &:hover > &__body::after {
    @screen md {
      @apply opacity-100;
    }
  }
}
